
<table cellpadding="0" cellspacing="0" class="content">
	<tr>
		<td class="no-border width615">
			<?if($this->PageInfo['title']){?>
				<h1><?=$this->PageInfo['title']?></h1>
			<?}?>
		</td>

	</tr>
	<tr>
		<td style="border-bottom: 0 none;">
			<? if ($this->ViewEvent == 'AllNews') {
				$news = $this->News; 
				//_debug($news,1);
				if ($news) {
					for ($i = 0; $i < sizeof($news); $i++) {?>
						<div class="AboutContainer">
							<ul>
								<!--<li><a href="#" title=""><img src="/public/images/temp/about-1.jpg" alt="" /></a></li>-->
								<?if($news[$i]['introtext']){?>
									<li class="second">
										<h4><a href="/articles/view/<?= $news[$i]['url']?>.html" title=""><?=$news[$i]['title'];?></a></h4>
										<p><span><?=date($this->_get_system_variables('date_format'),$news[$i]['publish_ts'])?></span></p>
										<div class="intro">
											<?$introtext_mas = explode('</p>', $news[$i]['introtext']);?>
											<?$introtext_mas[count($introtext_mas)-2] = $introtext_mas[count($introtext_mas)-2].'<a href="/articles/view/'.$news[$i]['url'].'.html" title=""><img src="/public/images/red-list.png" alt="" /></a>';?>
											<?$news[$i]['introtext_more'] = implode('</p>', $introtext_mas);?>
											<?=$news[$i]['introtext_more'];?>
										</div>
									</li>
								<?}?>
							</ul>	
						</div>
					<?}?>
				<?}?>
				<div class="navigator"><?= $this->PageNavigator->Run() ?></div>
			<?}?>
			
			<?if($this->ViewEvent == 'View'){
				$news = $this->OneNews;
				$this->AddTitle($news['title']);
				//_debug($news,0);
				if($news){?>
					<div class="AboutContainer">
						<ul>
							<!--<li><a href="#" title=""><img src="/public/images/temp/about-1.jpg" alt="" /></a></li>-->
							<?if($news['fulltext']){?>
								<li class="second">
									<?//_debug($news, 0)?>
									<h4><?=$news['title'];?></h4>
									<p><span><?=$news['date']?></span></p>
									<?=$news['fulltext'];?>
									<p><span><a title="" class="back" href="/<?=$this->SiteLang == 'en'?$this->SiteLang.'/':''?>articles.html">« {[BACK_TO_ARTICLES]}</a></span></p>
								</li>
							<?}?>
						</ul>	
					</div>
				<?}?>
			<?}?>
		</td>
		
		
	</tr>
	
	
</table>