<div class="PageTitle">
	<ul>
		<li><a href="/" title="" class="arrow">Главная</a></li>
		<li><p>Вход для клиентов</p></li>
	</ul>
</div>
<div class="SingleText">
	
	<form action="" method="post">	
		<table class="input-form" cellpadding="2" cellspacing="2">
			<tr>
				<td>Логин</td>
				<?/* <td><input class="text-field ui-widget-content ui-corner-all" type="text" name="login" /></td> */?>
				<td><input class="text-field ui-widget-content ui-corner-all" type="text" name="email" /></td>
			</tr>
			<tr>
				<td>Пароль</td>
				<td><input class="text-field ui-widget-content ui-corner-all" type="password" name="password" /></td>
			</tr>
			<?/* <tr>
				<td></td>
				<td><input type="image" src="<?=$this->RootUrl?>public/images/enter.jpg"></td>
			</tr> */?>
		</table>
		<input class="but" type="submit" value="Войти"/>
		<input type="hidden" name="Event" value="Login"/>
		
	</form>
</div>