<div class="prod-description">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit'] && !$this->Perm['moderate']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<? } ?>
	</div></div>
	
	<div class="form-container">
		<div class="form"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<? if($this->DisplayError){ ?>
				<p class="error">Ошибка, проверте выделенные поля</p>
			<? } ?>
			<?if($this->FileError){?>
				<p class="error"><?=$this->FileError?></p>
			<?}?>
			
			<form action="" method="post" enctype="multipart/form-data">
			
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td class="min-width <?= $this->Errors['name'] ? 'error' : '' ?>"><label for="name">Название:</label></td>
						<td class="input"><input type="text" id="name" name="name" value="<?= $_POST['name'] ?  $_POST['name'] : $this->BrandInfo['name'] ?>" /></td>
					</tr>
					<!--<tr>
						<td class="min-width <?= $this->Errors['category'] ? 'error' : '' ?>"><label for="category">Страница:</label></td>
						<td class="input">
							<select name="category_id" class="small-width" id="category">
								<? 
									for($i = 0; $i < $this->Categories_sz; $i++)
									{
									 	$sel = $_POST['category_id'] ? $_POST['category_id'] : $this->BrandInfo['category_id'];
										
										if($this->Categories[$i]['level'] < $this->Categories[$i + 1]['level']){ ?>
										
											<option value="<?= $this->Categories[$i]['id'] ?>" <?= $this->Categories[$i]['id'] == $sel ? 'selected="selected"' : '' ?>><?= $this->Categories[$i]['title'] ?></option>
										<? } else { ?>
											<option value="<?= $this->Categories[$i]['id'] ?>" <?= $this->Categories[$i]['id'] == $sel ? 'selected="selected"' : '' ?>><?= $this->Categories[$i]['title'] ?></option>
										<? } ?>
								<? } ?>
							</select>
						</td>
					</tr>
					-->
					<tr>
						<td class="min-width <?= $this->Errors['order_by'] ? 'error' : '' ?>"><label for="order_by">Порядок:</label></td>
						<td class="input"><input type="text" id="order_by" name="order_by" value="<?= $_POST['order_by'] ?  $_POST['order_by'] : $this->BrandInfo['order_by'] ?>" /></td>
					</tr>
					<?
						if($_POST) {
							
							$state = $_POST['active'];
						}
						else {
						
							$state = $this->BrandInfo['active'];
						}
					?>
					
					<tr>
						<td class="min-width"><label for="state">Состояние:</label></td>
						<td class="input">
							<select class="small-width" name="state">
								<option value="1" <?= $state=='1' ? 'selected="selected"' : '' ?>>Активный</option>
								<option value="0" <?= $state=='0' ? 'selected="selected"' : '' ?>>Заблокированный</option>
							</select>
						</td>
					</tr>
					<?
						if($_POST) {
							
							$state = $_POST['show_in_all'];
						}
						else {
						
							$state = $this->BrandInfo['show_in_all'];
						}
					?>
					
					<!--<tr>
						<td class="min-width"><label for="show_in_all">Показывать на всех страницах:</label></td>
						<td class="input">
							<select id="show_in_all" name="show_in_all">
								<option value="1" <?= $state=='1' ? 'selected="selected"' : '' ?>>Не показывать</option>
								<option value="0" <?= $state=='0' ? 'selected="selected"' : '' ?>>Показывать</option>
							</select>
						</td>
					</tr>-->
					
					<tr>
						<?	
							$checked = 0;
							if($_POST['sidebar_r']){ 
								$checked  = 1;
							}elseif($this->BrandInfo['sidebar_r']){ 
								$checked  = 1;										
							}
						?>
						<td class="min-width"><label for="sidebar_r">Правая колонка:</label></td>
						<td class="input"><input type="checkbox" id="sidebar_r" style="width:auto;" name="sidebar_r" value="1" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> /></td>
					</tr>
					<tr>
						<?	
							$checked = 0;
							if($_POST['horizontal']){ 
								$checked  = 1;
							}elseif($this->BrandInfo['horizontal']){ 
								$checked  = 1;										
							}
						?>
						<td class="min-width"><label for="horizontal">Горизонтальная линия:</label></td>
						<td class="input"><input type="checkbox" id="horizontal" style="width:auto;" name="horizontal" value="1" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> /></td>
					</tr>
					<tr>
						<?	
							$checked = 0;
							if($_POST['vertical']){ 
								$checked  = 1;
							}elseif($this->BrandInfo['vertical']){ 
								$checked  = 1;										
							}
						?>
						<td class="min-width"><label for="vertical">Вертикальная линия:</label></td>
						<td class="input"><input type="checkbox" id="vertical" style="width:auto;" name="vertical" value="1" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> /></td>
					</tr>
					
					<tr>
						<td class="min-width <?= $this->Errors['code'] ? 'error' : '' ?>"><label for="firstname">Код баннера:</label></td>
						<td class="input">
							<textarea name="code" id="code"><?= $_POST['code']?  htmlspecialchars($_POST['code'], ENT_QUOTES) : $this->BrandInfo['code']?></textarea>
						
						</td>
					</tr>

					
					
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>banners/'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>