<div class="AzUsers">	<div class="top-panel"><div class="tp-right">
		<div class="module-title">Языковые константы</div>
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
	</div></div>	<div class="top-panel"><div class="tp-right">		<? if($this->Perm['edit']){ ?>			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New<?=$_REQUEST['lang_id'] ? '&lang_id='.$_REQUEST['lang_id'] : ''?>">Создать</a>		<? } ?>		<div class="filter">			<table cellpadding="0" cellspacing="0">			<tr>					<td>			<form action="<?= $this->RootUrl?>language-constants/" method="get">				<table cellpadding="0" cellspacing="0">					<tr>						<td><input type="text" name="keyword" value="<?= $_GET['keyword'] ? $_GET['keyword'] : ''?>"/></td>						<td><input type="submit" value="Поиск" /></td>					</tr>				</table>			</form>			</td>			</tr>			</table>		</div>			</div></div>		<? $this->Grid->Display() ?>		<? $this->PageNavigator->Run(); ?></div>