<!--script
page_managers = [];
page_managers1 = [];
<? if($_GET['Event'] == 'Edit'){ ?>
	<? foreach($this->PageInfo['videos'] as $key=>$image){ ?>
		page_managers[<?= $key ?>] = [<?= $image['id'] ?>, '<?= $image['title'] ?>', '<?= $image['url'] ?>'];
	<? } ?>
	<? foreach($this->PageInfo['alboms'] as $keys=>$images){ ?>
		page_managers1[<?= $keys ?>] = [<?= $images['id'] ?>, '<?= $images['title'] ?>'];
	<? } ?>
<? } ?>		


<?/*?>
relevant_news = [];
<? if($_GET['Event'] == 'Edit'){ ?>
	<? foreach($this->PageInfo['pages'] as $key=>$news){ ?>
relevant_news[<?= $key ?>] = [<?= $news['id'] ?>, '<?= $news['title'] ?>', '<?= $news['create_ts'] ?>'];
	<? } ?>
<? } ?>	
<?*/?>
/script-->


<div class="prod-description">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<? } ?>
	</div></div>
	
	<div class="form-container">
		<div class="form" style="width:100%"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<? if($this->DisplayError){ ?>
				<p class="error">Ошибка, проверте выделенные поля</p>
			<? } ?>
			<?if($this->FileError){?>
				<p class="error"><?=$this->FileError?></p>
			<?}?>
			<form action="" method="post" id="form" enctype="multipart/form-data">
				<div id="tabs1">
					<div id="tab_el_main" class="x-hide-display">
						<table cellpadding="0" cellspacing="0">

							<tr>
								<td class="min-width <?= $this->Errors['category'] ? 'error' : '' ?>"><label for="category">Родительская:</label></td>
								<td class="input">
									<select name="parent_id" class="small-width" id="category">
										<option value="0"></option>
										<? 
											for($i = 0; $i < $this->Pages_sz; $i++){
												if($_GET['Event'] == 'New'){
													$sel = $_GET['cat'] ? $_GET['cat'] : $_POST['parent_id'];
												}else{
													$sel = $_POST['parent_id'] ? $_POST['parent_id'] : $this->PageInfo['parent_id'];		
												}
										?>
												<option value="<?= $this->Pages[$i]['id'] ?>" <?= $this->Pages[$i]['id'] == $sel ? 'selected="selected"' : '' ?>><?= $this->Pages[$i]['title'] ?></option>
										<? } ?>
									</select>
								</td>
							</tr>
							
							<tr>
								<td class="min-width <?= $this->Errors['url'] ? 'error' : '' ?>"><label for="url">Ссылка:</label></td>
								<td class="input"><input type="text" id="url" name="url"  class="small-width" value="<?= $_POST['url'] ?  $_POST['url'] : $this->PageInfo['url'] ?>" /></td>
							</tr>
							<?	
								$checked = 0;
								if($_POST['publish']){ 
									$checked  = 1;
								}elseif($this->PageInfo['publish']){ 
									$checked  = 1;										
								}
							?>
							<tr>
								<td class="min-width"><label for="publish">Опубликован:</label></td>
								<td class="input"><input type="checkbox" id="publish" style="width:auto;" name="publish" value="1" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> /></td>
							</tr>
							
							<tr>
								<td colspan="2"><div class="hr">&nbsp;</div></td>
							</tr>
							
							<tr>
								<td class="min-width"><label for="publish">Особые настройки страницы:</label></td>
								<td class="input publish">
									<?											
										$view_list = 0;
										if($_POST['view_list']){ 
											$view_list  = 1;
										}elseif($this->PageInfo['view_list']){ 
											$view_list  = 1;
										}
										
										$view_album = 0;
										if($_POST['view_album']){ 
											$view_album  = 1;
										}elseif($this->PageInfo['view_album']){ 
											$view_album  = 1;
										}
										
										$show_comments = 0;
										if($_POST['show_comments']){ 
											$show_comments  = 1;
										}elseif($this->PageInfo['show_comments']){ 
											$show_comments = 1;
										}
										
										$front_left = 0;
										if($_POST['front_left']){ 
											$front_left  = 1;
										}elseif($this->PageInfo['front_left']){ 
											$front_left = 1;
										}
										
										$front_center = 0;
										if($_POST['front_center']){ 
											$front_center  = 1;
										}elseif($this->PageInfo['front_center']){ 
											$front_center = 1;
										}
										
										$red_link = 0;
										if($_POST['red_link']){ 
											$red_link  = 1;
										}elseif($this->PageInfo['red_link']){ 
											$red_link = 1;
										}
										
									?>
									<?/* <input type="checkbox" name="view_list" style="width: auto;" id="view_list" <?=( $view_list == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="view_list">Вывод списком под страниц (новости и т.д.)</label><br /> */?>
									<?/* <input type="checkbox" name="view_album" style="width: auto;" id="view_album" <?=( $view_album == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="view_album">Просмотр в виде альбома (арт сообщество)</label><br /> */?>
									<?/* <input type="checkbox" name="show_comments" style="width: auto;" id="show_comments" <?=( $show_comments == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="show_comments">Можно комментировать</label><br /> */?>
									<?/* <input type="checkbox" name="front_left" style="width: auto;" id="front_left" <?=( $front_left == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="front_left">Анонс слева на главной</label><br /> */?>
									<?/* <input type="checkbox" name="front_center" style="width: auto;" id="front_center" <?=( $front_center == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="front_center">Анонс по центру на главной</label><br /> */?>
									<input type="checkbox" name="front_bottom" style="width: auto;" id="front_bottom" <?=( $front_bottom == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="front_bottom">Показывать ссылку внизу на Главной</label><br />
									<?/* <input type="checkbox" name="red_link" style="width: auto;" id="red_link" <?=( $red_link == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="red_link">Подставлять ссылку в меню</label><br /> */?>
									<?/* <input type="text" name="top_link" style="width: auto;" id="top_link" value="<?= $_POST['top_link'] ?  $_POST['top_link'] : $this->PageInfo['top_link'] ?>" /><label for="top_link">Сылка в меню</label><br /> */?>
									
								</td>
							</tr>
							<?/*
							<tr>
								<td class="min-width <?= $this->Errors['publish_ts'] ? 'error' : '' ?>"><label for="publish_ts">Дата публикации:</label></td>
								<td class="input">
									<input type="text" id="publish_ts" class="NewsCalendarContainer" name="publish_ts" value="<?= $_POST['publish_ts'] ?  date("d.m.Y H:i",$_POST['publish_ts']) : date("d.m.Y H:i",($this->PageInfo['publish_ts'] ? $this->PageInfo['publish_ts'] : time())) ?>" />
									<input type="button" class="NewsCalendar" value="Календарь" onclick="displayCalendar(document.forms[0].publish_ts,'dd.mm.yyyy hh:ii',this,true)">
								</td>
							</tr>
							*/?>
							<tr>
								<td colspan="2"><div class="hr">&nbsp;</div></td>
							</tr>
							<tr>
								<td class="min-width">Отображать в Меню:</td>
								<td class="input publish">
									<?	
										/*
										$header_menu = 0;
										if($_POST['header_menu']){ 
											$header_menu  = 1;
										}elseif($this->PageInfo['header_menu']){ 
											$header_menu = 1;
										}
										*/
										
										$footer_menu = 0;
										if($_POST['footer_menu']){ 
											$footer_menu  = 1;
										}elseif($this->PageInfo['footer_menu']){ 
											$footer_menu = 1;
										}
									?>
									<?/* <input type="checkbox" name="header_menu" style="width: auto;" id="header_menu" <?=( $header_menu == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="header_menu">Верхнее</label><br /> */?>
									<input type="checkbox" name="footer_menu" style="width: auto;" id="footer_menu" <?=( $footer_menu == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="footer_menu">Да</label><br />
								<?/* </td>
							</tr>
							
							<?/* <tr>
								<td>
								</td>
								<td><?if ($this->PageInfo['filename']){?>
								    <img width="100px" src="/public/files/images/<?=$this->PageInfo['filename']?>" />
								<?}?></td>
							</tr>
							<tr>
								<td class="min-width "><label for="filename">Фото: </label></td>
								<td class="input"><input type="file" id="filename" name="filename" value="" /></td>
							</tr> */?>	
							<?/*
							<tr>
								<td></td>
								<td><?if ($this->PageInfo['filename_en']){?>
								    <img width="100px" src="/public/files/images/<?=$this->PageInfo['filename_en']?>" />
								<?}?></td>
							</tr>
							<tr>
								<td class="min-width "><label for="filename">Фото для меню (англ.): </label></td>
								<td class="input"><input type="file" id="filename_en" name="filename_en" value="" /></td>
							</tr>
							*/?>
						</table>
					</div>
					
					<div id="tab_el_ru" class="x-hide-display">
						<?= $this->_get_lang_html('ru'); ?>
					</div>
					<div id="tab_el_ua" class="x-hide-display">
						<?= $this->_get_lang_html('ua'); ?>
					</div>
					<div id="tab_el_en" class="x-hide-display">
						<?= $this->_get_lang_html('en'); ?>
					</div>
					
					<?/* <div id="tab_el_photo_gallery" class="x-hide-display">
						<table cellpadding="0" cellspacing="0">	
							<tr>
								<td colspan="2">
									
									 
									<a <?= !$_GET['id'] ? 'onclick=" $(\'redirect\').value =\'AddPhoto\'; $(\'form\').submit(); return false;"' : 'onclick="window.location.href=\''.$this->ModuleInfo['href'].'?Event=AddPhoto&id='.$_GET['id'].'\';"' ?> class="add-description" id="add-description" href="#">Добавить фото</a>
									<h4>Фото</h4>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<?if ($_GET['id']){?>
										<? $this->GridPhoto->Display() ?>
									<?}?>	
								</td>
							</tr>
						</table>
					</div> */?>

					<?/* <div id="tab_el_video" class="x-hide-display">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td class="min-width va-top <?= $this->Errors['body'] ? 'error' : '' ?>"><label for="body">Привязанное видео/аудио:</label></td>
								<td class="input">
									<input type="hidden" id="videos_ids" name="videos_ids" value="<?= $_POST['videos_ids'] ? $_POST['videos_ids'] : $this->PageInfo['videos_ids'] ?>"/>
									<input type="hidden" id="alboms_ids" name="alboms_ids" value="<?= $_POST['alboms_ids'] ? $_POST['alboms_ids'] : $this->PageInfo['alboms_ids'] ?>"/>
									<div class="news-chars" id="pages_video"></div>
								</td>
							</tr>
						</table>
					</div> */?>
					<?/*<div id="tab_el_comments" class="x-hide-display">
						<table cellpadding="0" cellspacing="0">	
							<tr>
								<td colspan="2">
									<?if ($_GET['id']){?>
										<? $this->GridComments->Display() ?>
									<?}?>	
								</td>
							</tr>
						</table>
					</div>*/?>
				</div>
				
				<table  cellpadding="0" cellspacing="0" >
					
					<tr>	
						<td colspan="2">
							<button type="submit" id="submit_btn" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>pages/?<?=$_REQUEST['lang']?'&amp;lang='.$_REQUEST['lang']:''?><?=$_REQUEST['cat']?'&amp;cat='.$_REQUEST['cat']:''?>'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
							<input type="hidden" name="redirect" value="" id="redirect" />
						</td>
					</tr>
				</table>
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>
