<div class="categories">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<? } ?>
	</div></div>
	
	<div class="form-container">
		<div class="form  big-width"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<? if($this->DisplayError){ ?>
				<p class="error">Ошибка, проверьте выделенные поля</p>
			<? } ?>
			<?	
				$display = '';
				$type = '';
					if($_POST){

						if($_POST['type'] == 'section'){ 
							
							$display  = 'style="display: none"';
							$type = 'section';
						}else{
							$type = 'question';
						}
					}else{
						if(!$this->CategoryInfo['parent_id']){ 
							
							$display  = 'style="display: none"';
							$type = 'section';
						}else{
							$type = 'question';
						}
					}
				?>
			<form action="" method="post">
			
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td class="min-width <?= $this->Errors[''] ? 'error' : '' ?>"><label for="">Добавить:</label></td>
						<td class="input">
							<select name="type" id="type" onchange="ChangeType(this, <?= $_GET['Event'] == 'New' ? 1 : 0 ?>);">
								<option value="section" <?= $type == 'section' ? 'selected' : ''?> >Раздел</option>
								<option value="question" <?= $type == 'question' ? 'selected' : ''?> >Вопрос</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['title'] ? 'error' : '' ?>"><label for="title">Заголовок:</label></td>
						<td class="input"><input type="text" style="width: 600px;" id="title" name="title" value="<?= $_POST['title'] ?  $_POST['title'] : $this->CategoryInfo['question'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['url'] ? 'error' : '' ?>"><label for="url">URL:</label></td>
						<td class="input"><input type="text" style="width: 600px;" id="url" name="url" value="<?= $_POST['url'] ?  $_POST['url'] : $this->CategoryInfo['url'] ?>" /></td>
					</tr>
					<?/*<tr>
						<td class="min-width <?= $this->Errors['order_by'] ? 'error' : '' ?>"><label for="order_by">Порядок (чем больше тем выше):</label></td>
						<td class="input"><input type="text" id="order_by" name="order_by" value="<?= $_POST['order_by'] ?  $_POST['order_by'] : $this->CategoryInfo['order_by'] ?>" /></td>
					</tr>*/?>
					
					<tr>
						<td class="min-width"><label for="publish">Опубликовано:</label></td>
						<td class="input publish">
							<?	
								$checked = 0;
								if($_POST){
									if($_POST['publish'] == 1){ 
										$checked  = 1;
									}else{
										$checked  = 0;
									}
								}else{
									if($this->CategoryInfo['publish'] == 1){ 
										$checked  = 1;
									}else{
										$checked  = 0;
									}
								}
							?>
							<input type="radio" name="publish" id="publish" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="publish">Да</label><br />
							<input type="radio" name="publish" id="publish_no" <?=( $checked == 0 ) ? 'checked="checked"':'' ?> value="0" /><label for="publish_no">Нет</label>
								
						
						</td>
					</tr>	
				</table>	
				<table cellpadding="0" cellspacing="0" id="question" <?= $display?>>
					<tr>
						<td class="min-width <?= $this->Errors['parent_id'] ? 'error' : '' ?>"><label style="margin-right: 67px" for="parent_id">Раздел:</label></td>
						<td class="input">
							<select name="parent_id">
								<option value="0">-- Раздел --</option>
								<?	$parent_id = $_POST['parent_id'] ? $_POST['parent_id'] : $this->CategoryInfo['parent_id'];
									for($i = 0; $i < $this->Categories_sz; $i++){ ?>
										<?if(!$this->Categories[$i]['parent_id']){?>
											<option value="<?= $this->Categories[$i]['id'] ?>" <?= $parent_id == $this->Categories[$i]['id'] ? 'selected="selected"' : '' ?>><?= $this->Categories[$i]['question'] ?></option>
										<?}?>
								<? } ?>
							</select>
						</td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['answer'] ? 'error' : '' ?>"><label style="margin-right: 67px" for="content">Ответ:</label></td>
						<td class="input">
							<textarea rows="5" cols="6" id="content" name="answer"><?= $_POST['answer'] ?  $_POST['answer'] : $this->CategoryInfo['answer'] ?></textarea>
						</td>
					</tr>
				</table>	
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>faq/<?=$_REQUEST['lang']?'?lang='.$_REQUEST['lang']:''?>'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>