<div class="AzUsers">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New<?=($_REQUEST['lang'] != '')?'&amp;lang='.$_REQUEST['lang']:''?>">Создать</a>
		<? } ?>
		
		
	</div></div>
	
	<? $this->CatList->Display() ?>
</div>
	