<div class="prod-description">
	<div class="top-panel"><div class="tp-right">
		
	</div></div>
	
	<div class="form-container">
		<div class="form"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">						
			<form action="" method="post" id="form" enctype="multipart/form-data">			
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td class="min-width <?= $this->Errors['page_title'] ? 'error' : '' ?>"><label for="page_title">Заголовок:</label></td>
						<td class="input"><input type="text" id="page_title" name="page_title"  class="small-width" value="<?= $_POST['page_title'] ?  $_POST['page_title'] : $this->PageInfo['page_title'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['url'] ? 'error' : '' ?>"><label for="url">Ссылка:</label></td>
						<td class="input"><input type="text" id="url" name="url"  class="small-width" value="<?= $_POST['url'] ?  $_POST['url'] : $this->PageInfo['url'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width va-top <?= $this->Errors['sklad'] ? 'error' : '' ?>"><label for="sklad">Ключевые слова:</label></td>
						<td class="input"><textarea cols="10"  class="small-width" id="meta_keywords" rows="5" name="meta_keywords"><?= $_POST['meta_keywords'] ?  $_POST['meta_keywords'] : $this->PageInfo['meta_keywords'] ?></textarea></td>
					</tr>
					<tr>
						<td class="min-width va-top <?= $this->Errors['sklad'] ? 'error' : '' ?>"><label for="sklad">Мета описание:</label></td>
						<td class="input"><textarea cols="10"  class="small-width" rows="5" id="meta_description" name="meta_description"><?= $_POST['meta_description'] ?  $_POST['meta_description'] : $this->PageInfo['meta_description'] ?></textarea></td>
					</tr>
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.close()"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<input type="hidden" name="Event" value="UpdateMeta" />
							<input type="hidden" name="redirect" value="" id="redirect" />
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>