HTML {
	height: 100%;
	background:#6485C0 url("../images/login/bg.jpg") repeat-x top left;
}
IMG{
	border: none;
}
BODY {
	margin: 0;
	padding: 0;
	height: 100%;
	position: relative;
	top:0px;
	left: 0px;
	background: url("../images/login/body-bg.png") no-repeat center top;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
LABEL{
	cursor: pointer;
}
.CreatorLogo{
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.login-container {
	height: 162px;
	width: 402px;
	margin: -110px 0 0 -201px;
	position: absolute;
	left: 50%;
	top: 50%;
	background: url("../images/login/form.png") repeat left top;
}



.login-container .lc-content {
	float: left;
	width: 100%;
	height: 100%;
	
}

.login-container.lc-error .lc-content {
	background: url("../images/login/no-enter.png") no-repeat 25px 55px;
}

.login-container .login-form {
	float: right;
	padding: 0px 20px 0 0;
}
.login-container .login-form.error{
	float: left;
	padding-left: 100px;
}

.login-container .login-form TABLE {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

.login-container .login-form H1 {
	font-size: 16px;
	font-weight: bold;
	color: #333333;
	margin: 0 0 0;
	padding:15px 0 0 0px;
}

.login-container.lc-error .login-form H1 {
	
}

.login-container .login-form FORM {
	margin: 0;
	padding: 0;
}

.login-container .login-form LABEL {
	font-size: 11px;
	font-weight: bold;
	margin: 0 12px 0 0;
}
.login-container .login-form TD{
	padding: 2px 0px;
}
.login-container .login-form INPUT.input-text {
	width: 165px;
	background: #CDD7E4;
	padding: 3px 0;
	border: 1px solid #5473A9;
}

.login-container .login-form INPUT.selected{
	background: #F1F4F8;
	padding: 3px 0;
	border: 1px solid #FF6701;
	width: 165px;
}

.login-container .login-form BUTTON {
	/*
margin: 15px 0 0 0;
*/
	padding: 3px 0 0px 0;
	height: 27px;
	border: none;
	background: url("../images/login/enter.gif") no-repeat 0 0;
	width: 91px;
	color: #000000;
	font-weight: bold;
	text-align: center;
	font-size: 11px;
	cursor: pointer;
	float: right;
}

.login-container .login-form .check {
	width: auto;
	cursor: pointer;
	margin:0px;
}

.login-container .login-form BUTTON:hover {
	background: url("../images/login/enter.gif") no-repeat 0 -27px;
}

.login-container .login-form .error {
	font-size: 11px;
	font-weight: bold;
	color: #A60004;
	padding: 0;
	vertical-align: bottom;
}

.login-container .login-form .error P {
	margin: 0 0 0 -6px;
	padding: 0;
}
