.FP_Container .front-page {
	margin: 0;
}
.FP_Container .front-page .items{
	width: 100px;
	height: 120px;
	float: left;
	margin: 10px 16px;
	border: 1px solid #EBEBEB;
}
.FP_Container .front-page .items A.module-link {
	display: block;
	float: left;
	margin: 4px;
	width: 64px;
	text-align: center;
	text-decoration: none;	
	
}

.FP_Container .front-page .items A.module-link.img{
	margin: 6px 18px;
}
.FP_Container .front-page .items A.module-link.link{
	margin: 2px 0;
	text-align: center;
	width: 100%;
}
.FP_Container .front-page .items:hover {
	background: #FFE398;
	border: 1px solid #B89B70;
}

.FP_Container .front-page A.module-link IMG {
	
	border: 1px solid #CCCCCC;
	width: 64px;
	height: 64px;
}

.FP_Container .front-page .items:hover IMG {
	border: 1px solid #939294;
	
}

.FP_Container .front-page A.module-item-link SPAN {
	font-size: 12px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
	color: #2B5199;
	display: block;
	text-align: center;
	margin: 3px 0 0 0;
}

.clear{
	clear: both;
}


.front-page H2{
	color: #333333;
	font-size: 14px;
	font-weight: normal;
}
.front-page H2{
	padding-left: 20px;
}
.front-page H2.ico-4{
	background: url("../images/group/page_edit.gif") no-repeat 0 0;
}
.front-page H2.ico-3{
	background: url("../images/group/icon_user.gif") no-repeat 0 0;
}
.front-page H2.ico-2{
	background: url("../images/group/list_settings.gif") no-repeat 0 0;
} 
.front-page H2.ico-1{
	background: url("../images/group/icon_home.gif") no-repeat 0 0;
} 

.front-page .divider{
	padding: 10px 20px 10px 20px;
	background: url("../images/divider.gif") no-repeat 20px 100%;
}