HTML{
	height:100%;
}
BODY {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	height:100%;
}

H1, H2, H3, H4, H5, H6, P, FORM {
	margin: 0;
	padding: 0;
}

IMG {
	border: none;
}

A {
	-moz-outline: none;
}

A:hover {
	text-decoration: none;
}

.header {
	float: left;
	width: 100%;
	/*height: 25px;*/
	background: url("../images/header/bg.gif") repeat-x left top;
}

.header A.btn-close {
	float: right;
	position: relative;
	top: -3px;
	line-height: 0px;
}

.header H1 {
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: right;
	color: #1C3462;
	margin: 0px 40px 0 0;
}
.logout{
	float: right;
	
}
.head-title{
	
	float: right;
}

.row {
	float: left;
	width: 100%;
}

TABLE.main-frame {
	float: left;
	width: 100%;
	clear: left;
}

TABLE.main-frame TD {
	vertical-align: top;
	width: 99%;
}

TABLE.main-frame TD.panel-cell {
	width: 1%;
	border: 1px solid #6593CF;
	border-top: none;
}

.top-panel {
	float: left;
	width: 100%;
	height: 24px;
	background: url("../images/top-panel/bg.jpg") repeat-x left bottom;
}

.top-panel .tp-right {
	float: left;
	width: 100%;
	height: 100%;
	background: url("../images/top-panel/right.jpg") no-repeat right bottom;
}

.top-panel IMG.close {
	float: right;
	position: relative;
	top: 7px;
	right: 9px;
}

.top-panel A.create-item {
	display: block;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #2B5199;
	background: url("../images/top-panel/new.gif") no-repeat left center;
	margin: 2px 0 0 30px;
	padding: 3px 0 3px 22px;
	width: 100px;
	float: left;
}

.top-panel A.remove-item {
	display: block;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #2B5199;
	background: url("../images/top-panel/remove.gif") no-repeat left center;
	margin: 2px 0 0 30px;
	padding: 3px 0 3px 22px;
	width: 110px;
	float: left;
	_margin-left: 15px;
}

.top-panel A.recover-item {
	display: block;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #2B5199;
	background: url("../images/top-panel/recover.gif") no-repeat left center;
	margin: 2px 0 0 30px;
	padding: 3px 0 3px 22px;
	width: 160px;
	float: left;
}

.top-panel .filter {
	float: left;
	padding: 2px 0 0 0;
}

@media all and (min-width: 0px) {
    .top-panel .filter {
		padding-top: 1px;
		padding-left: 10px;
	}
}

.top-panel .filter SELECT {
	font-size: 12px;
}

.form-container {
	float: left;
	width: 100%;
}

.form {
	clear: left;
	background: #C7D8ED;
	margin: 11px auto 0 auto;
}

.form TABLE {
	width: 100%;
}

.form .bt {
	background: url("../images/form/bt.gif") repeat-x left top;
}

.form .br {
	background: url("../images/form/br.gif") repeat-y right top;
}

.form .bb {
	background: url("../images/form/bb.gif") repeat-x left bottom;
}

.form .bl {
	background: url("../images/form/bl.gif") repeat-y left top;
}

.form .ctl {
	background: url("../images/form/ctl.gif") no-repeat left top;
}

.form .ctr {
	background: url("../images/form/ctr.gif") no-repeat right top;
}

.form .cbr {
	background: url("../images/form/cbr.gif") no-repeat right bottom;
}

.form .cbl {
	background: url("../images/form/cbl.gif") no-repeat left bottom;
	padding: 10px;
}

.form .hr {
	font-size: 0px;
	line-height: 0px;
	border-top: 1px solid #9EBBDD;
	border-bottom: 1px solid #FFFFFF;
	margin: 10px 0;
}

.form LABEL {
	font-size: 11px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	margin: 0 30px 0 7px;
}

.form TD.error LABEL {
	font-weight: bold;
	color: #CC0000;
}

.form TD H4 {
	font-size: 11px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: normal;
	margin: 0 0 5px 0;
	padding: 0;
}

.form TD A.add-description {
	display: block;
	float: right;
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #2B5199;
}

.form TABLE TD {
	padding: 1px;
	vertical-align: middle;
}

.form TABLE TD.va-top {
	vertical-align: top;
}

.form TABLE TD.min-width {
	width: 1%;
}

.form TABLE TD.input INPUT {
	border: 1px solid #A4AAB3;
	width: 98%;
}

.form TABLE TD.input SELECT {
	border: 1px solid #A4AAB3;
	width: 98%;
}

.form TABLE TD.input TEXTAREA {
	border: 1px solid #A4AAB3;
	width: 98%;
}
.form TABLE TD.input INPUT.small-width{
	width:350px;
}
.form TABLE TD.input SELECT.small-width{
	width:350px;
}
.form TABLE TD.input TEXTAREA.small-width{
	width:350px;
	height:100px;
}
.form BUTTON {
	background: none;
	border: none;
	margin: 0 0 0 10px;
	padding: 0;
	float: right;
}

.form BUTTON.save {
	width: 81px;
}

.form BUTTON.cancel {
	width: 81px;
}

.form P.error {
	font-size: 11px;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #CC0000;
	margin: 0 10px 10px 10px;
}

.az-users .form{
	width: 450px;
}

.az-users .form TABLE TD.input INPUT {
	width: 284px;
}

.categories {
	
}

.categories .form {
	width: 466px;
}

.categories .form LABEL {
	white-space: nowrap;
}

.categories .form .input INPUT {
	width: 255px;
}

.categories .form .input TEXTAREA {
	width: 255px;
}

.categories .form .input SELECT {
	width: 257px;
	_width: 259px;
}

html>body* .categories .form .input SELECT {
	width: 259px;
}

.prod-description .form {
	width: 90%;
}

.prod-description .form .input INPUT {
	width: 300px;
}

.prod-description .form TABLE TD.input TEXTAREA {
	height: 300px;
}

.prod-description .form TABLE TD.input TEXTAREA.small-width{
	height:70px;
}

.pn-pages {
	font-size: 10px;
	font-weight: bold;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	text-align: center;
	clear: both;
	padding: 10px 0 0 0;
}

.pn-pages A {
	color: #2B5199;
	margin: 0 2px;
}

.pn-pages SPAN {
	margin: 0 2px;
}

.file-manager-container {
	width: 100%;
	height: 600px;
	border: none;
}


.NewsTitle{

}
.categories .form .input.publish input{
	width:auto;
}
.categories .form .input input.NewsCalendarContainer{
	width:150px;
	
}
.categories .form .input input.NewsCalendar{
	width:80px;
}

.categories .form.big-width{
	width:98%;
}

.form table td.valign-top{
	vertical-align:top;
	padding:5px 0 0 0;
}

.categories .form .input input.NewsCalendarContainer.rekomendation{
	width:auto;
}
.top-panel .filter input.NewsCalendarContainer{
	width: 65px;
}

/* Azone 1.5 styles*/
TABLE.body-container{
	width:100%;
	padding-top:25px;
	position:relative;
	padding-bottom:25px;
	height:100%;
}

TD.body-container-td{
	height:100%;
}

.ext-grid-holder{
/*	height: 100%;*/
}
#main_container_popup,
#main_container{
	height: 100%;
}

/************* icons ******************/
.ux-grid-icon{
	height:16px;
	width:16px;
	cursor:pointer;
	margin:0px 3px;
	background: no-repeat top left;
	float:left;
	display:inline;
}
.ux-grid-empty-icon{
	height:16px;
	width:16px;
	margin:0px 3px;
	background: no-repeat top left;
	float:left;
	display:inline;
}

.ux-grid-icon-middle{
	margin:auto;
	display:block;
	float:none;
}

.cancel-icon{
	background-image: url("../images/small-icons/cancel.png");
}
.x-btn .add-icon,
.add-icon{
	background-image: url("../images/small-icons/add.png");
}

.x-btn .delete-icon,
.delete-icon{
	background-image: url("../images/small-icons/cancel.png");
}
.help-icon{
	background-image: url("../images/small-icons/help.png");
}
.edit-icon{
	background-image: url("../images/small-icons/pencil.png");
}
.accept-icon{
	background-image: url("../images/small-icons/accept.gif");
}
.no-accept-icon{
	background-image: url("../images/small-icons/no-accept.gif");
}
.arrow-down-icon{
	background-image: url("../images/small-icons/bullet-arrow-down.png");
}
.arrow-up-icon{
	background-image: url("../images/small-icons/bullet-arrow-up.png");
}

.test-icon{
	background-image: url("../images/small-icons/application_xp_terminal.png");
}

.test1-icon{
	background-image: url("../images/small-icons/award_star_bronze_1.png");
}

.ux-sort-save-icon{
	margin:3px 3px 0px;
	cursor:pointer;
}

.lang-rus{
	background-image: url("../images/countries/rus.gif");
}
.lang-eng{
	background-image: url("../images/countries/eng.gif");
}
.lang-fin{
	background-image: url("../images/countries/fin.gif");
}
.lang-de{
	background-image: url("../images/countries/de.gif");
}
.module-title{
	color:#15428B;
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:11px;
	font-weight:bold;
	padding-top: 5px;
	padding-left: 5px;
	float: left;
}


.group-ico-4{
	background: url("../images/group/page_edit.gif") no-repeat 0 0 !important;
}
.group-ico-3{
	background: url("../images/group/icon_user.gif") no-repeat 0 0 !important;
}
.group-ico-2{
	background: url("../images/group/list_settings.gif") no-repeat 0 0 !important;
} 
.group-ico-1{
	background: url("../images/group/icon_home.gif") no-repeat 0 0 !important;
} 
.group-add{
	background: url("../images/group/drop-add.gif") no-repeat 0 0 !important;
}

.group-edit{
	background: url("../images/group/page_edit.gif") no-repeat 0 0 !important;
}

.group-go{
	background: url("../images/group/action_go.gif") no-repeat 0 0 !important;
}

.group-nogo{
	background: url("../images/group/action_nogo.gif") no-repeat 0 0 !important;
}

#ext-comp-1003{
	background: url("../images/ajax-loader.gif") no-repeat center center !important;
}



/*

*/



DIV.images-view .x-panel-body{
	background: white;
	font: 11px Arial, Helvetica, sans-serif;
}

DIV.images-view .thumb{
	background: #dddddd;
	padding: 3px;
}

DIV.images-view .thumb-wrap.default .thumb{
	background: #ffc0c0;
}

DIV.images-view  .table-wrap{
	width:135px;
	height:100px;
	overflow:hidden;
}

DIV.images-view .thumb TABLE TD{
	width:135px;
	height:100px;
	text-align:center;
	vertical-align:middle;
	background:#ffffff;
	padding:0px;
}

DIV.images-view .thumb img{
	display:block;
	margin:auto;
}
DIV.images-view .thumb-wrap{
	float: left;
	margin: 4px;
	margin-right: 0;
	padding: 5px;
}
DIV.images-view .thumb-wrap span{
	display: block;
	overflow: hidden;
	text-align: center;
}

DIV.images-view .x-view-over{
    border:1px solid #dddddd;
    background: #efefef url(../../resources/images/default/grid/row-over.gif) repeat-x left top;
	padding: 4px;
}

DIV.images-view .x-view-selected{
	background: #eff5fb url(images/selected.gif) no-repeat right bottom;
	border:1px solid #99bbe8;
	padding: 4px;
}
DIV.images-view .x-view-selected .thumb{
	background:transparent;
}

DIV.images-view .loading-indicator {
	font-size:11px;
	background-image:url('../../resources/images/default/grid/loading.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding-left:20px;
	margin:10px;
}

.delete-icon{
	background-image:url(../images/delete.png) !important;
	background-repeat:no-repeat;
}

TABLE.image-holder{
	width:100%;
}

TABLE.image-holder TD{
	background:#FFFFFF;
	vertical-align:middle;
	text-align:center;
}

.news-chars{
	width:100%;
}
.object{
	width:100%;
	height:100px
}