<div class="categories">

	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		
	</div></div>
	
	<div class="form-container">
		<div class="form big-width"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<? if($this->DisplayError){ ?>
				<p class="error">Ошибка, проверте выделенные поля</p>
			<? } ?>
			
			<form action="" method="post" id="form" enctype="multipart/form-data">
			
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td class="min-width <?= $this->Errors['name'] ? 'error' : '' ?>"><label for="category">ФИО отправителя:</label></td>
						<td class="input">
							<input type="text" class="NewsTitle" value="<?=$_POST ? $_POST['name'] : $this->NewsInfo['name']?>" name="name" />
						</td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['email'] ? 'error' : '' ?>"><label for="category">E-mail отправителя:</label></td>
						<td class="input">
							<input type="text" class="NewsTitle" value="<?=$_POST ? $_POST['email'] : $this->NewsInfo['email']?>" name="email" />
						</td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['created_ts'] ? 'error' : '' ?>"><label for="create_ts">Дата создания:</label></td>
						<td class="input">
						
							<input type="text" id="create_ts" class="NewsCalendarContainer" name="create_ts" value="<?= $_POST['create_ts'] ?  date("d.m.y H:i",$_POST['create_ts']) : date("d.m.y H:i",$this->NewsInfo['create_ts']) ?>" />
							<input type="button" class="NewsCalendar" value="Календарь" onclick="displayCalendar(document.forms[0].create_ts,'dd.mm.yyyy hh:ii',this,true)">
						
						</td>
					</tr>
					
					<tr>
						<td class="min-width valign-top <?= $this->Errors['message'] ? 'error' : '' ?>"><label for="price">Сообщение:</label></td>
						<td class="input">
							<textarea rows="10" name="message" id="fulltext" cols="10" readonly="readonly"><?=$_POST ? $_POST['message']: $this->NewsInfo['message']?></textarea>
						</td>
					</tr>
					<?if(!$this->NewsInfo['new']){?>
						<tr>
							<td valign="top" class="min-width valign-top"></td>
							<td class="input">
								Ответ на это сообщение уже был отправлен. Изменения поля "Ответ" сохранены не будут.
							</td>
						</tr>
					<?}?>
					<tr>
						<td valign="top" class="min-width valign-top <?= $this->Errors['answer'] ? 'error' : '' ?>"><label for="price">Ответ:</label></td>
						<td class="input">
							<textarea rows="10" name="answer" id="content" cols="10"><?=$_POST ? $_POST['answer']: $this->NewsInfo['answer']?></textarea>
						</td>
					</tr>
					<tr>
						<td valign="top" class="min-width valign-top <?= $this->Errors['notes'] ? 'error' : '' ?>"><label for="price">Примечания:</label></td>
						<td class="input">
							<textarea rows="10" name="notes" id="notes" cols="10"><?= $_POST['notes'] ? $_POST['notes']: $this->NewsInfo['notes']?></textarea>
						</td>
					</tr>
					<?/* <tr>
						<td class="min-width "><label for="filename">Прикрепить файл: </label></td>
						<td class="input"><input type="file" id="filename" name="filename" value="" /></td>
					</tr> */?>
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/<?= $this->NewsInfo['new'] ? 'reply' : 'save'?>.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>news/'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
							<input type="hidden" name="redirect" value="" id="redirect" />
							<input type="hidden" name="new" value="<?= $this->NewsInfo['new']?>" id="new" />
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>