<div class="AzUsers">
	<div class="top-panel"><div class="tp-right">
		
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
	</div></div>
	
	<? $this->Grid->Display() ?>
	
	<? $this->PageNavigator->Run(); ?>
</div>
