<div class="categories">

	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<? } ?>
	</div></div>
	
	<div class="form-container">
		<div class="form big-width"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<? if($this->DisplayError){ ?>
				<p class="error">Ошибка, проверте выделенные поля</p>
			<? } ?>
			
			<form action="" method="post" id="form">
			
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td class="min-width <?= $this->Errors['title'] ? 'error' : '' ?>"><label for="category">Заголовок:</label></td>
						<td class="input">
							<input type="text" class="NewsTitle" value="<?=$_POST ? $_POST['title'] : htmlspecialchars($this->magazinesInfo['title'])?>" name="title" />
						</td>
					</tr>
					<?/*
						$sql = "SELECT `value` FROM language_constants 
								WHERE lang = 'ru' AND name = 'SHOPS_CATEGORIES'";
						$categories_temp = GetOne($sql);
						$categories_temp = explode(';', $categories_temp);
						$i = 1;
						foreach($categories_temp as $item){
							$categories[$i] = array('id' => $i, 'title' => $item);
							$i++;
						}
						//_debug($categories, 1);
					*/?>
					<?/* <tr>
						<td class="min-width"><label for="region">Категория:</label></td>
						<td class="input">
							<?
								$selected = 0;
								if($_POST['type']){
									$selected = $_POST['type'];	
								}elseif($this->magazinesInfo['type']){
									$selected = $this->magazinesInfo['type'];
								}
								echo _generate_SELECT(array(
									'name' 			=> 'type',
									'class'			=> '',
									'first_val' 	=> 0, 
									'first_title' 	=> 'Выберите категорию',
									'elements' 		=> $categories,
									'selected' 		=> $selected, 
									'val' 			=> array('val' => 'id', 'title' => 'title'),
									'event' 		=> 'onChange',
									'e_func' 		=> 'if($(this).value == \'2\'){$$(\'#region\').setStyle(\'display\', \'none\');}else{$$(\'#region\').setStyle(\'display\', \'table-row\');}',
								));
							?>
						</td>
					</tr> */?>
					
					<?/* <tr id="region" <?= $this->magazinesInfo['type'] == '2' || $_POST['type'] == '2' ? 'style="display:none;"' : ''?>>
						<td class="min-width"><label for="region">Область:</label></td>
						<td class="input">
							<?
								$selected = 0;
								if($_POST['parent_id']){
									$selected = $_POST['parent_id'];	
								}elseif($this->magazinesInfo['parent_id']){
									$selected = $this->magazinesInfo['parent_id'];
								}
								echo _generate_SELECT(array(
									'name' 			=> 'parent_id',
									'class'			=> '',
									'first_val' 	=> 0, 
									'first_title' 	=> 'Выберите область',
									'elements' 		=> $this->Regions, 
									'selected' 		=> $selected, 
									'val' 			=> array('val' => 'id', 'title' => 'name')
								));
							?>
						</td>
					</tr> */?>
					
					<?//$this->City = GetAll('SELECT * FROM city WHERE country_id = '.$selected.' ORDER BY name');?>
					<?/* <?$this->City = GetAll('SELECT * FROM city ORDER BY name');?>
					<tr>
						<td class="min-width"><label for="region">Город:</label></td>
						<td class="input">
							<?
								$selected = 0;
								if($_POST['parent_id']){
									$selected = $_POST['city'];	
								}elseif($this->magazinesInfo['city']){
									$selected = explode(',', $this->magazinesInfo['city']);
								}
								echo _generate_SELECT(array(
									'name' 			=> 'city',
									'class'			=> '',
									'first_val' 	=> 0, 
									'first_title' 	=> 'Выберите город',
									'elements' 		=> $this->City, 
									'selected' 		=> $selected, 
									'val' 			=> array('val' => 'id', 'title' => 'name')
								));
							?>
						</td>
					</tr> */?>
					<?/* <tr>
						<td class="min-width <?= $this->Errors['url'] ? 'error' : '' ?>"><label for="url">URL:</label></td>
						<td class="input">
							<input type="text" class="NewsTitle" value="<?=$_POST['url'] ? $_POST['url'] : htmlspecialchars($this->magazinesInfo['url'])?>" name="url" />
						</td>
					</tr> */?>
					<?/* <tr>
						<td class="min-width va-top <?= $this->Errors['content'] ? 'error' : '' ?>"><label for="body_<?= $this->Lang; ?>">Адрес:</label></td>
						<td class="input"><textarea cols="29" rows="7" name="content" id="content"><?= $_POST['content'] ?  $_POST['content'] : $this->magazinesInfo['content'] ?></textarea></td>
					</tr> */?>
		
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>news/'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
							<input type="hidden" name="redirect" value="" id="redirect" />
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>