@charset "utf-8";  
/* common */
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,input,button,textarea,p,blockquote,th,td{
	margin: 0;
	padding: 0;
}
img{
	border: none;
}
ul li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-size: 100%;
	font-weight: normal;
}
sup,sub{
	vertical-align: baseline;
}
input,button,textarea,select,optgroup,option{
 	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
input:focus,
.noFocus:focus{
	outline: none;
}
html{
	height: 100%;
	background: #000;
}
body{
	height: 100%;
	font-family: sans-serif;
	font-size: 15px;
	text-align: left;
	line-height: 18px;
	color: #fff;
	background: #000;
}
hr{
	border: solid 1px #6ee232;
	color: #6ee232;
	background: #6ee232;
}
a{
	text-decoration: none;
	outline: none;
	color: #529b2b;
}
.clear{
	display: block;
	clear: both;
	height: 0;
}
/* off */

.body{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background: #000 url('/public/images/bg.jpg') no-repeat center 60px;
}
.dark{
	/*background: #000 url('/public/images/bg-dark.jpg') no-repeat center 60px;*/
	background: #000 url('/public/images/bg-dark.jpg') no-repeat center 0px;
	/*background: url("/public/images/bg-dark.jpg") no-repeat scroll center 60px #000000;*/
}
/* header */
.header{
	margin: 0 auto;
	width: 1004px;
}
.logo{
	float: left;
	margin: 48px 0 0;
}
h1 {
    font-size: 30px;
    line-height: 30px;
    padding: 20px 0;
}
.header .h1{
	margin: 57px 0 0 32px;
	float: left;
	font-size: 35px;
	line-height: 35px;
}
.enter{
	margin: 55px 0 0;
	float: right;
	font-size: 12px;
	line-height: 14px;
	padding: 8px 0 7px 32px;
	background: url('/public/images/lock.png') no-repeat left center;
}
.enter span, .enter a, .list a{
	cursor: pointer;
	color: #fff;
	border-bottom: dashed 1px #fff;
	border-bottom: dashed 1px rgba(255,255,255,0.75);
}
.enter span:hover , .enter a:hover, .list a:hover{
	border-bottom: dotted 1px rgba(255,255,255,1);
}
.enter a{
	margin: 0px 5px;
}
.enter2{
	background: none repeat scroll 0 0 transparent;
    margin: 0;
    padding: 0;
}
.enter span{
	position: relative;
	top: 3px;
	display: inline-block; *display: inline; zoom: 1;
	text-align: center;
	cursor: pointer;
	padding: 0 12px;
	line-height: 20px;
	height: 20px;
	font-size: 12px;
	border: solid 1px #fff;
	/*color: #bbb;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);*/
/*	border-bottom: solid 1px #fff;
	border-bottom: solid 1px rgba(255,255,255,0.75);*/
	background: url('/public/images/but.png') repeat-x center center;
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
	-o-border-radius: 21px;
	border-radius: 21px;
	-webkit-transition: 0.25s ease all;
	-moz-transition: 0.25s ease all;
	-o-transition: 0.25s ease all;
	transition: 0.25s ease all;
}
.enter span:hover{
	background-image: url('/public/images/button.png');
	border-style: solid;
}
/* header off */

/* body */
.content{
	margin: 0 auto;
	width: 1004px;
}
.load{
	float: left;
	width: 328px;
	margin: 64px 0 0;
	background: url('/public/images/photo.png') no-repeat left top;
}
.camera{
	padding: 150px 0 0;
	font-size: 30px;
	line-height: 30px;
	background: url('/public/images/camera.png') no-repeat 56px 36px;
}
.camera a{
	display: inline-block; *display: inline; zoom: 1;
	color: #fff;
	text-align: center;
	cursor: pointer;
	padding: 0 12px;
	line-height: 40px;
	height: 42px;
	font-size: 18px;
	border: solid 1px #fff;
	/*color: #bbb;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.75);*/
/*	border-bottom: solid 1px #fff;
	border-bottom: solid 1px rgba(255,255,255,0.75);*/
	background: url('/public/images/but.png') repeat-x center center;
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
	-o-border-radius: 21px;
	border-radius: 21px;
	-webkit-transition: 0.25s ease all;
	-moz-transition: 0.25s ease all;
	-o-transition: 0.25s ease all;
	transition: 0.25s ease all;
}
.camera a:hover{
	background-image: url('/public/images/button.png');
/*	border-bottom: dotted 1px rgba(255,255,255,1);*/
}
.load h2{
	margin: 24px 0 0;
	font-size: 20px;
	line-height: 24px;
	color: #6ee232;
}
.desc{
	margin: 24px 0 0;
}
.photo{
	position: relative;
	float: right;
	width: 566px;
	margin: 52px 40px 68px;
}
.photo div{
	position: absolute;
	overflow: hidden;
	width: 276px;
	height: 280px;
	padding: 16px;
	background: #e4e4e4;
	border: solid 1px rgba(255,255,255,0.5);
	-webkit-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.75), 0 0 16px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 1px 1px 0 rgba(255,255,255,0.75), 0 0 16px rgba(0,0,0,0.75);
	box-shadow: inset 1px 1px 0 rgba(255,255,255,0.75), 0 0 16px rgba(0,0,0,0.75);
	right: 0;
	top: 0;
}
.photo div:first-child{
	right: auto;
	left: 0;
	top: 0;
}
.photo div.center{
	position: relative;
	left: 128px;
	right: auto;
	top: 52px;
}
.photo div a{
	display: inline-block; *display: inline; zoom: 1;
	width: 274px;
	height: 278px;
	border: solid 1px rgba(255,255,255,0.75);
	background-position: center center;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.25), inset -1px -1px 1px rgba(0,0,0,0.25);
	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.25), inset -1px -1px 1px rgba(0,0,0,0.25);
	box-shadow: inset 1px 1px 1px rgba(0,0,0,0.25), inset -1px -1px 1px rgba(0,0,0,0.25);
}
.photo div a img{
	position: absolute;
	right: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.contact{
	float: left;
	width: 328px;
	font-size: 20px;
	line-height: 20px;
	margin: 0px 0 0;
}
.contact li.no-padding{
	padding: 10px 0 10px 0px;
}
.contact li{
	padding: 10px 0 10px 80px;
	margin: 24px 0 0;
}
.manager{
	background: url('/public/images/manager.png') no-repeat left center;
}
.contact li.phone{
	padding: 20px 0 20px 80px;
	background: url('/public/images/phone.png') no-repeat left center;
}
.contact li.delivery{
	padding: 20px 0 20px 80px;
	background: url('/public/files/images/delivery.png') no-repeat left center;
}
.delivery A{
	color:#FFFFFF;
}
.help{
	background: url('/public/images/info.png') no-repeat left center;
}
.help A{
	color:#FFFFFF;
}
.list{
	float: right;
	width: 546px;
	font-size: 12px;
	line-height: 14px;
	margin: 24px 0 0;
}
.list li{
	margin-top: 12px;
}
.list li:first-child{
	margin-top: 0;
}
.text-box{
	padding: 20px;
	margin: 0px 0;
	overflow: hidden;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0 0 20px #585800;
	-moz-box-shadow: 0 0 20px #585800;
	-o-box-shadow: 0 0 20px #585800;
	box-shadow: 0 0 20px #585800;
}
.breadcrumb{
	padding: 10px 0 20px 0px;
	margin: 5px 0 10px 50px;
	font-size: 11px;
	line-height: 20px;
	color: #bbb;
}
.breadcrumb a{
	color: #bbb;
	text-decoration: underline;
}
.plain-text{
	font-size: 12px;
	line-height: 18px;
	color: #bbb;
}
.plain-text.user-account{
	border-top: 1px solid #1d410a;
	padding-top: 25px;
}
.plain-text h1{
	font-size: 30px;
	line-height: 30px;
	padding: 20px 0;
}
.plain-text h2{
	font-size: 18px;
	line-height: 20px;
	padding: 16px 0;
}
.plain-text h3{
	font-size: 14px;
	line-height: 18px;
	padding: 8px 0;
}
.plain-text .view-order{
	margin-left: 15px;
}

.ProducList td,
.ProducList th{
	text-align: center;
	border-left: 1px solid #1d410a;
	border-bottom: 1px solid #1d410a;
}
.ProducList tr{
	/*height: 50px;*/
	height: 30px;
}
.ProducList tr.odd{
	background-color: rgba(110,226,50,0.15);
}
.ProducList table{
	border-right: 1px solid #1d410a;
	border-top: 1px solid #1d410a;
}
.ProducList form label{
	/*display: block;*/
	cursor: pointer;
	line-height: 22px;
}
.ProducList .qq-order-button{
	margin-top: 15px;
}
/* body off */

/* footer */
.footer{
	padding-top: 77px;
	margin: 0 auto;
	width: 1004px;
	padding-bottom: 24px;
}
.copy{
	float: left;
	margin-top: 5px;
	font-size: 12px;
	line-height: 14px;
}
.copy a{
	display: inline-block; *display: inline; zoom: 1;
	margin-left: 32px;
	border-bottom: solid 1px #529b2b;
	border-bottom: solid 1px rgba(82,155,43,0.75);
}
.copy a:hover{
	border-bottom: dotted 1px rgba(82,155,43,1);
}

/* footer off */

/* form */
.bg{
	display: none;
	position: fixed;
	z-index: 9998;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: url('/public/images/bg.png');
/*	background: rgba(0,0,0,0.75);*/
}
.form-box{
	display: none;
	position: fixed;
	z-index: 9999;
	top: 0;
	width: 100%;
	height: 0;
	text-align: center;
}
.form{
	display: inline-block; *display: inline; zoom: 1;
	position: relative;
	top: -1140px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-o-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow: 0 0 20px #585800;
	-moz-box-shadow: 0 0 20px #585800;
	-o-box-shadow: 0 0 20px #585800;
	box-shadow: 0 0 20px #585800;
}
.form h2{
	color: #bbb;
	font-size: 22px;
	width: 604px;
	height: 41px;
	line-height: 40px;
	border: solid 1px #222;
	border-bottom: none;
	background: #000 url('/public/images/form-top.png') repeat-x left top;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	-o-border-radius: 20px 20px 0 0;
	border-radius: 20px 20px 0 0;
}	
.form-body{
	overflow: hidden;
	position: relative;
	width: 604px;
	height: 230px;	
	border: solid 1px #222;
	background: #000;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	-o-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
}
.login{
	float: left;
	width: 302px;
	height: 230px;	
	padding-right: 24px;
	background: #000 url('/public/images/form-body.png') repeat-x left top;
	-webkit-border-radius: 0 0 0 20px;
	-moz-border-radius: 0 0 0 20px;
	-o-border-radius: 0 0 0 20px;
	border-radius: 0 0 0 20px;
}
.register h3,
.forgot h3,
.login h3,
.reg h3{
	color: #bbb;
	font-size: 22px;
	line-height: 22px;
	padding: 16px 0 0;
}
.text-field{
	background: #ddd;
	color: #555;
	height: 42px;
	padding: 0 12px;
	font-size: 18px;
	border: none;
	-webkit-box-shadow: inset 1px 1px 0 #fff;
	-moz-box-shadow: inset 1px 1px 0 #fff;
	-o-box-shadow: inset 1px 1px 0 #fff;
	box-shadow: inset 1px 1px 0 #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
textarea.text-field{
	width: 204px;
	height: 84px;
}

.ph-count{
	background: #ddd;
	color: #555;
	height: 17px;
	padding: 0 12px;
	font-size: 14px;
	border: none;
	width: 20px;
	-webkit-box-shadow: inset 1px 1px 0 #fff;
	-moz-box-shadow: inset 1px 1px 0 #fff;
	-o-box-shadow: inset 1px 1px 0 #fff;
	box-shadow: inset 1px 1px 0 #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}

.count {
	clear: right;
	margin: 3px;	
}

.login .text-field{
	margin: 18px 0 0;
}
.but{
	display: inline-block; *display: inline; zoom: 1;
	text-align: center;
	cursor: pointer;
	width: 126px;
	line-height: 40px;
	height: 42px;
	font-size: 18px;
	border: solid 1px #fff;
	color: #bbb;
	text-shadow: 0 0 5px rgba(0,0,0,0.75);
	background: url('/public/images/but.png') repeat-x center center;
	-webkit-border-radius: 21px;
	-moz-border-radius: 21px;
	-o-border-radius: 21px;
	border-radius: 21px;
}
.submit{
	display: inline-block; *display: inline; zoom: 1;
	width: 226px;
	text-align: left;
	margin: 8px 0 0;
	white-space: nowrap;
}
.submit input{
	vertical-align: middle;
}
.remember{
	margin-left: 8px;
	font-size: 11px;
	line-height: 12px;
	cursor: pointer;
	color: #387e12;
	vertical-align: middle;
}
.reg{
	float: left;
	width: 214px;
	padding: 0 16px 0 32px;
	text-align: left;
}
.reg p{
	font-size: 12px;
	line-height: 18px;
	padding-top: 16px;
}
.button{
	color: #fff;
	width: 212px;
	background: url('/public/images/button.png') repeat-x center center;
}
.reg .button{
	margin-top: 38px;
}
.forgot,
.register{
	height: 230px;	
	background: #000 url('/public/images/form-body.png') repeat-x left top;
	-webkit-border-radius: 0 0 20px 20px;
	-moz-border-radius: 0 0 20px 20px;
	-o-border-radius: 0 0 20px 20px;
	border-radius: 0 0 20px 20px;
}
.hide{
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity: 0;
	opacity: 0;
}
.form-slider{
	position: relative;
	top: -230px;
}
.forgot .text-field,
.register .text-field{
	width: 360px;
	height: 38px;
}
.forgotten,
.registeren{
	display: inline-block; *display: inline; zoom: 1;
	width: 460px;
	text-align: left;
	margin-top: 20px;
}
.forgotten-h{
	font-size: 17px;
	color: #555;
	font-weight: bold;
	margin-right: 8px;
}
.error_msg{
	white-space: nowrap;
	color: #ff2626;
	font-size: 12px;
	font-style: italic;
	margin-left: 62px;
	padding: 2px 0 0;
	visibility: hidden;
}
.forgotten p,
.registeren p{
	color: #aaa;
	font-size: 13px;
	line-height: 16px;
}
.forgotten p a,
.registeren p a{
	color: #aaa;
	text-decoration: underline;
}
.forgotten .but{
	position: relative;
	width: 236px;
	right: -48px;
	margin-top: 4px;
	float: right;
}
.backward{
	display: inline-block; *display: inline; zoom: 1;
	cursor: pointer;
	font-size: 12px;
	margin-top: 18px;
	color: #387e12;
	padding-left: 12px;
	background: url('/public/images/lt.png') no-repeat left 5px;
}
.error,
.error-ico{
	-webkit-box-shadow: 0 0 20px #900;
	-moz-box-shadow: 0 0 20px #900;
	-o-box-shadow: 0 0 20px #900;
	box-shadow: 0 0 20px #900;
}
.error .forgotten .but{
	background: url('/public/images/button-e.png') repeat-x left top;
}
.error .error_msg{
	visibility: visible;
}
.error .forgot .text-field,
.error-ico{
	/*background: #ffbfbf url('/public/images/error.png') no-repeat 350px 9px;*/
	background: #ffbfbf url('/public/images/error.png') no-repeat 95% 50%;
	color: #000;
	-webkit-box-shadow: inset 1px 1px 0 #6a0b0b, inset -1px -1px 0 #6a0b0b;
	-moz-box-shadow: inset 1px 1px 0 #6a0b0b, inset -1px -1px 0 #6a0b0b;
	-o-box-shadow: inset 1px 1px 0 #6a0b0b, inset -1px -1px 0 #6a0b0b;
	box-shadow: inset 1px 1px 0 #6a0b0b, inset -1px -1px 0 #6a0b0b;
}
.registeren{
	text-align: center;
}
.registeren p{
	padding: 8px 0;
	text-align: left;
}
.register .text-field{
	width: 436px;
}
.register .backward{
	margin-top: 12px;
	position: absolute;
	left: 70px;
}
/* form off */

.error-ico{
	/*border: 3px solid red;*/
}

.text-box .menu{
	/*margin-bottom: 35px;*/
}
.text-box .menu li{
	/*background-color: #1D410A;*/
	background: url("/public/images/button-dark.png") repeat-x scroll center center transparent;
    float: left;
    margin-right: 10px;
    padding: 8px 0px;
	border-radius: 10px 10px 0 0;
}
.text-box .menu li:hover{
	background: url("/public/images/button.png") repeat-x scroll center center transparent;
}
.text-box .menu li.active{
	padding: 8px 10px;
	background: url("/public/images/button.png") repeat-x scroll center center transparent;
}
.text-box .menu li a{
	color: #bbbbbb;
	padding: 9px 10px;
}
.text-box .menu li:hover a{
	color: #ffffff;
}



























/* END */



.input-form TD{
	padding: 0 0 5px 0;
}

.reg.button.but{
	height: auto;
	width: 222px;
	padding: 5px 0px;
	text-align: center;
}

.Design {
    background: url("../images/design.png") no-repeat scroll left center transparent;
    color: #FFFFFF;
    float: right;
    font-size: 11px;
    padding: 5px 15px 5px 36px;
}


.qq-uploader TD{
	padding: 3px;
}

#ContactForm input{
	height: 30px;
}
#ContactForm textarea,
#ik_payment textarea{
	height: 150px;
	padding: 5px 0;
    margin: 10px 0;
    width: 263px;
}
#ik_payment input{
	position: relative;
    top: 2px;
	margin-right: 5px;
}
#ik_payment select{
	margin-left: 10px;
}
#ik_payment textarea{
	margin: 10px 0 0;
}
#ik_payment .address{
	margin: 0 0 5px 30px;
}
#ik_payment .address input{
	width: 400px;
	margin-left: 10px;
	top: 0;
}

#ContactForm .button{
	width: 128px;
}
.cont-acts li{
	font-size: 30px;
    line-height: 30px;
    padding: 20px 0;
}
.afterform{
	padding-top: 20px;
}

.plain-text .news-sect h2{
	padding-bottom: 0px;
}
.news-sect .date{
	color: #529B2B;
	font-size: 11px;
}
.pagenumbers UL LI A.activepage{
	background:  #529B2B;
	color:#000;
	font-weight: bold;
}
.pagenumbers UL LI A:HOVER{
	background: #CCCCCC;
}
.pagenumbers UL LI A{
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	
	background:  #EBEBEB;
	padding: 4px 8px;
}
.pagenumbers {
	text-align: center;
	padding: 10px 0px;
}
.pagenumbers UL,
.pagenumbers UL LI{
	display: inline-block;
	*display: inline;
	zoom:1;
	text-align: center;
}
.plain-text .news-sect  h1 span{
	color: #529B2B;
	font-size: 11px;
}
.plain-text .news-sect  h1{
	padding-bottom: 0px;
}

.qq-upload-success span.ph-quality,
.qq-upload-success span.ph-price,
.qq-upload-success span.count,
.qq-upload-success span.ph-ph-sum-price{
	margin-right: 20px;
}

.del-order{
	background-image: url('/public/images/delete.png');
	background-position: 0px 0px;
	display: block;
	float: left;
    width: 44px;
    height: 34px;
}
.del-order:hover{
	background-position: 0px -34px;
}

.edit-order{
	background-image: url('/public/images/edit.png');
	background-position: 0px 0px;
	display: block;
	float: left;
    width: 37px;
    height: 34px;
}
.edit-order:hover{
	background-position: 0px -34px;
}

.pay-order{
	background-image: url('/public/images/pay.png');
	background-position: 0px 0px;
	display: block;
	float: left;
    width: 39px;
    height: 34px;
}
.pay-order:hover{
	background-position: 0px -34px;
}

.view-order{
	background-image: url('/public/images/view.png');
	background-position: 0px 0px;
	display: block;
	float: left;
    width: 51px;
    height: 34px;
}
.view-order:hover{
	background-position: 0px -34px;
}

.params{
	margin-bottom: 15px;
}

#ik_payment .method{
	font-size: 18px;
	padding: 15px 0 5px;
}
#ik_payment .comment{
	font-size: 14px;
	padding: 15px 0 0;
}
#ik_payment-submit{
	margin-top: 15px;
}

.back{
	background: url("/public/images/button-dark.png") repeat-x scroll center center transparent;
    color: #BBBBBB;
    padding: 5px 10px;
	border-radius: 5px;
	float: right;
}
.back:hover{
    color: #FFFFFF;
	background: url("/public/images/button.png") repeat-x scroll center center transparent;
}

.contacts-info {
    float: left;
    margin-left: 20px;
}

.carttotal {
    margin: 0 0 7px 2px;
}

.ProducList .order-info{
	border: none;
	margin: 15px 0 0 10px;
}
.ProducList .order-info td{
	text-align: left;
	border: none;
	padding-right: 6px;
}

.how-start-work img{
	border: 1px dashed #999999;
}
.how-start-work P{
	text-align: center;
	
}
.close-win{
	position: absolute;
	cursor: pointer;
	top: -8px;
	right: -8px;
}

.submit input {
	color: #fff;
	background-image: url('/public/images/button.png');
}
.reg .button{
	background: url('/public/images/but.png') repeat-x center center;
	-webkit-transition: 0.25s ease all;
	-moz-transition: 0.25s ease all;
	-o-transition: 0.25s ease all;
	transition: 0.25s ease all;
}
.reg .button:hover{
	background-image: url('/public/images/button.png');
}


.right-2 .width-2 {
    right: 0;
    width: 600px;
}
.form-box.progress div.progress{
	background: url("../images/progress.gif") no-repeat  5% 50%;
}
.progress{
	padding: 40px;
}
.progress .info{
	font-size: 18px;
	margin-left: 80px;
	text-align: left;
}
.plain-text .form-box.progress  h2{
	padding: 0px;
}
.form-box.progress{
	width: 1004px;
}

/* --- ADD */

.je {
    min-width: 0;
}
body {
}
body {
    background-color: #E5E5E5;
    font: 13px Roboto,arial,sans-serif;
    height: 100%;
    margin: 0;
    overflow-y: scroll;
    visibility: visible;
}
body {
    visibility: hidden;
}
/* A.S. */

.photo-load-form {overflow:hidden;}
.mainbar .editable-page td {border:1px solid transparent; background-color:#ffffff;}
.mainbar .editable-page tr:first-child td{
color: #fff;
text-shadow: 0 2px 2px rgba(0,0,0,0.2);
background: #2cb3f1;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #2cb3f1 0%, #1497ea 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2cb3f1), color-stop(100%,#1497ea));
background: -webkit-linear-gradient(top, #2cb3f1 0%,#1497ea 100%);
background: -o-linear-gradient(top, #2cb3f1 0%,#1497ea 100%);
background: -ms-linear-gradient(top, #2cb3f1 0%,#1497ea 100%);
background: linear-gradient(to bottom, #2cb3f1 0%,#1497ea 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2cb3f1', endColorstr='#1497ea',GradientType=0 );
}