@charset "utf-8";
/*
	styles for select
*/
.cusel,
.cuselFrameRight,
.jScrollPaneDrag,
.jScrollArrowUp,
.jScrollArrowDown {
	background: #000;
}
.cusel { /* общий вид селекта включая стрелку справа */
	height: 20px;
	background-position: left top;
	display: inline-block;
	position: relative;
	cursor: pointer;
	font-size: 14px;
	z-index: 1;
	color: #fff;
}
.cuselFrameRight { /* левая чсть селект. обыно скругление и левая граница */
	position: absolute;
	z-index: 2;
	top: 0;
	right: 0;
	padding: 2px 0 0 0;
	height: 12px;
	width: 13px;
	background-position: right top;
}
.cuselFrameRight:before { /* левая чсть селект. обыно скругление и левая граница */
	content: "\25bc";
}

.cuselText { /* контейнер для отображенного текста селект */
	height: 13px;
	padding: 3px 0 0 5px; /* подбираем отступы и высоту для видимого текста в селекте */
	cursor: pointer;
	overflow: hidden;
	position: relative;
	z-index: 1;
	/*font-size: 10px; /* шрифты */
	font-size: 14px; /* шрифты */
	position: absolute;
	top: 0;
	left: 0;
}
* html .cuselText { /* высота блока для текста для ие6 */
	height: 14px;
}
.cusel span { /* оформление оптиона */
	display: block;
	cursor: pointer;
	color: #000;
	white-space: nowrap;
	padding: 5px 15px 5px 5px; /* паддинг справа - это отступ текста от ползунка */
	zoom: 1;
	height: 12px;
}
.cusel span:hover,
.cusel .cuselOptHover { /* реакция оптиона на наведение */
	background: #999;
	color: #000;
}
.cusel .cuselActive { /* оформление активного оптиона в списке */
	background: #f00 !important;
	color: #fff !important;
	font-weight: bold;
	cursor: default;
}

/*
	styles for focus and hover
*/
.cusel:hover,
.cusel:hover .cuselFrameRight,
.cusel:focus,
.cusel:focus .cuselFrameRight,
.cuselFocus,
.cuselFocus .cuselFrameRight {
	background: #000;
	color: #fff;
}

.cuselOpen {
	z-index: 999;
}

/*
	styles for disabled select
*/
.classDisCusel,
.classDisCusel .cuselFrameRight {
	background: #fff !important;
	cursor: default;
	color: #ccc;
}
.classDisCusel .cuselText {
	cursor: default;
}


/*
	styles for scrollbar
*/
.cusel .cusel-scroll-wrap { /* контейнер для блока с прокруткой */
	display: block;
	visibility: hidden;
	position: absolute;
	left: 0;
	top: 100%;
	background: #fff; /* фон выпадающего списка */
	min-width: 100%;
	width: auto;
}
.cusel .jScrollPaneContainer {
	position: relative;
	overflow: hidden;
	z-index: 5;
	border: 1px solid #000; /* границы выпадающего спиcка */
}

.cusel .jScrollPaneTrack { /* трек для ползунка прокрутки */
	height: 100%;
	width: 14px !important;
	border-left: solid 1px #000;
	background: #ccc;
	position: absolute;
	top: 0;
	right: 0px;
}
.cusel .jScrollPaneDrag { /* ползунок */
	position: absolute;
	background-position: -40px -26px;
	cursor: pointer;
	width: 12px !important;
	height: 12px !important;
	border: solid 1px #333;
	right: 0px;
	background: #999;
	
}

.cusel .jScrollPaneDragTop {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollPaneDragBottom {
	position: absolute;
	bottom: 0;
	left: 0;
	overflow: hidden;
}
.cusel .jScrollArrowUp { /* стрелка вверх */
	width: 16px !important;
	position: absolute;
	top: 0;
	right: -1px;
	height: 12px;
	cursor: pointer;
	background-position: -2px -26px;
	overflow: hidden;
}
.cusel .jScrollArrowUp:before { /* стрелка вверх */
	content: "\25b2";
	margin-left: 3px;
}
.cusel .jScrollArrowDown { /* стрелка вниз */
	width: 16px !important;
	height: 12px;
	position: absolute;
	top: auto;
	bottom: 0;
	right: -1px;
	cursor: pointer;
	background-position: -21px -26px;
	overflow: hidden;
	background: #000;
}
.cusel .jScrollArrowDown:before { /* стрелка вниз */
	content: "\25bc";
	margin-left: 3px;
}