	.mess-slider{	
		margin-left: -22px;
		padding: 0;
		position: relative;
		text-align: left;
	}	
	.mess-slider ul{		
		margin:0;
		width:auto;
/*		height:245px; */
		overflow:hidden;
	}
	.mess-slider ul li{
		background: url("../images/bg/mess-triangle.png") no-repeat 217px 0;
		float:left;
/*		overflow:hidden;	*/
		margin-left: 22px;	
		width: 297px;
		padding-top:18px;
		position:relative;
	}
	.mess-slider ul li .mess-text{
		font-family: 'cuprumregular';
		background:#f0eee9;
		color:#7a6966;
		height: 142px;
		line-height: 19px;
		padding: 24px 12px 10px;
		text-align: center;		
		/* CSS 3 */
		-moz-border-radius:10px;
		-webkit-border-radius:10px;
		border-radius:10px;
		-webkit-box-shadow: 1px 1px 0px 0px rgba(190, 174, 171, 0.75);
		-moz-box-shadow:    1px 1px 0px 0px rgba(190, 174, 171, 0.75);
		box-shadow:         1px 1px 0px 0px rgba(190, 174, 171, 0.75);
	}
	.mess-slider ul li:hover{color:#333;}
	.mess-slider ul li .image{
		margin:20px 20px 10px 20px;
		width:220px;
		height:150px;
		overflow:hidden;
		border:2px solid #fff;
		-moz-box-shadow:0 1px 1px #bbb;
		-webkit-box-shadow:0 1px 1px #bbb;
		box-shadow:0 1px 1px #bbb;
		}	
	.mess-slider ul h3{text-transform:uppercase;font-size:14px;font-weight:bold;margin:.25em 0;text-shadow:#f1f1f1 0 1px 0;}	
	.mess-slider ul .info{color:#999;text-shadow:#f1f1f1 0 1px 0;}	
	.mess-slider ol#pagination{    
		padding-top: 32px;
		position: relative;
		text-align: center;
	}
	.mess-slider ol#pagination li{
		display:inline-block;
		*display:inline; zoom:1; /* IE 7 */
		vertical-align:bottom;
		width:14px;
		height:14px;
		background:url("../images/easypaginate/bg_buttons.png") no-repeat 0 0;
		text-align:left;
		text-indent:-8000px;
		list-style:none;
		cursor:pointer;
		margin: 0 8px;
	}
	.mess-slider ol#pagination li:hover{background:url("../images/easypaginate/bg_buttons-act.png") no-repeat 0 0;}
	.mess-slider ol#pagination li.current{color:#f00;font-weight:bold; background:url("../images/easypaginate/bg_buttons-act.png") no-repeat 0 0;}
	.mess-slider ol#pagination li.prev, ol#pagination li.next{
		position:absolute;
		top:-150px;
		}
	.mess-slider ol#pagination li.prev{left:-30px;background:url(images/bg_buttons.png) no-repeat 0 -64px;}
	.mess-slider ol#pagination li.next{right:-30px;background:url(images/bg_buttons.png) no-repeat 0 -48px;}