.qq-uploader { position:relative; width: 100%;}

.qq-upload-button {
    display:block; /* or inline-block */
    width: 160px; padding: 7px 0; text-align:center;    
   
background: #047090;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#047090), to(#0c7897));
background: -webkit-linear-gradient(#047090, #0c7897);
background: -moz-linear-gradient(#047090, #0c7897);
background: -ms-linear-gradient(#047090, #0c7897);
background: -o-linear-gradient(#047090, #0c7897);
background: linear-gradient(#047090, #0c7897);
-pie-background: linear-gradient(#047090, #0c7897);
behavior: url(/public/htc/PIE.htc);
	
    
    color: #EBEBEB;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
-webkit-border-radius:  10px;
-moz-border-radius:  10px;
border-radius:  10px;
    margin-bottom: 5px;
}
.qq-upload-button-hover {background: #00a2d3;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#00a2d3), to(#00a2d3));
background: -webkit-linear-gradient(#00a2d3, #00a2d3);
background: -moz-linear-gradient(#00a2d3, #00a2d3);
background: -ms-linear-gradient(#00a2d3, #00a2d3);
background: -o-linear-gradient(#00a2d3, #00a2d3);
background: linear-gradient(#00a2d3, #00a2d3);
-pie-background: linear-gradient(#00a2d3, #00a2d3); color: white;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-order-button {
    display:block; /* or inline-block */
    width: 160px; padding: 7px 0; text-align:center;    
    
    cursor: pointer;
    margin-bottom: 5px;
	border: none;
	background: #047090;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#047090), to(#0c7897));
background: -webkit-linear-gradient(#047090, #0c7897);
background: -moz-linear-gradient(#047090, #0c7897);
background: -ms-linear-gradient(#047090, #0c7897);
background: -o-linear-gradient(#047090, #0c7897);
background: linear-gradient(#047090, #0c7897);
-pie-background: linear-gradient(#047090, #0c7897);
behavior: url(/public/htc/PIE.htc);
	
    
    color: #EBEBEB;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
-webkit-border-radius:  10px;
-moz-border-radius:  10px;
border-radius:  10px;
}

.left-side-menu {
	/* width: 215px; */
	/*float: left;		*/ 
	  float: right;
	   margin-top: 34px;
    width: 630px;
}
#params4all2 {
    margin-bottom: 50px;
}
/*#ik_payment {
    margin-left: -310px;
    margin-top: 66px;
}*/
.qq-upload-list li{
	padding: 4px;
}
.qq-upload-list li.row{
	background-color: rgba(202,212,215,0.35);
}
.qq-order-button:hover {background: #00a2d3;
background: -webkit-gradient(linear, 0 0, 0 bottom, from(#00a2d3), to(#00a2d3));
background: -webkit-linear-gradient(#00a2d3, #00a2d3);
background: -moz-linear-gradient(#00a2d3, #00a2d3);
background: -ms-linear-gradient(#00a2d3, #00a2d3);
background: -o-linear-gradient(#00a2d3, #00a2d3);
background: linear-gradient(#00a2d3, #00a2d3);
-pie-background: linear-gradient(#00a2d3, #00a2d3); color: white;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:100%; min-height: 70px; z-index:2;
    background:#FF9797; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#FF7171;}

.qq-upload-list {margin:15px 35px; padding:0; list-style:disc; overflow: hidden;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {
	font-weight: bold;	
	font-size: 15px;
}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

.qq-upload-img {float: left; margin: 0 10px 5px 0; width: 150px; height: 120px; overflow: hidden;}

.qq-upload-list li.qq-upload-fail{
	background: #AC0000;
	
}