*.pie {		
	position:relative;
	behavior: url("./public/css/PIE.htc");	
}

@font-face {
    font-family: 'cuprumregular';
    src: url('../fonts/cuprum_regular-webfont.eot');
    src: url('../fonts/cuprum_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cuprum_regular-webfont.woff') format('woff'),
         url('../fonts/cuprum_regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'jurademibold';
    src: url('../fonts/jura-demi-bold-webfont.eot');
    src: url('../fonts/jura-demi-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/jura-demi-bold-webfont.woff') format('woff'),
         url('../fonts/jura-demi-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

} 


BODY {
   background: #FFFFFF url("../images/bg/top-line-bg.jpg") repeat-x center top;
   color: #000000;
   font-family: 'cuprumregular',sans-serif;
   font-size: 16px;
   line-height: 100%;
   margin: 0;
   padding: 0;
   text-align: left;
}

.button.orange{
    background: #FD937F url("../images/buttons/orange-bt.png") repeat-x 0 0;
    font-family: 'jurademibold';
	color:#ffffff;
	font-size:25px;
    height: 46px;
    line-height: 100%;
	text-transform: uppercase;
	text-decoration:none;
	padding: 10px 22px 10px 17px;
	display:inline-block;
	*display:inline; zoom:1; /* IE 7 */
	vertical-align:top;
	cursor:pointer;
	border:none; 
	/* CSS 3 */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;	
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.47);
	-moz-box-shadow:    1px 1px 2px 0px rgba(0, 0, 0, 0.47);
	box-shadow:         1px 1px 2px 0px rgba(0, 0, 0, 0.47);	
}

.button.orange:hover{
	background-image: url("../images/buttons/orange-bt-act.png");
}
	
.button.orange SPAN{
    background: url("../images/buttons/polaroid.png") no-repeat left top;
    display: block;
    letter-spacing: -1px;
    padding: 12px 0 9px 66px;
}	


.button.yellow{
    background: #ffd267 url("../images/buttons/yellow-bt.png") repeat-x 0 0;
    font-family: 'jurademibold';
	color: #4a525b;
	font-size: 35px;
	text-transform: uppercase;
	text-decoration: none;
    height: 52px;
    line-height: 52px;
	padding: 8px 52px 0 65px;
	display: inline-block;
	*display: inline; zoom:1; /* IE 7 */
	vertical-align: top;
	cursor: pointer;
	border: none;
	/* CSS 3 */
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;	
	-webkit-box-shadow: 1px 1px 2px 0px rgba(0, 0, 0, 0.47);
	-moz-box-shadow:    1px 1px 2px 0px rgba(0, 0, 0, 0.47);
	box-shadow:         1px 1px 2px 0px rgba(0, 0, 0, 0.47);	
}

.button.yellow:hover{
	background:#ffd267;
}

/*Page*/
.wrap {
	
}

.page-wrap {
	width:998px;
	width:942px;
	margin:0 auto;
}

/*Header*/


.header {
	background: url("../images/bg/header-bg.gif") repeat-x left bottom;
	padding-bottom:7px; 
}

.header .logo{
	float:left;
	margin-top:29px;
	margin-left:12px;
}

.header .right{
    float: right;
    padding-right: 10px;
    padding-top: 14px;
}

.header .signin{
    border-left: 1px solid #697583;
    float: right;
    padding-left: 12px;
}

.header .signin .pic{
    height: 34px;
    padding-top: 8px;
}

.header .signin SPAN{
	color:#1796ee;
	font-size:20px;
	line-height:100%;
	display:block;
}

.header .nav{
	float:right; 
	padding-right:11px;
}

.header .nav LI{
	font-size:20px;
	float:left;
	text-align:center;
	margin-left:17px;
}

.header .nav LI A{
	color:#1796ee;
}

.header .nav LI A:hover SPAN{
	text-decoration:underline; 
}

.header .nav LI .pic{
    display: block;
    height: 36px;
    padding-top: 8px;
}

.header .logo .pic{
	float:left;
	width:110px;
}

.header .logo .h-title{
    font-family: 'jurademibold';	
	float:left;
}

.header .nav LI SPAN{
	display:block;
}

.header .name{
	color:#474f58;
	font-size:43px;
	line-height:100%;
	padding-top: 10px;
}

.header .name A{
	color:#474f58;	
}

.header .desc{
    color: #FFFFFF;
    font-size: 15px;
    line-height: 100%;
    padding-top: 14px;
}


/*Content*/
.content {
	
}

.content .mainbar{
    background: #1796EE;
    padding-bottom: 22px;
    padding-top: 24px;
}

.content .mainbar .page-wrap{
	position:relative;
}

.mainbar .sidebar{
	color:#ffffff;	
	width:275px;
}

.sidebar .info-list .item{
	min-height:140px;
}

.mainbar .sidebar.left{
	float:left;
	padding-left: 13px;
}

.mainbar .sidebar.right{
	float:right;
	padding-right: 10px;
}

.sidebar.left .info-list .img{
	float:left;
}

.sidebar.left .info-list .txt{
	margin-left:90px;
}

.sidebar.right .info-list .img{
	float:right;
}

.sidebar.right .info-list .txt{
	margin-right:90px;
	text-align:right;
}

.sidebar .info-list .txt{
	font-size:18px;
	line-height:100%;
}

.sidebar .info-list .txt H3{
	font-size:22px;
	line-height:100%;
	text-transform:uppercase;
	padding-bottom:6px; 
}

.mainbar .photo-bar{
    margin: 0 311px -69px;
    position: relative;
    top: -69px;
	padding-bottom:8px; 
}	

.mainbar .photo-bar .button{
	position:absolute;
	bottom:0;
	left:10px;
}

.content .coments{
	background:#81adff;
	padding-top:34px; 
	padding-bottom:38px;
}

.mess-slider .mess-text H2{
    color: #194D72;
    font-size: 16px;
    left: 0;
    line-height: 100%;
    padding-right: 12px;
    position: absolute;
    right: 0;
    text-align: right;
    top: -19px;
    z-index: 10;
}

.mess-slider .mess-text .date{
    padding-left: 30px;
	display:inline-block;
	*display:inline; zoom:1; /* IE 7 */
	vertical-align:top;	
}

.content .service{
	padding-top:22px;
	padding-bottom:27px;
}

.service .price-table{
    margin-left: -20px;
    padding-top: 11px;
}

.service H2{
	color:#474f58;
	font-size:34px;
	line-height:100%;
	text-align:center;
	text-transform:uppercase; 
}

.service .price-td{
    background: #F8F5EF;
    float: left;
    padding: 16px 13px 24px;
    width: 274px;
	margin-left: 20px;
	/* CSS 3 */
	-webkit-box-shadow: 1px 1px 0px 0px rgba(190, 174, 171, 0.75);
	-moz-box-shadow:    1px 1px 0px 0px rgba(190, 174, 171, 0.75);
	box-shadow:         1px 1px 0px 0px rgba(190, 174, 171, 0.75);	
}

.service .violet-title{
	font-size:25px;
	line-height:100%;	
	text-transform:uppercase; 
	text-align:center;	
	padding-bottom:20px;
}

.service .violet-title H3{
	padding-top:8px;
}

.service .violet-title.green{
	color:#84ab65;
}

.service .violet-title.red{
	color:#f28671;
}

.service .violet-title.blue{
	color:#137cc5;
}

.service .price-td .txt{
	color:#474f58;
	font-size:18px;
	line-height:22px;
	height:260px;
	margin-bottom:26px;
	padding-right:10px;
	overflow:hidden;
}

.service .price-td .txt P{ 
	padding-bottom:20px;
}

.service .price-td .details{
	color:#1796ee;
	font-size:16px;
	line-height:100%;
	text-transform:uppercase;
	text-decoration:underline;
} 

.service .price-td .details:hover{
	text-decoration:none; 
}

.content .contact-form{
	background:#f0eee9 url("../images/bg/c-form-bg.png") repeat-x center top;
	padding-top:44px;
	padding-bottom:20px;
}

.contact-form .mobile{
	background: url("../images/bg/mobile-bg.png") no-repeat center bottom;
	padding-bottom:21px;
	padding-left:8px;
}

.contact-form .mobile LI{
	color:#4a525b;
    display: inline-block;
	*display:inline; zoom:1; /* IE 7 */
	vertical-align:bottom;	
    font-size: 30px;
    line-height: 100%;
    margin-left: 33px;	
}

.contact-form .mobile LI:first-child{
	margin-left:0;
}

.contact-form .mobile LI IMG{
	display:inline-block;
	*display:inline; zoom:1; /* IE 7 */
	vertical-align:bottom;
}

.contact-form .mobile LI SPAN{
    display: inline-block;
    padding-left: 12px;
	*display:inline; zoom:1; /* IE 7 */
	vertical-align:bottom;
}

.contact-form .f-left{
	float:left;
	padding-top:5px;
}

.contact-form .f-left P{
	padding-top:28px;
}

.contact-form .f-right{
	float:right;
	padding-top:33px;
}

.contact-form INPUT[type="text"]{
    background: url("../images/bg/c-form-input.png") no-repeat 0 0;
    border: none;
    color: #4A525B;
    font-family: 'cuprumregular';
    font-size: 16px;
    height: 52px;
    line-height: 52px;
    padding: 0 24px;
    width: 410px;
	text-transform:uppercase;	
	outline:none;
}

.contact-form TEXTAREA{
    background: url("../images/bg/c-form-mess.png") no-repeat 0 0;
    border: none;
    color: #4A525B;
    font-family: 'cuprumregular';
    font-size: 16px;
    height: 94px;
    line-height: 100%;
    padding: 20px 34px;
    width: 390px;
	resize:none;
	text-transform:uppercase;
	outline:none;	
}

.contact-form .btn-wr{
	text-align:right;
	padding-top:20px;
}	

.delivery{
	padding-bottom:348px;
}

.delivery .service .violet-title{
	padding-bottom:4px;
}

.delivery .service .violet-title H3 {
    line-height: 30px;
    min-height: 60px;
    padding-top: 8px;
}

.delivery .service .price-td{
	padding-bottom:14px;
}

.delivery .service .price-td .txt{
	padding-right:0;
	margin-bottom:0;
	height: 396px;
}

.delivery .d-info{
	padding-top:17px;
}

.delivery .d-info H3{
	color:#84ab65;
	font-size:30px;
	line-height:36px;
}		

.delivery .d-info .btn{
	text-align:center;
	padding-top:22px;
}

.service .s-top{
	margin-top:-12px;
}

.service .s-top .sidebar{
	width:290px;
}

.service .s-top .sidebar A SPAN{
	color:#137cc5;
	font-size:20px;
	line-height:100%;
	display:block;
	text-decoration:underline;	
	text-transform:uppercase;
}

.service .s-top .sidebar A:hover SPAN, .service .s-top .sidebar A:hover{
	text-decoration:none;
}

.service .s-top .sidebar.left{
	float:left;
	padding-left:2px;
}

.service .s-top .sidebar.left A SPAN{
	padding-left:62px;
	padding-top:18px;
	padding-bottom:16px;	
}

.service .s-top .sidebar.left IMG{
	float:left;
}

.service .s-top .sidebar.right{
	float:right;
	text-align:right;
	padding-right:5px;
}

.service .s-top .sidebar.right A SPAN{
	padding-right:60px;
	padding-top:18px;
	padding-bottom:16px;
}

.service .s-top .sidebar.right IMG{
	float:right;
}

.service .s-top .s-center{
	margin:0 300px;
}

.service .s-top .s-center H2{
	padding-top:15px;
	padding-bottom:26px;
}

.service .s-top .s-center .violet-title H3{
	min-height:30px;
}

.service .des-text .item{
	color:#474f58;
	font-size:18px;
	line-height:22px;
	padding-left:10px;
	width:458px;
	float:right;
}

.service .des-text .item P{
	padding:10px 0;
}

.service .des-text .item H5{
	padding-top:10px;
	padding-bottom:2px;
}

.service .des-text .item LI{
	background: url("../images/bg/des-litem.png") no-repeat 2px 4px;
	padding-left:20px; 
}
	
.service .des-text .item:first-child{
	float:left;
}

.service .c_table{
	border-bottom:2px solid #cec2c0;
	border-right:2px solid #cec2c0;
	width:100%; 
	margin-top:18px;
}

.service .c_table TH{
	color:#ffffff;
	font-size:20px;
	line-height:24px;
	background:#a4d080;
	height:80px;
	padding-left:24px; 	
	vertical-align:middle;
	border-left:1px solid #ffffff;
}

.service .c_table TD{
	border-top:1px solid #a4d080;
	border-left:1px solid #a4d080;
	color:#474f58;
	background:#f8f5ef;
	font-size:20px;
	line-height:100%;
	height:44px;
	text-align:center;
	vertical-align:middle;
}

.service .c_table TD:first-child{
	border-left:none; 
}

.service .c_table TH:first-child{
    border-left: none;
    padding-left: 16px;
    padding-right: 10px;
    width: 94px;
}

.service .c_table TH.last{
	width:100px;
}

.content .price{
	padding-bottom:12px;
}

.content .price .service{
	padding-bottom:0;
}

.price .d-info{
	padding-top:0;
	padding-left:17px;
}

.price .d-info H3{ 
	font-size:33px;
}

.price P{
	color:#474f58;
	font-size:18px;
	line-height:22px;
	padding-top:18px;
}

.price .btn{ 
	text-align:center; 
	padding-top:1px;
}


/*Footer */

.footer {
	background:#4a525b;
	padding-top:20px;
	padding-bottom:44px;
}

.footer .schedule{
	color:#ffffff;
	font-size:16px;
	line-height:100%;
	float:left;
	width:180px;
    text-transform: uppercase;	
	margin-top:6px;
	margin-left: 11px;	
}

.footer .schedule .time{
    font-size: 45px;
    line-height: 100%;
    padding-left: 22px;
    position: relative;
}

.footer .schedule .time SUP{
    font-size: 20px;
	line-height:100%;
    left: 0;
    position: absolute;
    top: 4px;
}

.footer .schedule .time SUB{
    bottom: 4px;
    font-size: 20px;
	line-height:100%;
    left: 0;
    position: absolute;
}

.footer .schedule IMG{
	float:left;
	margin-top:3px;
}

.footer .schedule .wr{
	padding-left:68px;
}

.footer .mail{
	font-size:25px;
	line-height:100%;
	float:left;
	margin-left:47px;
	width:400px;
	margin-top:12px;
}

.footer .mail A{
    color: #81ADFF;
    display: block;
    padding-left: 68px;
    padding-top: 13px;
}

.footer .mail IMG{
	float:left;
}

.footer .design{
	float:right;
}

.footer .copy{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 100%;
    padding-left: 21px;
    padding-top: 50px;
}
