<div class="categories">

	<div class="top-panel"><div class="tp-right">

		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>

		<? if($this->Perm['edit']){ ?>

			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>

		<? } ?>

	</div></div>

	

	<div class="form-container">

		<div class="form"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">

			

			<? if($this->DisplayError){ ?>

				<p class="error">Ошибка, проверте выделенные поля</p>

			<? } ?>

			

			<form action="" method="post" id="form">

			

				<table cellpadding="0" cellspacing="0">

					<tr>

						<td class="min-width va-top <?= $this->Errors['title'] ? 'error' : '' ?>"><label for="title">Название:</label></td>

						<td class="input"><input type="text" name="title:str"  value="<?= $_POST['title:str'] ? $_POST['title:str'] : $this->ProdInfo['title']?>"/></td>

					</tr>
					<tr>

						<td colspan="2"><div class="hr">&nbsp;</div></td>

					</tr>

					<tr>	

						<td colspan="2">

							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>

							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>options/?Event=Edit&amp;id=<?= $_GET['id'] ?>'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>

							<? if($_GET['Event'] == 'AddDescription'){ ?>

								<input type="hidden" name="Event" value="InsertDescription" />
								<input type="hidden" name="option_id:int" value="<?= $_GET['id']?>" />
							<? } ?>

							<? if($_GET['Event'] == 'EditDescription'){ ?>

								<input type="hidden" name="Event" value="UpdateDescription" />

							<? } ?>
							
						</td>

					</tr>

				</table>

			

			</form>

		</div></div></div></div></div></div></div></div></div>

	</div>

</div>