<!--script
									
	var ticketsCount = parseInt('<?= $this->Description_sz ?>');
	
	
	
	function delTicket(id){
		jQuery('#ticket_row_'+(id)).remove();
	}
	
	
	
	function addTicket(){
		ticketsCount++;
		
		var variants_table = $('#variants_table');
		
		var row = $('#example_tr').clone() ;
		row.attr('id', '');
		var tds = row.children('td');
		
		
		$(tds[0]).html(ticketsCount);
		$(tds[1]).children('input:text').attr('value', '').attr('name', 'opt['+(ticketsCount-1)+']');
		$(tds[2]).children('input:text').attr('value', '').attr('name', 'price['+(ticketsCount-1)+']');
		$(tds[3]).children('input:text').attr('value', '').attr('name', 'side1['+(ticketsCount-1)+']');
		$(tds[4]).children('input:text').attr('value', '').attr('name', 'side2['+(ticketsCount-1)+']');
		
		variants_table.append(row)

		$(tds[1]).children('input:hidden').attr('value', 'new').attr('name', 'opt_id['+(ticketsCount-1)+']');
		
	}
	
	OldWinRendered_ = WinRendered;
	WinRendered = function(){
		if(OldWinRendered_)
			OldWinRendered_();
		
		jQuery('.del-links').live('click', function(){
			if(DeleteRow()){
				$(this).closest('tr').remove();
			
			}
		})
		
		jQuery('#element').change(function(){
	
		    if(this.value == 'radio' || this.value == 'select'){
				jQuery('.var_grid_tr').css('display', '');
			}else{
				jQuery('.var_grid_tr').css('display', 'none');
			}
		});

	}
	

/script-->
<div class="categories">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<? } ?>
	</div></div>

	<div class="form-container">
		<div class="form big-width"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			<? if($this->DisplayError){ ?>
				<p class="error">Ошибка, проверте выделенные поля</p>
			<? } ?>
			<?if($this->FileError){?>
				<p class="error"><?=$this->FileError?></p>
			<?}?>
			<form action="" method="post" id="form" enctype="multipart/form-data">
				<table cellpadding="0" cellspacing="0">
					<?/* <tr>
					<td colspan="2"><p style="color:red;" > При необходимости можно добавить дополнительное поле, указав его в названии через разделитель "|"; </p> </td>
				
					</tr> */?>
					<tr>
						<td class="min-width <?= $this->Errors['title'] ? 'error' : '' ?>"><label for="title">Опция:</label></td>
						<td class="input"><input type="text" name="title:str"  value="<?= $_POST['title:str'] ? $_POST['title:str'] : $this->ProdInfo['title']?>"/></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['error'] ? 'error' : '' ?>"><label for="error">Сортировка:</label></td>
						<td class="input"><input type="text" name="order_by:int"  value="<?= $_POST['order_by:int'] ? $_POST['order_by:int'] : $this->ProdInfo['order_by']?>"/></td>
					</tr>
					
					<?
						$sel = $_POST['type_id:int'] ? $_POST['type_id:int'] : $this->ProdInfo['type_id'] ;
					?>
					<tr>
						<td class="min-width <?= $this->Errors['type_id'] ? 'error' : '' ?>"><label for="type_id">Группа опций:</label></td>
						<td class="input">
							<? $select = array(
									'name'			=> 'type_id:int', 
									'id'			=> 'type_id', 
									'first_title'	=> 'Без группы', 
									'first_val'		=> '0',
									'first'			=> true,
									'elements'		=> $this->Chars, 
									'selected'		=> $sel, 
									'val'			=> array('val' => 'id', 'title' => 'title')
								);
								echo _generate_SELECT($select);
							?>
						</td>
					</tr>
					
					<?
						$sel = $_POST['element:str'] ? $_POST['element:str'] : $this->ProdInfo['element'] ;
					?>
					<tr>
						<td class="min-width <?= $this->Errors['element'] ? 'error' : '' ?>"><label for="element">HTML элемент:</label></td>
						<td class="input">
							<? $select = array(
									'name'			=> 'element:str', 
									'id'			=> 'element', 
									'first_title'	=> 'Выберите элемент', 
									'elements'		=> $this->HTMLelements, 
									'selected'		=> $sel,
									'val'			=> array('val' => 'id', 'title' => 'title')
								);
								echo _generate_SELECT($select);
							?>
						</td>
					</tr>
					
					<?
						$sel = $_POST['type_id:int'] ? $_POST['type_id:int'] : $this->ProdInfo['type_id'] ;
					?>
					
					<tr>
						<td class="min-width <?= $this->Errors['categories'] ? 'error' : '' ?>"><label for="categories">Категории:
						
						</label></td>
						<td class="input">
							<?	if($_POST['type']){
									$selected = $_POST['type'];
								}else{
									$selected = $this->Types;
								}?>
							<? $select = array('style' => 'height: 200px', 'first' => false, 'multiple' => 'multiple', 'name' => 'type[]', 'id' => 'type', 'elements' => $this->Categories, 'selected' => $selected, 'val' => array('val' => 'id', 'title' => 'title'));
								echo _generate_SELECT($select);
							?>
						</td>
					</tr>
					
					<tr>
						<td class="min-width"><label for="cost">Обязательно для заполнения:</label></td>
						<td class="input publish">
							<?	
								$checked = 0;
								if($_POST){
									if($_POST['fill:int'] == 1){ 
										$checked  = 1;
									}else{
										$checked  = 0;
									}
								}else{
									if($this->ProdInfo['fill'] == 1){ 
										$checked  = 1;
									}else{
										$checked  = 0;
									}
								}
							?>
							<input type="radio" name="fill:int" id="fill" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="fill">Да</label><br />
							<input type="radio" name="fill:int" id="fill_no" <?=( $checked == 0 ) ? 'checked="checked"':'' ?> value="0" /><label for="fill_no">Нет</label>
						</td>
					</tr>
					
					<tr>
						<?	
							$checked = 0;
							if($_POST['sizes:int']){
								$checked  = 1;
							}elseif($this->ProdInfo['sizes']){
								$checked  = 1;
							}
						?>
						<td class="min-width"><label for="sizes">Опция "Размер фотографии":</label></td>
						<input type="hidden" name="sizes:int" value="0" />
						<td class="input"><input type="checkbox" id="sizes" style="width:auto;" name="sizes:int" value="1" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> /></td>
					</tr>
					
					<tr>
						<?	
							$checked = 0;
							if($_POST['paper:int']){
								$checked  = 1;
							}elseif($this->ProdInfo['paper']){
								$checked  = 1;
							}
						?>
						<td class="min-width"><label for="paper">Опция "Тип бумаги":</label></td>
						<input type="hidden" name="paper:int" value="0" />
						<td class="input"><input type="checkbox" id="paper" style="width:auto;" name="paper:int" value="1" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> /></td>
					</tr>
					
					<!--
					
					<tr class="var_grid_tr"<?= $this->ProdInfo['element'] == 'radio' || $this->ProdInfo['element'] == 'select' ? '' : ' style="display:none;"' ?>>
						<td class="min-width"><label for="cost">Выбор пользователя:</label></td>
						<td class="input publish">
							<?	
								$checked = 0;
								if($_POST){
									if($_POST['user_choice:int'] == 1){ 
										$checked  = 1;
									}else{
										$checked  = 0;
									}
								}else{
									if($this->ProdInfo['user_choice'] == 1){ 
										$checked  = 1;
									}else{
										$checked  = 0;
									}
								}
							?>
							<input type="radio" name="user_choice:int" id="user_choice" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="user_choice">Да</label><br />
							<input type="radio" name="user_choice:int" id="user_choice_no" <?=( $checked == 0 ) ? 'checked="checked"':'' ?> value="0" /><label for="user_choice_no">Нет</label>
						</td>
					</tr>
					
					
					--><tr class="var_grid_tr" <?= $this->ProdInfo['element'] == 'radio' || $this->ProdInfo['element'] == 'select' ? '' : ' style="display:none;"' ?>>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					
					<tr class="var_grid_tr" <?= $this->ProdInfo['element'] == 'radio' || $this->ProdInfo['element'] == 'select' ? '' : ' style="display:none;"' ?>>
						<td colspan="2">
							<a class="add-description" id="add-description" href="javascript:addTicket();">Добавить вариант</a>
							<h4>Варианты:</h4>
						</td>
					</tr>
					
					<tr class="var_grid_tr" <?= $this->ProdInfo['element'] == 'radio' || $this->ProdInfo['element'] == 'select' ? '' : ' style="display:none;"' ?>>
						<td colspan="2">
							<div class="Grid">
								<table id="variants_table" cellspacing="0" cellpadding="0">
									<tr>
										<?
											$discount_cnt = $this->_get_system_variable('discount_cnt');
											$discount_cnt = explode(';', $discount_cnt);
										?>
										<th>№</th>
										<th style="text-align: center;">Название/Значение</th>
										<th style="text-align: center;">Цена</th>
										<?if($discount_cnt[0]){?>
											<th style="text-align: center;">Цена от <?= $discount_cnt[0]?> шт.</th>
										<?}?>
										<?if($discount_cnt[1]){?>
											<th style="text-align: center;">Цена от <?= $discount_cnt[1]?> шт.</th>
										<?}?>
										<th style="text-align: center;">Сторона 1</th>
										<th style="text-align: center;">Сторона 2</th>
										<th>Действие</th>
									</tr>
									<? $i=0;foreach($this->Description as $item){ ?>
										<tr>
											<td class="min-width ta-center<?= $i%2 ? ' row1' : '' ?>"><?= $i+1 ?></td>
											<td class="<?= $i%2 ? ' row1' : '' ?>">
												<input type="text" name="opt[<?= $i ?>]" value="<?= $item['title'] ?>" />
												<input type="hidden" name="opt_id[<?= $i ?>]" value="<?= $item['id'] ?>" />
											</td>
											<td class="price <?= $i%2 ? ' row1' : '' ?>">
												<input type="text" name="price[<?= $i ?>]" value="<?= $item['price'] ?>" />
												<?/* <input type="hidden" name="opt_id[<?= $i ?>]" value="<?= $item['id'] ?>" /> */?>
											</td>
											<?if($discount_cnt[0]){?>
												<td class="price <?= $i%2 ? ' row1' : '' ?>">
													<input type="text" name="price2[<?= $i ?>]" value="<?= $item['price2'] ?>" />
													<?/* <input type="hidden" name="opt_id[<?= $i ?>]" value="<?= $item['id'] ?>" /> */?>
												</td>
											<?}?>
											<?if($discount_cnt[1]){?>
												<td class="price <?= $i%2 ? ' row1' : '' ?>">
													<input type="text" name="price3[<?= $i ?>]" value="<?= $item['price3'] ?>" />
													<?/* <input type="hidden" name="opt_id[<?= $i ?>]" value="<?= $item['id'] ?>" /> */?>
												</td>
											<?}?>
											<td class="<?= $i%2 ? ' row1' : '' ?>">
												<input type="text" name="side1[<?= $i?>]" value="<?= $item['side1']?>" />
											</td>
											<td class="<?= $i%2 ? ' row1' : '' ?>">
												<input type="text" name="side2[<?= $i?>]" value="<?= $item['side2']?>" />
											</td>
											<td style="text-align:center;" class="<?= $i++%2 ? ' row1' : '' ?>"><a title="Удалить" href="javascript:;" class="del-links"><img alt="Удалить" src="/components/office2007/GridAll/images/remove.gif"></a></td>
										</tr>
									<? } ?>
								</table>
								
								<table style="display:none" cellspacing="0" cellpadding="0">
									<tr id="example_tr">
										<td class="min-width ta-center row1"></td>
										<td class="row1">
											<input type="text" name="" value="" />
											<input type="hidden" name="" value="" />
										</td>
										<td class="row1">
											<input type="text" name="" value="" />
											<?/* <input type="hidden" name="" value="" /> */?>
										</td>
										<td class="row1">
											<input type="text" name="" value="" />
										</td>
										<td class="row1">
											<input type="text" name="" value="" />
										</td>
										<td style="text-align:center;" class="row1"><a title="Удалить" href="javascript:;" class="del-links"><img alt="Удалить" src="/components/office2007/GridAll/images/remove.gif"></a></td>
									</tr>
								</table>
							</div>
						</td>
					</tr>

					<tr style="display: none">
						<td class="min-width <?= $this->Errors['azfield'] ? 'error' : '' ?>"><label for="azfield">Название поля<br/>(не обязательно):</label></td>
						<td class="input"><input type="text" id="azfield" name="azfield:str" value="<?= $_POST['azfield'] ?  $_POST['azfield'] : $this->ProdInfo['azfield'] ?>" /></td>
					</tr>
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>options/'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
						</td>
					</tr>
				</table>
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>