<div class="AzUsers">

	<div class="top-panel"><div class="tp-right">

		<? if($this->Perm['edit']){ ?>

			<a style="display: block" class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>

		<? } ?>

		<div class="filter">
			<select onchange="window.location='<?= $this->RootUrl ?>options/?cat='+this.value;">
				<option value="0">--Все категории--</option>
				<? for($i = 0; $i < $this->Categories_sz; $i++) { ?>
					<option value="<?= $this->Categories[$i]['id'] ?>" <?= $this->Categories[$i]['id'] == $_GET['cat'] ? 'selected="selected"' : '' ?>><?= $this->Categories[$i]['title'] ?></option>
				<? } ?>
			</select>
		</div>

		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>

	</div></div>

	

	<? $this->Grid->Display() ?>

</div>

