<div class="AzUsers">
	<div class="top-panel ui-widget-header ui-state-default">
		<div class="tp-right">
			<div class="module-title">
				<a href="<?= $this->ModuleInfo['href']?>" title="<?= $this->ModuleInfo['title']?>"><?= $this->ModuleInfo['title']?></a>
			</div>
			<?if($this->Perm['edit']){?>
				<a class="create-item" href="<?= $this->ModuleInfo['href']?>?Event=New" title="Создать">Создать</a>
			<?}?>
			<a class="close" href="<?= $this->RootUrl?>" title="На Главную"><span class="ui-icon ui-icon-home"><span></a>
		</div>
	</div>
	
	<div class="form-container ui-state-default">
		<div class="form big-width"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<? if($this->DisplayError){ ?>
				<p class="error">Ошибка, проверте выделенные поля</p>
			<? } ?>
			
			<form action="" method="post" id="form">
			
				<table cellpadding="0" cellspacing="0">	
					<? /* <tr>
						<td class="min-width <?= $this->Errors['category'] ? 'error' : '' ?>"><label for="category">Категории:
						
						</label></td>
						<td class="input">
							<?	$selected = 0;
								if($_POST['category']){
									$selected = $_POST['category'];
								}elseif($_GET['category']){
									$selected = $_GET['category'];	
								}elseif( $this->NewsInfo['category_id']){
									$selected = $this->NewsInfo['category_id'];
								}?>
							<? $select = array('style' => 'width: 350px;', 'first' => false, 'name' => 'category', 'id' => 'type', 'elements' => $this->Categories, 'selected' => $selected, 'val' => array('val' => 'id', 'title' => 'display_name'));
								echo _generate_SELECT($select);
							?>
						</td>
					</tr> */?>
					<tr>
						<td class="min-width <?= $this->Errors['title'] ? 'error' : '' ?>"><label for="category"> Заголовок:</label></td>
						<td class="input">
							<input type="text" class="NewsTitle" value="<?=$_POST ? $_POST['title'] : $this->NewsInfo['title']?>" name="title" />
						</td>
					</tr>
					<? /*<tr>
						<td class="min-width <?= $this->Errors['experience'] ? 'error' : '' ?>"><label for="category"> Стаж:</label></td>
						<td class="input">
							<input type="text" class="NewsTitle" value="<?=$_POST ? $_POST['experience'] : $this->NewsInfo['experience']?>" name="experience" />
						</td>
					</tr> */ ?>
					
					<tr>
						<td class="min-width <?= $this->Errors['created_ts'] ? 'error' : '' ?>"><label for="create_ts">Дата создания:</label></td>
						<td class="input">
						
							<input type="text" id="create_ts" class="NewsCalendarContainer" name="create_ts" value="<?= $_POST['create_ts'] ?  date("d.m.y H:i",$_POST['create_ts']) : date("d.m.y H:i",$this->NewsInfo['create_ts']) ?>" />
							<input type="button" class="NewsCalendar" value="Календарь" onclick="displayCalendar(document.forms[0].create_ts,'dd.mm.yyyy hh:ii',this,true)">
						
						</td>
					</tr>

					

					
					<tr>
						<td class="min-width <?= $this->Errors['publish_ts'] ? 'error' : '' ?>"><label for="publish_ts">Дата публикации:</label></td>
						<td class="input">
						
							<input type="text" id="publish_ts" class="NewsCalendarContainer" name="publish_ts" value="<?= $_POST['publish_ts'] ?  date("d.m.y H:i",$_POST['publish_ts']) : date("d.m.y H:i",$this->NewsInfo['publish_ts']) ?>" />
							<input type="button" class="NewsCalendar" value="Календарь" onclick="displayCalendar(document.forms[0].publish_ts,'dd.mm.yyyy hh:ii',this,true)">
						
						</td>
					</tr>
					<tr>
						<td class="min-width"><label for="publish">Опубликовано:</label></td>
						<td class="input publish">
							<?	
								$checked = 0;
								if($_POST){
									if($_POST['publish'] == 1){ 
										$checked  = 1;
									}else{
										$checked  = 0;
									}
								}else{
									if($this->NewsInfo['publish'] == 1){ 
										$checked  = 1;
									}else{
										$checked  = 0;
									}
								}
							?>
							<input type="radio" name="publish" id="publish" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="publish">Да</label><br />
							<input type="radio" name="publish" id="publish_no" <?=( $checked == 0 ) ? 'checked="checked"':'' ?> value="0" /><label for="publish_no">Нет</label>
								
						
						</td>
					</tr>
					<? /*
					<tr>
						<td class="min-width"><label for="instr">Инструктор:</label></td>
						<td class="input instr">
							<?	
								$checked = 0;
								if($_POST){
									if($_POST['instr'] == 1){ 
										$checked  = 1;
									}else{
										$checked  = 0;
									}
								}else{
									if($this->NewsInfo['instr'] == 1){ 
										$checked  = 1;
									}else{
										$checked  = 0;
									}
								}
							?>
							<input type="radio" name="instr" id="instr" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="instr">Да</label><br />
							<input type="radio" name="instr" id="instr_no" <?=( $checked == 0 ) ? 'checked="checked"':'' ?> value="0" /><label for="instr_no">Нет</label>
								
						
						</td>
					</tr> */?>
					<?/*<tr>
						<td class="min-width"><label for="filename">Превью для статьи:</label></td>
						<td class="input">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<td style="width: 260px;"><input style="width:170px; margin: 0;" type="input" id="filename" name="filename" value="<?= $_POST['filename'] ?  $_POST['filename'] : $this->NewsInfo['filename'] ?>" /></td> 
									<td align="left">
										<button onclick="BrowseServer( 'Images:/', 'filename' ); return false;" style="float:left;"  class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" >
											<span  class="ui-button-text">Обзор</span>
										</button>
									</td>
									
								</tr>
							</table>
						</td>
					</tr> */?>
					<? /*<tr>
						<td class="min-width valign-top <?= $this->Errors['introtext'] ? 'error' : '' ?>"><label for="price">Вводный текст:</label></td>
						<td class="input">
							<textarea rows="10" name="introtext" cols="10"><?=$_POST ? $_POST['introtext']: $this->NewsInfo['introtext']?></textarea>							
						</td>
					</tr>*/?>
					<tr>
						<td valign="top" class="min-width valign-top <?= $this->Errors['introtext'] ? 'error' : '' ?>"><label for="price">Полный текст:</label></td>
						<td class="input">
							<textarea rows="10" name="fulltext" id="content" class="editor" cols="10"><?=$_POST ? $_POST['fulltext']: $this->NewsInfo['fulltext']?></textarea>							
						</td>
					</tr>
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>articles/'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
							<input type="hidden" name="redirect" value="" id="redirect" />
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>