<div class="AzUsers">
	<div class="top-panel ui-widget-header ui-state-default">
		<div class="tp-right">
			<div class="module-title">
				<a href="<?= $this->ModuleInfo['href']?>" title="<?= $this->ModuleInfo['title']?>"><?= $this->ModuleInfo['title']?></a>
			</div>
			<?if($this->Perm['edit']){?>
				<a class="create-item" href="<?= $this->ModuleInfo['href']?>?Event=New" title="Создать">Создать</a>
			<?}?>
			<a class="close" href="<?= $this->RootUrl?>" title="На Главную"><span class="ui-icon ui-icon-home"><span></a>
		</div>
	</div>
	
	<? $this->Grid->Display() ?>
	
	<? $this->PageNavigator->Run(); ?>
</div>
