<div class="az-users">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<? } ?>
	</div></div>
	
	<div class="form-container">
		<div class="form"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<? if($this->DisplayError){ ?>
				<p class="error">Ошибка, проверте выделенные поля</p>
			<? } ?>
			
			<form action="" method="post">
			
				<table cellpadding="0" cellspacing="0">
					
					<tr>
						<td class="min-width <?= $this->Errors['username'] ? 'error' : '' ?>"><label for="username">Логин:</label></td>
						<td class="input"><input type="text" id="username" name="username" value="<?= $_POST['username'] ?  $_POST['username'] : $this->UserInfo['username'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['password'] ? 'error' : '' ?>"><label for="password">Пароль:</label></td>
						<td class="input"><input type="password" id="password" name="password" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['confirm'] ? 'error' : '' ?>"><label for="confirm">Подтверждение:</label></td>
						<td class="input"><input type="password" id="confirm" name="confirm" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['firstname'] ? 'error' : '' ?>"><label for="firstname">Имя:</label></td>
						<td class="input"><input type="text" id="firstname" name="firstname" value="<?= $_POST['firstname'] ?  $_POST['firstname'] : $this->UserInfo['firstname'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['lastname'] ? 'error' : '' ?>"><label for="lastname">Фамилия:</label></td>
						<td class="input"><input type="text" id="lastname" name="lastname" value="<?= $_POST['lastname'] ?  $_POST['lastname'] : $this->UserInfo['lastname'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['occupation'] ? 'error' : '' ?>"><label for="occupation">Должность:</label></td>
						<td class="input"><input type="text" id="occupation" name="occupation" value="<?= $_POST['occupation'] ?  $_POST['occupation'] : $this->UserInfo['occupation'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['email'] ? 'error' : '' ?>"><label for="email">E-mail:</label></td>
						<td class="input"><input type="text" id="email" name="email" value="<?= $_POST['email'] ?  $_POST['email'] : $this->UserInfo['email'] ?>" /></td>
					</tr>
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>
						<td colspan="2"><?= $this->PermTable->Display() ?></td>
					</tr>
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>az-users/'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>