<table style="border:1px solid black; width:400px; height:250px">
	<tr>
		<td colspan="2" style="text-align:center;">Сертифiкат<br />на вечерю в ресторанi<br />Мафiя</td>
	</tr>
	<tr style="height:100px">
		<td style="width:75%"></td>
		<td>
			<table style="border:1px solid black; height: 100%; width: 100%;">
				<tr>
					<td>№ <?= $id ? $id : $this->data['id']?></td>
				</tr>
				<tr>
					<td><?= $data['city:str'] ? $data['city:str'] : $this->data['city']?></td>
				</tr>
				<tr>
					<td><?= $data['fio:str'] ? $data['fio:str'] : $this->data['fio']?></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<?if(!$_GET['Event'] && !$no_link){?>
	<p>
		<a onclick="window.open('/registration.html?Event=PrintCoupon&id=<?= $id?>', '', 'width=415,height=265')" href="#" title="">Распечатать сертификат</a>
	</p>
<?}?>