<div class="categories">

	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<? } ?>
	</div></div>
	
	<div class="form-container">
		<div class="form big-width"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<? if($this->DisplayError){ ?>
				<p class="error">Ошибка, проверте выделенные поля</p>
			<? } ?>
			
			<form enctype="multipart/form-data" action="" method="post" id="form">
				<div id="tabs1">
					<div id="tab_el_main" class="x-hide-display">
						<table cellpadding="0" cellspacing="0">
							<tr>
								<td class="min-width <?= $this->Errors['publish_ts'] ? 'error' : '' ?>"><label for="publish_ts">Дата публикации:</label></td>
								<td class="input">
									<input type="text" id="publish_ts" class="NewsCalendarContainer" name="publish_ts" value="<?= $_POST['publish_ts'] ?  date("d.m.Y H:i",$_POST['publish_ts']) : date("d.m.Y H:i",($this->ArticlesInfo['publish_ts'] ? $this->ArticlesInfo['publish_ts'] : time())) ?>" />
									<input type="button" class="NewsCalendar" value="Календарь" onclick="displayCalendar(document.forms[0].publish_ts,'dd.mm.yyyy hh:ii',this,true)">
								</td>
							</tr>
							<tr>
								<td class="min-width <?= $this->Errors['url'] ? 'error' : '' ?>"><label for="url">SEO-url на страницу статьи:</label></td>
								<td class="input">
									<input type="text" id="url" name="url" value="<?= $_POST['url'] ?  $_POST['url'] : $this->ArticlesInfo['url']?>" />
								</td>
							</tr>
							<?if($this->ModuleInfo['name'] == 'events'){?>
								<tr>
									<td class="min-width"><label for="filename">Изображение:</label></td>
									<td class="input">
										<table cellpadding="0" cellspacing="0">
											<tr><td colspan="2"><?if($this->ArticlesInfo['filename']){?><img src="<?= $this->ArticlesInfo['filename']?>" /><?}?></td></tr>
											<tr>
												<td style="width: 260px;">
													<input style="width:170px; margin: 0;" type="input" id="xImagePath" name="filename" value="<?= $_POST['filename'] ?  $_POST['filename'] : $this->ArticlesInfo['filename'] ?>" />
												</td> 
												<td align="left"><img onclick="BrowseServer( 'Images:/', 'xImagePath' );"  src="<?= $this->RootUrl ?>public/images/buttons/view.gif" /></td>
											</tr>
										</table>
									</td>
								</tr>								
							<?}?>
							<?/* <tr>
								<td class="min-width"><label for="filename">Маленькое изображение:</label></td>
								<td class="input">
									<table cellpadding="0" cellspacing="0">
										<tr><td colspan="2"><?if($this->ArticlesInfo['filename2']){?><img src="<?= $this->ArticlesInfo['filename2']?>" /><?}?></td></tr>
										<tr>
											<td style="width: 260px;">
												<input style="width:170px; margin: 0;" type="input" id="xImagePath1" name="filename2" value="<?= $_POST['filename2'] ?  $_POST['filename2'] : $this->ArticlesInfo['filename2'] ?>" />
											</td> 
											<td align="left"><img onclick="BrowseServer( 'Images:/', 'xImagePath1' );"  src="<?= $this->RootUrl ?>public/images/buttons/view.gif" /></td>
										</tr>
									</table>
								</td>
							</tr> */?>
							<tr>
								<td class="min-width"><label for="publish">Опубликовано:</label></td>
								<td class="input publish">
									<?	
										$checked = 0;
										if($_POST){
											if($_POST['publish'] == 1){ 
												$checked  = 1;
											}else{
												$checked  = 0;
											}
										}else{
											if($this->ArticlesInfo['published'] == 1){ 
												$checked  = 1;
											}else{
												$checked  = 0;
											}
										}
									?>
									<input type="radio" name="publish" id="publish" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="publish">Да</label><br />
									<input type="radio" name="publish" id="publish_no" <?=( $checked == 0 ) ? 'checked="checked"':'' ?> value="0" /><label for="publish_no">Нет</label>
								</td>
							</tr>
							<?if($this->ModuleInfo['name'] == 'events'){?>
								<tr>
									<td class="min-width"><label for="main">Рекомендованное событие:</label></td>
									<td class="input publish">
										<?	
											$checked = 0;
											if($_POST){
												if($_POST['main'] == 1){ 
													$checked  = 1;
												}else{
													$checked  = 0;
												}
											}else{
												if($this->ArticlesInfo['main'] == 1){ 
													$checked  = 1;
												}else{
													$checked  = 0;
												}
											}
										?>
										<input type="radio" name="main" id="main" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="main">Да</label><br />
										<input type="radio" name="main" id="main_no" <?=( $checked == 0 ) ? 'checked="checked"':'' ?> value="0" /><label for="main_no">Нет</label>
									</td>
								</tr>
							<?}?>
							<?/* <tr>
								<td class="min-width"><label for="publish">Тип записи:
								</label></td>
								<td class="input publish">
									<?	
										$checked = 0;
										if($_POST){
											if($_POST['news'] == 1){ 
												$checked  = 1;
											}else{
												$checked  = 0;
											}
										}else{
											if($this->ArticlesInfo['news'] == 1){ 
												$checked  = 1;
											}else{
												$checked  = 0;
											}
										}
									?>
									<input type="radio" name="news" id="news" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="news">Совет</label><br />
									<input type="radio" name="news" id="news_no" <?=( $checked == 0 ) ? 'checked="checked"':'' ?> value="0" /><label for="news_no">Новость</label>
								</td>
							</tr> */?>
							<?/* <tr>
								<?	
									$checked1 = 0;
									if($_POST){
										if($_POST['subscribe'] == 1){ 
											$checked1  = 1;
										}else{
											$checked1  = 0;
										}
									}else{
										if($this->ArticlesInfo['subscribe'] == 1){ 
											$checked1  = 1;
										}else{
											$checked1  = 0;
										}
									}
								?>
								<td class="min-width"><label for="subscribe">Участие в рассылке:</label></td>
								<td class="input publish">
									<input type="radio" name="subscribe" id="subscribe" <?=( $checked1 == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="subscribe">Да</label><br />
									<input type="radio" name="subscribe" id="subscribe_no" <?=( $checked1 == 0 ) ? 'checked="checked"':'' ?> value="0" /><label for="subscribe_no">Нет</label>
								</td>
							</tr> */?>
							<tr>
								<td colspan="2"><div class="hr">&nbsp;</div></td>
							</tr>
						</table>
					</div>
					
					<div id="tab_el_ru" class="x-hide-display">
						<?= $this->_get_lang_html('ru'); ?>
					</div>
					<div id="tab_el_ua" class="x-hide-display">
						<?= $this->_get_lang_html('ua'); ?>
					</div>
					<div id="tab_el_en" class="x-hide-display">
						<?= $this->_get_lang_html('en'); ?>
					</div>
					
					<div id="tab_el_photo_gallery" class="x-hide-display">
						<table cellpadding="0" cellspacing="0">	
							<tr>
								<td colspan="2">
									<a <?= !$_GET['id'] ? 'onclick=" $(\'redirect\').value =\'AddPhoto\'; $(\'form\').submit(); return false;"' : 'onclick="window.location.href=\''.$this->ModuleInfo['href'].'?Event=AddPhoto&id='.$_GET['id'].'\';"' ?> class="add-description" id="add-description" href="#">Добавить фото</a>
									<h4>Фото</h4>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<?if ($_GET['id']){?>
										<?$this->GridPhoto->Display()?>
									<?}?>	
								</td>
							</tr>
						</table>
					</div>
				</div>	
				<table cellpadding="0" cellspacing="0">	
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>news/?page=<?= $_GET['page']?>&sort=<?= $_GET['sort']?>&direct=<?= $_GET['direct']?>'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
							<input type="hidden" name="redirect" value="" id="redirect" />
							<input type="hidden" name="module" value="<?= $this->ModuleInfo['name']?>" />
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>