<div class="categories">

	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<? } ?>
	</div></div>
	
	<div class="form-container">
		<div class="form big-width"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<? if($this->DisplayError){ ?>
				<p class="error">Ошибка, проверте выделенные поля</p>
			<? } ?>
			
			<form enctype="multipart/form-data" action="" method="post" id="form">
			
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td class="min-width <?= $this->Errors['name'] ? 'error' : '' ?>"><label for="name">Заголовок страницы:</label></td>
						<td class="input">
							<input type="text" class="ArticlesTitle" value="<?= $_POST['page_title'] ? $_POST['page_title'] : $this->ArticlesInfo['page_title']?>" name="page_title" />
						</td>
					</tr>
					
					
					<tr>
						<td class="min-width <?= $this->Errors['url'] ? 'error' : '' ?>"><label for="url">SEO-url на страницу статьи:</label></td>
						<td class="input">
							<input type="text" id="url" name="url" value="<?= $_POST['url'] ?  $_POST['url'] : $this->ArticlesInfo['url']?>" />
						</td>
					</tr>
									
					
					<tr>
						<td class="min-width "><label for="introtext">Keywords:</label></td>
						<td class="input">
							<textarea rows="5" name="keywords" id="keywords" cols="10"><?= $_POST['keywords'] ? $_POST['keywords']: $this->ArticlesInfo['keywords']?></textarea>
						</td>
					</tr>
					<tr>
						<td class="min-width "><label for="introtext">Description:</label></td>
						<td class="input">
							<textarea rows="5" name="description" id="description" cols="10"><?= $_POST['description'] ? $_POST['description']: $this->ArticlesInfo['description']?></textarea>
						</td>
					</tr>
					
				
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.close()"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<input type="hidden" name="Event" value="UpdateMeta" />
							<input type="hidden" name="redirect" value="" id="redirect" />
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>