﻿<? if($this->Pages_sz > 1){ ?>
		<?if($this->FirstLast){?>
			<? if($this->FirstHref){?><div><a href="<?= $this->FirstHref ?>" >&lt;&lt;</a></div><?}?>					
		<?}?>

		<?if($this->PrevNext){?>
			<? if($this->PrevHref){?><div><a href="<?= $this->PrevHref ?>" class="prev">{[PAGE_PREV]}</a></div><?}?>					
		<?}?>
		<div class="mainstepper">
		<? for($i = 0; $i < $this->Pages_sz; $i++){ ?>
			<? if($this->Pages[$i]['href']){ ?>
				<a href="<?= $this->Pages[$i]['href'] ?>" ><?= $this->Pages[$i]['title'] ?></a>
			<? } else { ?>
				<span class="active"><?= $this->Pages[$i]['title'] ?></span>
			<? } ?>
		<? } ?>
		</div>
		<?if($this->PrevNext){?>
			<? if($this->NextHref){?><div><a href="<?= $this->NextHref ?>" class="next">{[PAGE_NEXT]}</a></div><?}?>
		<?}?>

		<?if($this->FirstLast){?>
			<? if($this->LastHref){?><div><a href="<?= $this->LastHref ?>" >&gt;&gt;</a></div><?}?>
		<?}?>
<? } ?>