<div class="AzUsers">
	<div class="top-panel"><div class="tp-right">
		<div class="module-title">Сравнение категорий 1с и категорий сайта</div>
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		
	</div></div>
	<form action="" method="post">
	
	<? $this->Grid->Display() ?>
	<div style="float: left; clear: left;">
	<table cellpadding="4" cellspacing="4" width="100%">
	<tr><td></td>
	</tr>
	
		
			<tr>
				<td style="text-align: right"><input type="submit" value="Сохранить связи категорий и проимпортировать продукты" /></td>
			</tr>
		</table>
		</div>
		<input type="hidden" name="Event" value="UpdateCategories" />
		
		<input type="hidden" name="task" value="<?=$_POST['task']?>" />
		<input type="hidden" name="filename" value="<?=$this->file_excel_name?>" />
		<input type="hidden" name="publish_all" value="<?=$_PSOT['publish_all']?>" />
	</form>
 	
	
</div>
