<div class="AzUsers">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		
	</div></div>
		<div class="form-container">
			<div style="width: 800px;" class="form"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
				<?if($_SESSION['logs']){?>
				
					<p style="font-weight: bold; font-size: 14px"><?=$_SESSION['logs']?></p>
				
				<?}?>
				<p>
					В этом разделе вы можете импортировать товары магазина из файла XML
				</p><br />
				<form method="post" action="" enctype="multipart/form-data">
					
					<br /><br />
					
					<table  cellpadding="0" cellspacing="0">
						<tr>
							<td colspan="2">Файл импорта с 1С базы</td>
						</tr>
						<tr>
							<td colspan="2"><input type="file" name="csv"/></td>							
						</tr>
						<tr>
							<td colspan="2">
								<label for="category">Категория:</label>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<?
								$this->_load_cataegories();
								$selected = 0;
								if($_POST['category_id:int']){
									$selected = $_POST['category_id:int'];	
								}elseif($this->ProdInfo['category_id']){
									$selected = $this->ProdInfo['category_id'];
								}
								/*$this->Categories[] = array(
            'id' => -1,
            'title' => 'Все',
            
			
			'display_name' => 'Все',
            'level' => 0
        
);*/
								echo _generate_SELECT(array(
									'name' 			=> 'category_id:int',
									'class'			=> 'small-width',
									'group' 		=> '',
									'first_val' 	=> 0, 
									'first_title' 	=> 'Выберите категорию',
									'elements' 		=> $this->Categories, 
									'selected' 		=> $selected, 
									'event'			=> 'onchange',
									'e_func'		=> 'if(this.options[this.selectedIndex].value != 0){$(\'label_task\').setStyle(\'color\', \'#999999\');$(\'label_task\').set(\'disabled\', true);$(\'task\').set(\'disabled\', true);}else{$(\'label_task\').setStyle(\'color\', \'\');$(\'label_task\').set(\'disabled\', false);$(\'task\').set(\'disabled\', false);}',
									'val' 			=> array('val' => 'id', 'title' => 'display_name')
								));
							?>
							</td>
						</tr>
						<tr>
							<td><input type="checkbox" name="update_in_price" value="1" id="update" /></td>
							<td><label for="update" >Товары не участвующие в импорте скрыть</label><br />
					Работает только если выбрать категорию</td>
						</tr>
						
						
					<?/*	<tr>
							<td><input type="checkbox" name="update[]" value="update" id="update" /></td>
							<td><label for="update" >Обновлять несовпадения</label></td>
						</tr>*/?>
						<tr>
							<td><input type="checkbox" name="update[]" value="qty" id="update_price" /></td>
							<td><label for="update_price" >Обновлять только кол-во</label></td>
						</tr>
						<tr>
							<td><input type="checkbox" name="update[]" value="price" id="update_qty" /></td>
							<td><label for="update_qty" >Обновлять только цену</label></td>
						</tr>
						
						<tr>
							<td><input type="checkbox" name="publish_all" checked value="1" id="publish_all" /></td>
							<td><label for="publish_all">Вновь добавленные товары - опубликовывать</label></td>						
						</tr>
						
						<tr>
							<td><input type="checkbox" name="task" value="new_categories" id="task" /></td>
							<td><label for="task" id="label_task" >Добавить новые категории в список связей 1с категрий с категориями сайта</label></td>
						
						</tr>
					</table>
					<input type="hidden" name="Event" value="Import" /><br /><br />
					<input type="submit" value="Ok" />
				</form>
				<br />
				<?if($this->ImpCnt['ins']){?>
					<p>
						Было добавлено <?= $this->ImpCnt['ins']?> позиций.
					</p>
				<?}?>
				<?if($this->ImpCnt['upd']){?>
					<p>
						Было обновлено <?= $this->ImpCnt['upd']?> позиций.
					</p>
				<?}?>
				<?if(is_array($this->ImpCnt['duplicate'])){?>
					<?foreach($this->ImpCnt['duplicate'] as $d){?>
						<?= $d?>
					<?}?>
				<?}?>
				<div>
				<?/*	<a id="yandex" href="#" >Обновить файл Yandex.Маркет</a><br><br>
					<img style="visibility: hidden;" id="loader" src="/azone/public/images/ajax-loader.gif">*/?>
				</div>
			</div></div></div></div></div></div></div></div></div>
		</div>
		
</div>
