<!--script
WinRendered = function(){
var tabs = new Ext.TabPanel({
        renderTo: 'tabs1',
        width:'100%',
	height: '100%',
        activeTab: 0,
        frame:true,
        defaults:{autoHeight: true},
        items:[
<? 
	$j = 0;
	foreach($this->Modules_tree as $el=>$item){
?>
	{contentEl:'fp_item<?=$j?>', title: '<?=$el?>'}<?=$j < sizeof($this->Modules_tree)?',':''?>
	<?$j++;}?>           
        ]
    });
};
/script-->
<div class="front-page">
<div class="FP_Container">
	<div id="tabs1">
	<? if($this->Modules_tree){ ?>
		
			<? 
				$j = 0;
				foreach($this->Modules_tree as $el=>$item){
			?>
			<div id="fp_item<?=$j?>" class="x-hide-display" >
			<?$j++;?>
			<?for($i = 0; $i < count($item); $i++){?>			
				<?if($item[$i]['show']){?>
				<div class="front-page">
				<div class="items">					
					<a class="module-link img Tips2" title="<?= $item[$i]['title'] ?>" href="<?= $item[$i]['href'] ?>"><img src="<?= $this->RootUrl ?>public/images/icons/<?= $item[$i]['icon'] ?>" alt="" /></a>					
					<a class="module-link link Tips2" href="<?= $item[$i]['href'] ?>"><?= $item[$i]['title'] ?></a>
				</div>
				</div>
				<?}?> 
			<?}?>
			</div>
			<?}?>
		
	<? } ?>
	</div>
</div>
</div>