<? 
	//_debug($this->OrderInfo, 1);
?>
<div class="prod-description">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
	</div></div>
	
	<div class="form-container">
		<div class="form"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			<?//_debug($this->OrderInfo);?>
			<form action="" method="post">
			
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td class="min-width"><label>Номер заказа:</label></td>
						<td class="input"><?= $this->OrderInfo['id'] ?></td>
					</tr>
					<tr>
						<td class="min-width"><label>Дата:</label></td>
						<td class="input"><?= $this->OrderInfo['date'] ?></td>
					</tr>
					
					<tr>
						<td class="min-width"><label>Состояние:</label></td>
						<td class="input">
							<select name="state">
								<option value="not_order" <?= $this->OrderInfo['state']=='not_order' ? 'selected="selected"' : '' ?>>Не оформлен</option>
								<option value="new" <?= $this->OrderInfo['state']=='new' ? 'selected="selected"' : '' ?>>Новый</option>
								<option value="printed" <?= $this->OrderInfo['state']=='printed' ? 'selected="selected"' : '' ?>>Напечатан</option>
								<option value="made" <?= $this->OrderInfo['state']=='made' ? 'selected="selected"' : '' ?>>Выполнен</option>
								<option value="rejected" <?= $this->OrderInfo['state']=='rejected' ? 'selected="selected"' : '' ?>>Отклонен</option>
								<option value="rejected_user" <?= $this->OrderInfo['state']=='rejected_user' ? 'selected="selected"' : '' ?>>Отклонен пользователем</option>
								<option value="sent" <?= $this->OrderInfo['state']=='sent' ? 'selected="selected"' : '' ?>>Отправлен</option>
								<option value="took" <?= $this->OrderInfo['state']=='took' ? 'selected="selected"' : '' ?>>Забрали</option>
								<option value="not_taken" <?= $this->OrderInfo['state']=='not_taken' ? 'selected="selected"' : '' ?>>Не Забрали</option>
								<option value="wait" <?= $this->OrderInfo['state']=='wait' ? 'selected="selected"' : '' ?>>Ожидание</option>
								<option value="paid" <?= $this->OrderInfo['state']=='paid' ? 'selected="selected"' : '' ?>>Оплачен</option>
								<option value="wait_pay" <?= $this->OrderInfo['state']=='$wait_pay' ? 'selected="selected"' : '' ?>>Ожидает оплаты</option>
								<option value="delivered" <?= $this->OrderInfo['state']=='delivered' ? 'selected="selected"' : '' ?>>Доставлен</option>
								<option value="cancelled" <?= $this->OrderInfo['state']=='cancelled' ? 'selected="selected"' : '' ?>>Отменён</option>
								<!-- dobavlenue -->
								<option value="inprint" <?= $this->OrderInfo['state']=='inprint' ? 'selected="selected"' : '' ?>>В печати</option>
								<option value="dostavka" <?= $this->OrderInfo['state']=='dostavka' ? 'selected="selected"' : '' ?>>Доставка</option>
								<option value="dostavlen" <?= $this->OrderInfo['state']=='dostavlen' ? 'selected="selected"' : '' ?>>Доставлен</option>
								<option value="dostavlen_punkt" <?= $this->OrderInfo['state']=='dostavlen_punkt' ? 'selected="selected"' : '' ?>>Доставлен в пункт выдачи</option>
								<option value="dostavka_punkt" <?= $this->OrderInfo['state']=='dostavka_punkt' ? 'selected="selected"' : '' ?>>Доставка в пункт выдачи</option>
								<option value="dostavka_kyrer" <?= $this->OrderInfo['state']=='dostavka_kyrer' ? 'selected="selected"' : '' ?>>Доставка курьером</option>
								<option value="dostavka_newpost" <?= $this->OrderInfo['state']=='dostavka_newpost' ? 'selected="selected"' : '' ?>>Доставлка новой почтой</option>
								<option value="accepted" <?= $this->OrderInfo['state']=='accepted' ? 'selected="selected"' : '' ?>>Принят</option>
							</select>
						</td> 
					</tr>
					
					<tr>
						<td class="min-width"><label>Состояние по выдаче:</label></td>
						<td class="input">
							<select name="state_issuing">
								<option value="-" <?= $this->OrderInfo['state_issuing']=='-' ? 'selected="selected"' : '' ?>>---</option>
								<option value="n_post" <?= $this->OrderInfo['state_issuing']=='n_post' ? 'selected="selected"' : '' ?>>Новой почтой</option>
								<option value="courier" <?= $this->OrderInfo['state_issuing']=='courier' ? 'selected="selected"' : '' ?>>Курьер</option>
								<option value="took" <?= $this->OrderInfo['state_issuing']=='took' ? 'selected="selected"' : '' ?>>Забрали</option>
								<option value="waiting" <?= $this->OrderInfo['state_issuing']=='waiting' ? 'selected="selected"' : '' ?>>Ожидает в пункте выдачи</option>
								<option value="lab" <?= $this->OrderInfo['state_issuing']=='lab' ? 'selected="selected"' : '' ?>>Cамовывоз М,6</option>
								<option value="sent_courier" <?= $this->OrderInfo['state_issuing']=='sent_courier' ? 'selected="selected"' : '' ?>>Передан в курьерскую службу</option>
								<option value="sentnpost" <?= $this->OrderInfo['state_issuing']=='sentnpost' ? 'selected="selected"' : '' ?>>Отправлен Новой почтой</option>
								<option value="not_order" <?= $this->OrderInfo['state_issuing']=='not_order' ? 'selected="selected"' : '' ?>>Не оформлен</option>
								<option value="new" <?= $this->OrderInfo['state_issuing']=='new' ? 'selected="selected"' : '' ?>>Новый</option>
								<option value="made" <?= $this->OrderInfo['state_issuing']=='made' ? 'selected="selected"' : '' ?>>Выполнен</option>
								<option value="rejected" <?= $this->OrderInfo['state_issuing']=='rejected' ? 'selected="selected"' : '' ?>>Отклонен</option>
								<option value="rejected_user" <?= $this->OrderInfo['state_issuing']=='rejected_user' ? 'selected="selected"' : '' ?>>Отклонен пользователем</option>
								<option value="sent" <?= $this->OrderInfo['state_issuing']=='sent' ? 'selected="selected"' : '' ?>>Отправлен</option>
								<option value="not_taken" <?= $this->OrderInfo['state_issuing']=='not_taken' ? 'selected="selected"' : '' ?>>Не Забрали</option>
								<option value="wait" <?= $this->OrderInfo['state_issuing']=='wait' ? 'selected="selected"' : '' ?>>Ожидание</option>
								<option value="paid" <?= $this->OrderInfo['state_issuing']=='paid' ? 'selected="selected"' : '' ?>>Оплачен</option>
								<option value="delivered" <?= $this->OrderInfo['state_issuing']=='delivered' ? 'selected="selected"' : '' ?>>Доставлен</option>
								<option value="cancelled" <?= $this->OrderInfo['state_issuing']=='cancelled' ? 'selected="selected"' : '' ?>>Отменён</option>
								<!-- dobavlenue -->
								<option value="inprint" <?= $this->OrderInfo['state_issuing']=='inprint' ? 'selected="selected"' : '' ?>>В печати</option>
								<option value="dostavka" <?= $this->OrderInfo['state_issuing']=='dostavka' ? 'selected="selected"' : '' ?>>Доставка</option>
								<option value="dostavlen" <?= $this->OrderInfo['state_issuing']=='dostavlen' ? 'selected="selected"' : '' ?>>Доставлен</option>
								<option value="dostavlen_punkt" <?= $this->OrderInfo['state_issuing']=='dostavlen_punkt' ? 'selected="selected"' : '' ?>>Доставлен в пункт выдачи</option>
								<option value="dostavka_punkt" <?= $this->OrderInfo['state_issuing']=='dostavka_punkt' ? 'selected="selected"' : '' ?>>Доставка в пункт выдачи</option>
								<option value="dostavka_kyrer" <?= $this->OrderInfo['state_issuing']=='dostavka_kyrer' ? 'selected="selected"' : '' ?>>Доставка курьером</option>
								<option value="dostavka_newpost" <?= $this->OrderInfo['state_issuing']=='dostavka_newpost' ? 'selected="selected"' : '' ?>>Доставлка новой почтой</option>
								<option value="accepted" <?= $this->OrderInfo['state_issuing']=='accepted' ? 'selected="selected"' : '' ?>>Принят</option>
							</select>
						</td> 
					</tr>
					
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>
						<td class="min-width"><label>Контактное лицо:</label></td>
						<td class="input"><?= $this->OrderInfo['name'] ?></td>
					</tr>
					<tr>
						<td class="min-width"><label>Контактный телефон:</label></td>
						<td class="input"><?= $this->OrderInfo['phone'] ?></td>
					</tr>
					<tr>
						<td class="min-width"><label>Контактный email:</label></td>
						<td class="input"><?= $this->OrderInfo['email'] ?></td>
					</tr>
					<tr>
						<td class="min-width"><label>Адрес:</label></td>
						<td class="input"><?= $this->OrderInfo['address'] ?></td> 
					</tr>
					<tr>
						<?
							$string = $this->_get_system_variable('payment_methods');
							$payment_methods = explodeMultiString($string);
						?>
						<td class="min-width"><label>Способ оплаты:</label></td>
						<td class="input"><?= $payment_methods[$this->OrderInfo['payment_way']]['item'] ?></td>
					</tr>
					<tr>
						<?
							$string = $this->_get_system_variable('delivery_methods');
							$delivery_methods = explodeMultiString($string);
						?>
						
						<td class="min-width"><label>Способ доставки:</label></td>
						
						<?/*if($this->OrderInfo['delivery_way']=='2'){?>
						<td class="input"><?= $delivery_methods[$this->OrderInfo['delivery_way']]['item'].'  ('. $this->OrderInfo['delivery_option'] .')'?></td>
					
						<?}else{?>
						<td class="input"><?= $delivery_methods[$this->OrderInfo['delivery_way']]['item'].($this->OrderInfo['delivery_option'] ? ' ('.$delivery_methods[$this->OrderInfo['delivery_way']]['options'][$this->OrderInfo['delivery_option']].')':'') ?></td>
						<?}*/?>
						<td class="input"><?= $delivery_methods[$this->OrderInfo['delivery_way']]['item'].($this->OrderInfo['delivery_option'] ? ' ('.($delivery_methods[$this->OrderInfo['delivery_way']]['options'][$this->OrderInfo['delivery_option']]?$delivery_methods[$this->OrderInfo['delivery_way']]['options'][$this->OrderInfo['delivery_option']]:$this->OrderInfo['delivery_option']).')':'') ?></td>
					</tr>
					<tr>
						<td class="min-width"><label>Адрес доставки (если необходима доставка):</label></td>
						<td class="input"><?= $this->OrderInfo['address2'] ?></td>
					</tr>
					
					<tr>
						<td class="min-width"><label>Комментарий:</label></td>
						<td class="input"><?= $this->OrderInfo['comment'] ?></td>
					</tr>
					<? if( $this->OrderInfo['lp_id']){?>
						<tr>
							<td class="min-width"><label>ID операции в LiqPay:</label></td>
							<td class="input"><?= $this->OrderInfo['lp_id'] ?></td>
						</tr>
					<?}?>
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					
					 <tr>
						<td colspan="2">

							<a onclick="window.open (this.href,'mywindow','menubar=1,resizable=1,width=550,height=550');return false;" href="/azone/orders/?Event=Print&id=<?= $this->OrderInfo['id']?>&popup=true">Распечатать заказ</a>
							&nbsp;&nbsp;
							<a onclick="window.open (this.href,'mywindow','menubar=1,resizable=1,width=550,height=550');return false;" href="/azone/orders/?Event=PrintStic&id=<?= $this->OrderInfo['id']?>&popup=true">Распечатать наклейку</a>
							&nbsp;&nbsp;
							<?if($this->OrderInfo['state']=='new'){?>
								<a target="_blank" href="/azone/orders/?Event=DownloadOrder&id=<?= $this->OrderInfo['id']?>">Скачать заказ</a>
							<?}?>
						</td>
					</tr> 
					
					
					<tr>
						<td colspan="2"><? $this->Grid->Display() ?></td>
					</tr>
					<?/* <tr>
						<td class="min-width"><label>Скидка:</label></td>
						<td class="input"><?= $this->OrderInfo['discount']?></td>
					</tr> */?>
					
					<? foreach($this->Opt_size_count as $key=>$val){ ?>
						<tr>
							<td class="min-width"><label><?=$key?></label></td>
							<td class="input"><?=$val?></td>
						</tr>
					<? } ?>
					<tr>
						<td class="min-width"><label>Общ-е к-во</label></td>
						<td class="input"><?= $this->OrderInfo['qty']?> шт.</td>
					</tr> 
					<tr>
						<? 
							$plus=' ';
							if($delivery_methods[$this->OrderInfo['delivery_way']]['options'] && ($this->OrderInfo['total']<200)){
								if($delivery_methods[$this->OrderInfo['delivery_way']]['options'][0]=='newpost'){
									$plus=' + стоимость доставки курьерской службой "Новая Почтя" ';
								}
							}
								
							?>
						<td class="min-width"><label>Итого:</label></td>
						
						<td class="input"><?= $this->OrderInfo['total']?> <?if (isset($this->OrderInfo['courieradd']) && $this->OrderInfo['courieradd']) { echo '+'.$this->_get_system_variable('sum_courier');}?> <?= $plus.'грн';?>  </td>
					</tr>
					
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>orders/'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
							<input type="hidden" name="redirect" value="" id="redirect" />
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>