<div class="AzUsers">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<div class="filter" style="padding-left: 20px;padding-right:5px;padding-top:5px">
			<label for="filtr">Фильтр</label>
			<? $filter_name='filtr' ?>
			
			<input type="checkbox" name="<?= $filter_name?>" <?= ($_GET[$filter_name]=='y'  || $_SESSION['azone_account']['filtr']) ?'checked':''?> value="y" onchange="window.location='<?= $this->RootUrl?><?= $this->ModuleInfo['name']?>/?<?= $filter_name?>='+(this.checked?'y':'n')+'<?= $this->getFilterGET($filter_name)?>'" id="<?= $filter_name?>" />
		</div>
		<form action="" method="get">
		<? /* 	<label for="filtr"> Фильтр </label>
				
				<input type="checkbox" value="1" name="filtr" id="filtr" <?= $_GET['filtr']?'checked' :' '  ?>>  */?>
			<label for="order_id">Номер заказа</label>
			<input type="text" id="order_id" name="order_id" value="<?= $_GET['order_id']?>" />
			<label for="fio">ФИО</label>
			<input type="text" id="fio" name="fio" value="<?= $_GET['fio']?>"/>
			<label for="date">Дата</label>
			<input type="text" id="date" name="date" value="<?= $_GET['date']?>" onclick="displayCalendar(this,'dd.mm.yyyy',this,false)"/>
			<label for="state">Статус</label>
			<select name="state">
				<option value="new" <?= $_GET['state']=='new' ? 'selected="selected"' : '' ?>>Новый</option>
				
				<option value="sent" <?= $_GET['state']=='sent' ? 'selected="selected"' : '' ?>>Отправлен</option>
				<option value="took" <?= $_GET['state']=='took' ? 'selected="selected"' : '' ?>>Забрали</option>
				<option value="not_taken" <?= $_GET['state']=='not_taken' ? 'selected="selected"' : '' ?>>Не Забрали</option>
				
				<option value="wait" <?= $_GET['state']=='wait' ? 'selected="selected"' : '' ?>>Ожидание</option>
				<option value="delivered" <?= $_GET['state']=='delivered' ? 'selected="selected"' : '' ?>>Доставлен</option>
				<option value="cancelled" <?= $_GET['state']=='cancelled' ? 'selected="selected"' : '' ?>>Отменён</option>
				
				<option value="inprint" <?= $_GET['state']=='inprint' ? 'selected="selected"' : '' ?> >В печати</option>
				<option value="dostavka" <?= $_GET['state']=='dostavka' ? 'selected="selected"' : '' ?>>Доставка</option>
				<option value="dostavlen" <?= $_GET['state']=='dostavlen' ? 'selected="selected"' : '' ?>>Доставлен</option>
				<option value="dostavlen_punkt" <?= $_GET['state']=='dostavlen_punkt' ? 'selected="selected"' : '' ?>>Доставлен в пункт выдачи</option>
				<option value="dostavka_punkt" <?= $_GET['state']=='dostavka_punkt' ? 'selected="selected"' : '' ?>>Доставка в пункт выдачи</option>
				<option value="dostavka_kyrer" <?= $_GET['state']=='dostavka_kyrer' ? 'selected="selected"' : '' ?>>Доставка курьером</option>
				<option value="dostavka_newpost" <?= $_GET['state']=='dostavka_newpost' ? 'selected="selected"' : '' ?>>Доставлка новой почтой</option>
				<option value="accepted" <?= $_GET['state']=='accepted' ? 'selected="selected"' : '' ?>>Принят</option>
				
				<option value="0" <?= $_GET['state']=='0' ? 'selected="selected"' : '' ?>>Любой</option>
				
			</select>
			<input type="submit" class="sbt-search" value="Поиск">
		</form>		
	</div></div>
	
	<? $this->Grid->Display() ?>
	
	<? $this->PageNavigator->Run() ?>
</div>
