<div class="text-box">
	<?/* <div class="breadcrumb"><a href="#" title="">Главная</a> > <span>Доставка/оплата</span></div> */?>
	<?include PATH_SNIPPETS.'breadcrumbs.php'?>
	<div class="plain-text">
		<? if($this->Error){ ?>
			<h1 class="error~"><?= $this->Error ?></h1>
		<? } ?>
		<? if($this->Success){ ?>
			<h1 class="message"><?= $this->Success ?></h1>
		<? } ?>
	</div>
</div>