<div class="right-block">
	<div class="top"></div>
	<div class="body">
	
	<?
			$menu = $this->GetMenu('position3 = 1 AND parent_id = 0');
			if($menu){
			
		?>		
			<?for($i = 0, $cnt = count($menu);$i < $cnt; $i++){?>
			<div class="item">
				<?if($menu[$i]['filename']){?>
				<div class="ico">
					<img src="<?=$this->RootUrl?>images/?src=<?=$menu[$i]['filename']?>&w=39&h=39&zc=1&f=png" class="png-fix" alt="" />
				</div>
				<?}?>
				<div class="navigation">
					<h2><?if(!$menu[$i]['no_link']){?>
					<a href="<?=$this->generate_url($menu[$i])?>"><?=$menu[$i]['title']?></a>
					<?}else{?>
					<?=$menu[$i]['title']?>
					<?}?>
					</h2>
					<?
						$sub_menu = $this->GetMenu('parent_id = '.$menu[$i]['id']);
						if($sub_menu){
						for($j = 0, $scnt = count($sub_menu);$j < $scnt; $j++){
					?>
					<h3 <?=$sub_menu[$j]['selected']?'class="selected"':''?>>
						<?if($sub_menu[$j]['filename']){?>
							<img src="<?=$this->RootUrl?>images/?src=<?=$sub_menu[$j]['filename']?>&w=16&h=16&zc=1&f=png" class="png-fix" alt="" />
						<?}?>
						<?if(!$sub_menu[$j]['no_link']){?>
							<a href="<?=$this->generate_url($sub_menu[$j],$menu[$i])?>"><?=$sub_menu[$j]['title']?></a>
						<?}else{?>
							<?=$sub_menu[$j]['title']?>
						<?}?>									
					</h3>
					<?}}?>	

				</div>
				
			</div>		
			<?}?>												
		
		<?}?>				

		<div class="payment item">
			<?
			$menu = $this->GetMenu('position4 = 1 AND parent_id = 0');
			if($menu){
			
			?>	
			<ul>
				<?for($i = 0, $cnt = count($menu);$i < $cnt; $i++){?>
				<li>
					<?if($menu[$i]['filename']){?>
					<img src="<?=$this->RootUrl?>images/?src=<?=$menu[$i]['filename']?>&h=189" class="png-fix" alt="" />
					<?}else{?>
					<?=$menu[$i]['title']?>
					<?}?>
				</li>
				<?}?>
			</ul>
			<?}?>
		</div>
	
	
		
		
	
		<div class="clear"></div>
	</div>
	<div class="bottom"></div>								
</div>