<div class="mainbar">
			<div class="text-title">
				<h1>КАК ТАК ПОЛУЧИЛОСЬ?</h1>				
			</div>
			<div class="inside">
				<h2 class="font-cond"></h2>
						<p>ВОЗМОЖНО ВЫ СДЕЛАЛИ ОШИБКУ В АДРЕСЕ СТРАНИЦЫ ИЛИ КЛИКНУЛИ ПО ССЫЛКЕ, КОТОРАЯ ВАС СЮДА ПРИВЕЛА.</p>
						<h2 class="font-cond">ЧТО МНЕ ДЕЛАТЬ?</h2>
						<p>ПЕРЕЙДИТЕ НА <a href="/" alt="Главная">ГЛАВНУЮ СТРАНИЦУ</a> ИЛИ ВОСПОЛЬЗУЙТЕСЬ "МЕНЮ", ДЛЯ ПЕРЕХОДА НА НУЖНУЮ ВАМ СТРАНИЦУ. ВОЗМОЖНО ОНА БЫЛА ПЕРЕНЕСЕНА В ДРУГОЕ МЕСТО.</p>
					
			</div>
		</div>
<div class="clear"></div>
