<div class="mainbar">
	<div class="text-title">
		<?if($this->ViewEvent == 'AllNews'){?>
		<h1>{[NEWS_TITLE]}</h1>
		<?}else{?>
		<h1><?= $this->OneNews['title']?></h1>
		<h2><span class="date">от <?= $this->OneNews['date']?></span></h2>
		<?}?>
	</div>
	<div class="inside">
		<div class="main-left-box">
				<?include PATH_SNIPPETS.'breadcrumbs.php'?>
				<?if($this->ViewEvent == 'AllNews'){?>
				<?if($this->News){?>
					
						<?foreach($this->News as $news){?>
							<div class="news-sect">
								<?if($news['filename2']){?><div class="news-img"><a href="<?= $this->LN_url?>news/view/<?= $news['url']?>.html"><img width="140"<?/*  height="82" */?> src="<?= $news['filename2']?>" alt=""/></a></div>
								<?}?><div class="news-text">
									
									<h2><a href="<?= $this->LN_url?>news/view/<?= $news['url']?>.html"><?= $news['title']?></a> 
									<span class="date">от <?= date($this->_get_system_variable('date_format'), $news['publish_ts'])?></span></h2>
									
									<?= $news['introtext']?>
									
								</div>
								
							</div>
						<?}?>
						<?= $this->PageNavigator->Run()?>
					
				<?}else{?>
					
					
						<p class="info-text">{[NO_NEWS]}</p>
					
		<?}?>
		<?}else{?>
		<?= $this->OneNews['fulltext']?>
		<?}?>
		</div>
		
	</div>
</div>
<div class="clear"></div>
