<div class="mainbar">

	<div class="text-title">
		<?if($this->ViewEvent == 'AllNews'){?>
		<h1>{[REVIEWS_TITLE]}</h1>
		<?}else{?>
		<h1><?= $this->OneNews['title']?></h1>
		<h2><span class="date">от <?= $this->OneNews['date']?></span></h2>
		<?}?>
	</div>
	<div class="inside">
		<div class="main-left-box">
				<?include PATH_SNIPPETS.'breadcrumbs.php'?>
				<?if($this->ViewEvent == 'AllNews'){?>
				
				<?if($this->News){?>
					
						<?foreach($this->News as $news){?>
							<div class="news-sect">
								<div class="news-text">
									<h2><? /*<a href="<?= $this->LN_url?>news/view/<?= $news['url']?>.html"> */?><?= $news['title']?> <? /*</a> */?>
									<span class="date">от <?= date($this->_get_system_variable('date_format'), $news['publish_ts'])?></span></h2>
									<?= $news['fulltext']?>
								</div>
								
							</div>
						<?}?>
						<? echo $this->PageNavigator->Run();
						
						?>
						<?if ( isset($_SESSION['user_account'])){?>
							<?$sql = "SELECT * FROM `orders` WHERE buyer_id='".$_SESSION['user_account']['id']."' ";?>
							<?$pr= GetRow($sql);?>
							<?if(isset($pr) && $pr){?>
								<?= $this->PageInfo['content']?>
							<?}?>
						<?}?>
					
				<?}else{?>
					
					
						<p class="info-text">{[NO_NEWS]}</p>
					
		<?}?>
		<?}else{?>
		<?= $this->OneNews['fulltext']?>
		<?}?>
		</div>
		
	</div>
</div>
<div class="clear"></div>
