<? if($this->Data['options']['multiply']){?>
<form action="" id="MultiplyConfirmForm" method="post">
<?}?>
<div class="Grid">
	<table cellpadding="0" cellspacing="0">
		<tr>
			<? $count = 0;?>
			<? if($this->Data['options']['multiply']){?>
			<th style="width: 20px;">
				<input type="checkbox" class="MultiplyAllChecks" /><?$count++?>
			</th>
			<?}?>
			<? if($this->Data['options']['row_numbers']){ ?>
				<th>№</th><?$count++?>
			<? } ?>
			<? 	$s = 0;
				foreach($this->Data['titles'] as $title){ ?>
				<th style="text-align: center;">
					<?if($this->Data['options']['sortable'][$s]){?>
						<a class="down-arrow" href="<?= $this->Data['options']['sortable'][$s]['down']?>" ><img src="/azone/public/images/arrow-down.gif"></a>
						<a class="up-arrow" href="<?= $this->Data['options']['sortable'][$s]['up']?>" ><img src="/azone/public/images/arrow-up.gif"></a>
					<?}?>	
					<?= $title ?>
					<?$count++?>
				</th>
				<? $s++; ?>
			<? } ?>
			<? if($this->Data['options']['sort']){ ?>
				<th>Сортировка</th><?$count++?>
			<? } ?>
			<? if($this->Data['options']['controls']){ ?>
				<th>Действие</th><?$count++?>
			<? } ?>
		</tr>
		
		<? 
			$i = 0;
			foreach($this->Data['rows'] as $id => $row)
			{
				$i++; 
		?>
			
			<tr>
				<? if($this->Data['options']['multiply']){?>
					<td class="<?=$i % 2 ? 'row1':''?>">
						<input type="checkbox" class="MultiplyOneItemChecks" name="ID[]" value="<?=$id?>" />
					</td>
				<?}?>
				<? if($this->Data['options']['row_numbers']){ ?>
					<td class="min-width ta-center <?=$i % 2 ? 'row1':''?>">
						<?if($this->Data['options']['page'] > 1){?>
							<?= $i?>
						<?}else{?>
							<?= $i?>
						<?}?>	
					</td>
				<? } ?>
				<? foreach($row as $cell){ ?>
					<td class="<?=$i % 2 ? 'row1':''?>"><?= $cell ?></td>
				<? } ?>
				
				<? if($this->Data['options']['sort']){ ?>
					<td class="min-width ta-center <?=$i % 2 ? 'row1':''?>">
							<a href="<?= '?Event=SortDown&id='.$id.'&page='.$this->Data['options']['page']?>" title="Вниз"><img src="<?= $this->Src ?>images/down.png" alt="Вниз" /></a>
							<a href="<?= '?Event=SortUp&id='.$id.'&page='.$this->Data['options']['page']?>" title="Вверх"><img src="<?= $this->Src ?>images/up.png" alt="Вверх" /></a>
					</td>
				<? } ?>
				
				<? if($this->Data['options']['controls']){ ?>
					<td class="<?=$i % 2 ? 'row1':''?>" class="controls min-width">
						<? if($this->Data['options']['controls']['edit']){ ?>
							<a href="<?= sprintf($this->Data['options']['controls']['edit'], $id) ?>" title="Редактировать"><img src="<?= $this->Src ?>images/edit.gif" alt="Редактировать" /></a>
						<? } ?>
						<? if($this->Data['options']['controls']['recover']){ ?>
							<a href="<?= sprintf($this->Data['options']['controls']['recover'], $id) ?>" title="Восстановить"><img src="<?= $this->Src ?>images/recover.gif" alt="Восстановить" /></a>
						<? } ?>

						<? if($this->Data['options']['controls']['meta']){ ?>
							<a href="<?= sprintf($this->Data['options']['controls']['meta'], $id) ?>" class="popup" title="Meta"><img src="<?= $this->Src ?>images/meta.gif" alt="Meta" /></a>
						<? } ?>
						<? if($this->Data['options']['controls']['remove']){ ?>
							<a style="margin-left: 15px;" href="<?= sprintf($this->Data['options']['controls']['remove'], $id) ?>" onclick="return DeleteRow()" title="Удалить"><img src="<?= $this->Src ?>images/remove.gif" alt="Удалить" /></a>
						<? } ?>
						</td>
				<? } ?>
			</tr>
			
		<? } ?>
		<? if($this->Data['options']['multiply']){?>
			<tr>
				<th colspan="<?=$count?>">
					<table cellpadding="2" cellspacing="2">
						<tr>
							<td>
								С отмеченными:
							</td>
							<td>
								<select id="MutliplySelect" name="Event">
									<option selected>--Действие--</option>
									<?foreach($this->Data['options']['multiply_events'] as $el => $value){?>
										<option value="<?=$el?>"><?=$value?></option>
									<?}?>
								</select>
							
							</td>
							<td>
								<input type="submit"  id="ConfirmForm" value="Применить" />
							</td>
						</tr>
					</table>
				</th>
			</tr>
		<?}?>
	</table>
</div>
<? if($this->Data['options']['multiply']){?>
</form>
<?}?>
