<div class="categories">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<? } ?>
	</div></div>
	
	<div class="form-container">
		<div class="form"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<? if($this->DisplayError){ ?>
				<p class="error">Ошибка, проверьте выделенные поля</p>
			<? } ?>
			
			<form action="" method="post">
			
				<table cellpadding="0" cellspacing="0">
					
					<tr>
						<td class="min-width <?= $this->Errors['tyre_width'] ? 'error' : '' ?>"><label for="tyre_width">Статус:</label></td>
						<td class="input"><input type="text" id="tyre_width" name="tyre_width" value="<?= $_POST['tyre_width'] ?  $_POST['tyre_width'] : $this->TyreWidthInfo['name'] ?>" /></td>
					</tr>
					<?	
								$checked = 0;
								if($_POST){
									if($_POST['publish'] == 1){ 
										$checked  = 1;
									}else{
										$checked  = 0;
									}
								}else{
									if($this->TyreWidthInfo){
										if($this->TyreWidthInfo['state'] == 1){ 
											$checked  = 1;
										}else{
											$checked  = 0;
										}
									}
								}
					?>
					<tr>
						<td class="min-width"><label for="publish">Включено:</label></td>
						<td class="input"><input type="checkbox" id="publish" style="width:auto;" name="publish" value="1" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> /></td>
					</tr>
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>admin-panel/'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>