<div class="AzUsers">
	<div class="top-panel"><div class="tp-right">
		<div class="module-title">Настройки сайта</div>
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>

	</div></div>
	
	<? $this->CatList->Display() ?>
</div>
