
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
			<style type="text/css">
			.trash-list TD,
			.trash-list TH
			{
				padding:5px;
			}
			.trash-list P{
				margin:0;
			}
			</style>

			<table  cellpadding="0" cellspacing="0" class="trash-list" style="border-top:1px solid #000000;border-right:1px solid #000000;" width="100%">
					
					<tr class="table-title">
						<th style="background:#D0D0D0;width:70px;border-left:1px solid #000000;border-bottom:1px solid #000000;">Фото</th>
						<th style="background:#D0D0D0;border-left:1px solid #000000;border-bottom:1px solid #000000;">Разрешение</th>
						<th style="background:#D0D0D0;border-left:1px solid #000000;border-bottom:1px solid #000000;">Кол-во/шт.</th>
						<th style="background:#D0D0D0;border-left:1px solid #000000;border-bottom:1px solid #000000;">Параметры</th>
						<th style="background:#D0D0D0;border-left:1px solid #000000;border-bottom:1px solid #000000;">Качество</th>
						<th style="background:#D0D0D0;border-left:1px solid #000000;border-bottom:1px solid #000000;">Цена</th>
						
						
						<th style="background:#D0D0D0;border-left:1px solid #000000;border-bottom:1px solid #000000;border-right:1px solid #000000" class="last">Стоимость</th>
					</tr> 	<tr>
						<td class="image" style="border-left:1px solid #000000;border-bottom:1px solid #000000;"><a target="_blank" href="/public/files/images/orders/402/10x15g/x1/cat-1.jpg"><img src="/core/lib/phpThumb/phpThumb.php?w=100&amp;src=/public/files/images/orders/402/10x15g/x1/cat-1.jpg" alt="" /></a><br /><a href="http://localhost:7748/azone/orders/?Event=Download&path=public/files/images/orders/402/10x15g/x1/cat-1.jpg&name=cat-1.jpg">cat-1.jpg</a></td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>212 × 168</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>Размер фотографии: 10×15<br/>Тип бумаги: Глянцевая<br/></p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>Плохое</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1.00</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1.00</p>
						</td>
						
					</tr>	<tr>
						<td class="image" style="border-left:1px solid #000000;border-bottom:1px solid #000000;"><a target="_blank" href="/public/files/images/orders/402/10x15g/x1/cat-2.jpg"><img src="/core/lib/phpThumb/phpThumb.php?w=100&amp;src=/public/files/images/orders/402/10x15g/x1/cat-2.jpg" alt="" /></a><br /><a href="http://localhost:7748/azone/orders/?Event=Download&path=public/files/images/orders/402/10x15g/x1/cat-2.jpg&name=cat-2.jpg">cat-2.jpg</a></td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>212 × 168</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>Размер фотографии: 10×15<br/>Тип бумаги: Глянцевая<br/></p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>Плохое</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1.00</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1.00</p>
						</td>
						
					</tr>	<tr>
						<td class="image" style="border-left:1px solid #000000;border-bottom:1px solid #000000;"><a target="_blank" href="/public/files/images/orders/402/10x15g/x1/cat-3.jpg"><img src="/core/lib/phpThumb/phpThumb.php?w=100&amp;src=/public/files/images/orders/402/10x15g/x1/cat-3.jpg" alt="" /></a><br /><a href="http://localhost:7748/azone/orders/?Event=Download&path=public/files/images/orders/402/10x15g/x1/cat-3.jpg&name=cat-3.jpg">cat-3.jpg</a></td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>212 × 168</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>Размер фотографии: 10×15<br/>Тип бумаги: Глянцевая<br/></p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>Плохое</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1.00</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1.00</p>
						</td>
						
					</tr>	<tr>
						<td class="image" style="border-left:1px solid #000000;border-bottom:1px solid #000000;"><a target="_blank" href="/public/files/images/orders/402/10x15g/x1/img-1.jpg"><img src="/core/lib/phpThumb/phpThumb.php?w=100&amp;src=/public/files/images/orders/402/10x15g/x1/img-1.jpg" alt="" /></a><br /><a href="http://localhost:7748/azone/orders/?Event=Download&path=public/files/images/orders/402/10x15g/x1/img-1.jpg&name=img-1.jpg">img-1.jpg</a></td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>688 × 295</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>Размер фотографии: 10×15<br/>Тип бумаги: Глянцевая<br/></p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>Плохое</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1.00</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1.00</p>
						</td>
						
					</tr>	<tr>
						<td class="image" style="border-left:1px solid #000000;border-bottom:1px solid #000000;"><a target="_blank" href="/public/files/images/orders/402/10x15g/x1/img-small-1.jpg"><img src="/core/lib/phpThumb/phpThumb.php?w=100&amp;src=/public/files/images/orders/402/10x15g/x1/img-small-1.jpg" alt="" /></a><br /><a href="http://localhost:7748/azone/orders/?Event=Download&path=public/files/images/orders/402/10x15g/x1/img-small-1.jpg&name=img-small-1.jpg">img-small-1.jpg</a></td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>212 × 168</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>Размер фотографии: 10×15<br/>Тип бумаги: Глянцевая<br/></p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>Плохое</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1.00</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1.00</p>
						</td>
						
					</tr>	<tr>
						<td class="image" style="border-left:1px solid #000000;border-bottom:1px solid #000000;"><a target="_blank" href="/public/files/images/orders/402/10x15g/x1/img-small-2.jpg"><img src="/core/lib/phpThumb/phpThumb.php?w=100&amp;src=/public/files/images/orders/402/10x15g/x1/img-small-2.jpg" alt="" /></a><br /><a href="http://localhost:7748/azone/orders/?Event=Download&path=public/files/images/orders/402/10x15g/x1/img-small-2.jpg&name=img-small-2.jpg">img-small-2.jpg</a></td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>212 × 168</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>Размер фотографии: 10×15<br/>Тип бумаги: Глянцевая<br/></p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>Плохое</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1.00</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1.00</p>
						</td>
						
					</tr>	<tr>
						<td class="image" style="border-left:1px solid #000000;border-bottom:1px solid #000000;"><a target="_blank" href="/public/files/images/orders/402/10x15g/x1/img-small-3.jpg"><img src="/core/lib/phpThumb/phpThumb.php?w=100&amp;src=/public/files/images/orders/402/10x15g/x1/img-small-3.jpg" alt="" /></a><br /><a href="http://localhost:7748/azone/orders/?Event=Download&path=public/files/images/orders/402/10x15g/x1/img-small-3.jpg&name=img-small-3.jpg">img-small-3.jpg</a></td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>212 × 168</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>Размер фотографии: 10×15<br/>Тип бумаги: Глянцевая<br/></p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>Плохое</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1.00</p>
						</td>
						<td class="name" style="border-left:1px solid #000000;border-bottom:1px solid #000000;">
							<p>1.00</p>
						</td>
						
					</tr>	<tr class="summary">
						<th style="background:#D0D0D0;border-left:1px solid #000000;border-bottom:1px solid #000000;">Итого:</th>
						<th style="background:#D0D0D0;border-left:1px solid #000000;border-bottom:1px solid #000000;"></th>
						<th style="background:#D0D0D0;border-left:1px solid #000000;border-bottom:1px solid #000000;"></th>
						<th style="background:#D0D0D0;border-left:1px solid #000000;border-bottom:1px solid #000000;"></th>
						<th style="background:#D0D0D0;border-left:1px solid #000000;border-bottom:1px solid #000000;"></th>
						<th style="background:#D0D0D0;border-left:1px solid #000000;border-bottom:1px solid #000000;">7 шт.</th>
						<th style="background:#D0D0D0;border-left:1px solid #000000;border-bottom:1px solid #000000;">7.00</th>
					</tr>