<div class="text-box">
	<?include PATH_SNIPPETS.'breadcrumbs.php'?>
	<div class="plain-text">
		<? if($this->Error){ ?>
		<h3 class="error"><?= $this->Error ?></h3>
	<? } ?>
	 <form action="" method="post" class="registration_form">
		<table>
		<tr><td><span class="forgotten-h">Пароль:</span></td><td><input class="text-field" name="password" type="password" value="" /></td></tr>
		<tr><td><span class="forgotten-h">Подтвердите пароль:</span></td><td><input class="text-field" name="cpassword" type="password" value="" /></td></tr>
		<tr><td></td><td><input class="button but" type="submit" value="Сменить пароль"/></td></tr>
		</table>
		<input type="hidden" name="Event" value="ChangePassword" />
	</form>
	</div>
</div>