<div class="categories">

	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<? } ?>
	</div></div>
	
	<div class="form-container">
		<div class="form"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<? if($this->DisplayError){ ?>
				<p class="error">Ошибка, неверно заполнены поля</p>
			<? } ?>
			
			<form action="" method="post" enctype="multipart/form-data" id="form">
			
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td class="min-width <?= $this->Errors['title'] ? 'error' : '' ?>"><label for="title">Название:</label></td>
						<td class="input">
							<input type="text" id="title" class="NewsTitle" value="<?= $_POST ? $_POST['title'] : $this->ItemInfo['name'] ?>" name="title" />
						</td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['en_title'] ? 'error' : '' ?>"><label for="en_title">Название (aнгл.):</label></td>
						<td class="input">
							<input type="text" id="en_title" class="NewsTitle" value="<?= $_POST ? $_POST['en_title'] : $this->ItemInfo['en_name'] ?>" name="en_title" />
						</td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['coordinates'] ? 'error' : '' ?>"><label for="coordinates">Координаты:</label></td>
						<td class="input">
							<textarea cols="10" rows="5" name="coordinates"><?= $_POST['coordinates'] ? $_POST['coordinates'] : $this->ItemInfo['coordinates']?></textarea>
						</td>
					</tr>
					<tr>
						<?	
							$checked = 0;
							if($_POST['default']){ 
								$checked  = 1;
							}elseif($this->ItemInfo['default']){ 
								$checked  = 1;										
							}
						?>
						<td class="min-width"><label for="default">По умолчанию:</label></td>
						<td class="input"><input type="checkbox" id="default" style="width:auto;" name="default" value="1" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> /></td>
					</tr>
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>cities/'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
							<input type="hidden" name="redirect" value="" id="redirect" />
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>