.Grid {
	float: left;
	width: 100%;
}

.Grid TABLE {
	width: 100%;
	font-size: 12px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif,Verdana, Geneva;
	color: #2B5199;
}

.Grid TABLE TH {
	color: #00156E;
	border-bottom: 1px solid #C0C0C0;
	border-right: 1px solid #9EB6CE;
	background: #FFFFFF url("../images/title-bg.gif") repeat-x left bottom;
	padding: 3px 10px 4px 10px;
	text-align: left;
}

.Grid TABLE TD {
	border-bottom: 1px solid #C0C0C0;
	border-right: 1px solid #C0C0C0;
	padding: 3px 10px 4px 10px;
	vertical-align: middle;
	width: auto;
}

.Grid TABLE .min-width {
	width: 1%;
}

.Grid TABLE .ta-center {
	text-align: center;
}

.Grid TABLE TD.controls {
	text-align: center;
}

.Grid TABLE TD.controls A {
	margin: 0 5px;
}

.down-arrow{
	float: right;
}

.down-arrow{
	float: right;
}

.up-arrow{
	float: left;
}

.Grid TABLE TH TABLE{
	width: 200px;
}
.Grid TABLE TH TD,
.Grid TABLE TD TD{
	border: none;
	width: 1%;
	white-space:nowrap;
}
.Grid TABLE TR:HOVER TH TD,
.Grid TABLE TR:HOVER TD TD{
	background: none;
}
.Grid TABLE TR:HOVER TD{
	background: #FFD595;
}

.Grid TABLE TR:HOVER TD.row1{
	background-color: #FFD595;
}
.Grid TABLE TR TD.row1{
	background-color: #EBEBEB
}

#variants_table .price {
    text-align: center;
}
#variants_table .price input {
    width: 50px;
}