<div class="AzUsers">
	<div class="top-panel"><div class="tp-right">
		<? if($this->Perm['edit']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<? } ?>
		<?	if($_GET['els']) {
				$els = $_GET['els'];
			}else{
				$els = 20;	
			}
		?>
		<div class="filter">
			<select onchange="window.location='<?= $this->RootUrl ?>gallery/?els='+this.value+'&cat=<?= $_GET['cat']?>&brand=<?= $_GET['brand']?>'">
				<option <?= $els == 10 ? 'selected' : ''?> value="10" >10</option>
				<option <?= $els == 20 ? 'selected' : ''?> value="20" >20</option>
				<option <?= $els == 50 ? 'selected' : ''?> value="50" >50</option>
				<option <?= $els == 100 ? 'selected' : ''?> value="100" >100</option>
				<option <?= $els == 'all' ? 'selected' : ''?> value="all" >Все</option>
			</select>
		</div>
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
	</div></div>

	<? $this->Grid->Display() ?>
	
	<? $this->PageNavigator ? $this->PageNavigator->Run() : '' ?>
	<div style="float: left; clear: left;">

</div>
