<div class="AzUsers">
	<div class="top-panel"><div class="tp-right">
		<div class="module-title">Новости</div>
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>

	</div></div>
	<div class="top-panel"><div class="tp-right">
		<? if($this->Perm['edit']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New<?=($_REQUEST['lang'] != '')?'&amp;lang='.$_REQUEST['lang']:''?>">Создать</a>
		<? } ?>
		
	</div></div>
	
	<? $this->Grid->Display() ?>
	
	<? $this->PageNavigator->Run(); ?>
</div>
