<div class="categories">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<? } ?>
	</div></div>
	
	<div class="form-container">
		<div class="form" ><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<? if($this->ShowError){ ?>
				<p class="error">Ошибка, проверте выделенные поля</p>
			<? } ?>
			
			<form action="" method="post">
			
				<table cellpadding="0" cellspacing="0">
					
					<tr>
						<td class="min-width <?= $this->Errors['name'] ? 'error' : '' ?>"><label for="name">Имя менеджера:</label></td>
						<td class="input"><input type="text" class="text-input" id="name" name="name" value="<?= $_POST['name'] ?  $_POST['name'] : $this->BuyerInfo['name'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['email'] ? 'error' : '' ?>"><label for="email">E-mail:</label></td>
						<td class="input"><input type="text" class="text-input" id="email" name="email" value="<?= $_POST['email'] ?  $_POST['email'] : $this->BuyerInfo['email'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['phone'] ? 'error' : '' ?>"><label for="phone">Телефон:</label></td>
						<td class="input"><input type="text" class="text-input" id="phone" name="phone" value="<?= $_POST['phone'] ?  $_POST['phone'] : $this->BuyerInfo['phone'] ?>" /></td>
					</tr>
					<tr>
						<td colspan="2">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<?
										$checked = true;
										
										if($_POST) {
										
											$checked = $_POST['contact'];
										}
										elseif($this->BuyerInfo) {
										
											$checked = $this->BuyerInfo['contact'];
										}
									?>
									<td style="width: 1%; white-space: nowrap"><label for="contact">Получать письмо с контактной формы:</label></td>
									<td style="width: 99%"><input type="checkbox" id="contact" name="contact" value="1" <?= $checked ? 'checked="checked"' : '' ?> /></td>
								</tr>
								<tr>
									<?
										$checked = true;
										
										if($_POST) {
										
											$checked = $_POST['online_order'];
										}
										elseif($this->BuyerInfo) {
										
											$checked = $this->BuyerInfo['online_order'];
										}
									?>
									<td style="width: 1%; white-space: nowrap"><label for="online_order">Получать письмо онлайн заявке:</label></td>
									<td style="width: 99%"><input type="checkbox" id="online_order" name="online_order" value="1" <?= $checked ? 'checked="checked"' : '' ?> /></td>
								</tr>
								
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>emails/'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
								<input type="hidden" name="user_id" value="<?= $this->BuyerInfo['user_id']?>" />
							<? } ?>
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>