<div class="categories">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit']){ ?>
			<!--<a class="create-item" href="<?= $this->ModuleInfo['href']?>?Event=New">Создать</a>
		--><? } ?>
	</div></div>
	
	<div class="form-container">
		<div class="form big-width"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<form action="" method="post">
			
				<table cellpadding="0" cellspacing="0">
					<?/* <tr>
						<td class="min-width <?= $this->Errors['create_ts'] ? 'error' : '' ?>"><label for="create_ts">Дата регистрации на сайте:</label></td>
						<td class="input">
							<input type="text" id="create_ts" class="NewsCalendarContainer" name="create_ts:str" value="<?= $_POST['create_ts:str'] ?  date("d.m.Y H:i",$_POST['create_ts:str']) : date("d.m.Y H:i",($this->UserInfo['create_ts'] ? $this->UserInfo['create_ts'] : time())) ?>" />
							<input type="button" class="NewsCalendar" value="Календарь" onclick="displayCalendar(document.forms[0].create_ts,'dd.mm.yyyy hh:ii',this,true)">
						</td>
					</tr> */?>
					<?/* <tr>
						<td class="min-width <?= $this->Errors['id'] ? 'error' : '' ?>"><label for="id">Уникальный код:</label></td>
						<td class="input">
							<?/* <input type="text" id="id" name="id:int" value="<?= $_POST['id:int'] ?  $_POST['id:int'] : $this->UserInfo['id'] ?>" /> *-/?>
							<?= $this->UserInfo['id']?>
						</td>
					</tr> */?>
					<?/* <tr>
						<td class="min-width <?= $this->Errors['login'] ? 'error' : '' ?>"><label for="login">Логин:</label></td>
						<td class="input"><input type="text" id="login" name="login:str" value="<?= $_POST['login:str'] ?  $_POST['login:str'] : $this->UserInfo['login'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['password'] ? 'error' : '' ?>"><label for="password">Пароль:</label></td>
						<td class="input"><input type="password" id="password" name="password:pass" value="" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['confirm'] ? 'error' : '' ?>"><label for="confirm">Повтор пароля:</label></td>
						<td class="input"><input type="password" id="confirm" name="confirm" value="" /></td>
					</tr> */?>
					<?/* <tr>
						<td class="min-width <?= $this->Errors['fio'] ? 'error' : '' ?>"><label for="name">ФИО:</label></td>
						<td class="input"><input type="text" id="fio" name="fio:str" value="<?= $_POST['fio:str'] ?  $_POST['fio:str'] : $this->UserInfo['fio'] ?>" /></td>
					</tr> */?>
					<tr>
						<td class="min-width <?= $this->Errors['surname'] ? 'error' : '' ?>"><label for="surname">Фамилия:</label></td>
						<td class="input"><input type="text" id="surname" name="surname:str" value="<?= $_POST['surname:str'] ?  $_POST['surname:str'] : $this->UserInfo['surname'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['name'] ? 'error' : '' ?>"><label for="name">Имя:</label></td>
						<td class="input"><input type="text" id="name" name="name:str" value="<?= $_POST['name:str'] ?  $_POST['name:str'] : $this->UserInfo['name'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['patronymic'] ? 'error' : '' ?>"><label for="patronymic">Отчество:</label></td>
						<td class="input"><input type="text" id="patronymic" name="patronymic:str" value="<?= $_POST['patronymic:str'] ?  $_POST['patronymic:str'] : $this->UserInfo['patronymic'] ?>" /></td>
					</tr>
					<?/* <tr>
						<td class="min-width <?= $this->Errors['birthday'] ? 'error' : '' ?>"><label for="birthday">Год рождения участника:</label></td>
						<td class="input">
							<input type="text" id="birthday" class="NewsCalendarContainer" name="birthday:str" value="<?= $_POST['birthday:str'] ?  date("d.m.Y H:i",$_POST['birthday:str']) : date("d.m.Y H:i",($this->UserInfo['birthday'] ? $this->UserInfo['birthday'] : time())) ?>" />
							<input type="button" class="NewsCalendar" value="Календарь" onclick="displayCalendar(document.forms[0].birthday,'dd.mm.yyyy hh:ii',this,true)">
						</td>
					</tr> */?>
					<?/* <tr>
						<td class="min-width <?= $this->Errors['date_purchase'] ? 'error' : '' ?>"><label for="date_purchase">Дата приобретения товара:</label></td>
						<td class="input">
							<input type="text" id="date_purchase" class="NewsCalendarContainer" name="date_purchase:str" value="<?= $_POST['date_purchase:str'] ?  date("d.m.Y H:i",$_POST['date_purchase:str']) : date("d.m.Y H:i",($this->UserInfo['date_purchase'] ? $this->UserInfo['date_purchase'] : time())) ?>" />
							<input type="button" class="NewsCalendar" value="Календарь" onclick="displayCalendar(document.forms[0].date_purchase,'dd.mm.yyyy hh:ii',this,true)">
						</td>
					</tr>
					<tr>
						<td class="min-width "><label for="product_name">Наименования приобретенных товаров:</label></td>
						<td class="input">
							<textarea rows="5" name="product_name:str" id="product_name" cols="10"><?= $_POST['product_name:str'] ? $_POST['product_name:str'] : $this->UserInfo['product_name']?></textarea>
						</td>
					</tr>
					<tr>
						<td class="min-width "><label for="product_serial_number">Серийный номер/-а приобретенного товара:</label></td>
						<td class="input">
							<textarea rows="5" name="product_serial_number:str" id="product_serial_number" cols="10"><?= $_POST['product_serial_number:str'] ? $_POST['product_serial_number:str'] : $this->UserInfo['product_serial_number']?></textarea>
						</td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['shop_title'] ? 'error' : '' ?>"><label for="shop_title">Место покупки<br />(название торговой точки, указанное на чеке):</label></td>
						<td class="input"><input type="text" id="shop_title" name="shop_title:str" value="<?= $_POST['shop_title:str'] ?  $_POST['shop_title:str'] : $this->UserInfo['shop_title'] ?>" /></td>
					</tr> */?>
					<?/* <tr>
						<td class="min-width <?= $this->Errors['city'] ? 'error' : '' ?>"><label for="city">Город:</label></td>
						<td class="input"><input type="text" id="city" name="city:str" value="<?= $_POST['city:str'] ?  $_POST['city:str'] : $this->UserInfo['city'] ?>" /></td>
					</tr> */?>
					<tr>
						<td class="min-width <?= $this->Errors['phone'] ? 'error' : '' ?>"><label for="phone">Телефон:</label></td>
						<td class="input"><input type="text" id="phone" name="phone:str" value="<?= $_POST['phone:str'] ?  $_POST['phone:str'] : $this->UserInfo['phone'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['email'] ? 'error' : '' ?>"><label for="email">E-mail:</label></td>
						<td class="input"><input type="text" id="email" name="email:str" value="<?= $_POST['email:str'] ?  $_POST['email:str'] : $this->UserInfo['email'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['city'] ? 'error' : '' ?>"><label for="city">Город:</label></td>
						<td class="input"><input type="text" id="city" name="city:str" value="<?= $_POST['city:str'] ?  $_POST['city:str'] : $this->UserInfo['city'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['street'] ? 'error' : '' ?>"><label for="street">Улица:</label></td>
						<td class="input"><input type="text" id="street" name="street:str" value="<?= $_POST['street:str'] ?  $_POST['street:str'] : $this->UserInfo['street'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['house'] ? 'error' : '' ?>"><label for="house">Номер дома:</label></td>
						<td class="input"><input type="text" id="house" name="house:str" value="<?= $_POST['house:str'] ?  $_POST['house:str'] : $this->UserInfo['house'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['apartment'] ? 'error' : '' ?>"><label for="apartment">Квартира:</label></td>
						<td class="input"><input type="text" id="apartment" name="apartment:str" value="<?= $_POST['apartment:str'] ?  $_POST['apartment:str'] : $this->UserInfo['apartment'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width "><label for="create_ts">Время регистрации:</label></td>
						<td><?= date('d-m-Y',$this->UserInfo['create_ts'])?>
						<? /*
							<td class="input"><input type="text" id="apartment" name="apartment:str" value="<?= $_POST['apartment:str'] ?  $_POST['apartment:str'] : $this->UserInfo['apartment'] ?>" /></td>
						*/?>
					</tr>
					<tr>
						<td class="min-width <?//= $this->Errors['apartment'] ? 'error' : '' ?>"><label for="apartment">Количество фоток (за все время):</label><?= $this->UserInfo['photo_cnt']?></td>
						
					</tr>
					
					<?/* <tr>
						<td class="min-width <?= $this->Errors['phone'] ? 'error' : '' ?>"><label for="phone">Телефон:</label></td>
						<td class="input"><input type="text" id="phone" name="phone:str" value="<?= $_POST['phone:str'] ?  $_POST['phone:str'] : $this->UserInfo['phone'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['adres'] ? 'error' : '' ?>"><label for="adres">Адрес:</label></td>
						<td class="input"><textarea name="adres:str" ><?= $_POST['adres:str'] ?  $_POST['adres:str'] : $this->UserInfo['adres'] ?></textarea></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['discount'] ? 'error' : '' ?>"><label for="discount">Скидка %:</label></td>
						<td class="input"><input type="text" id="discount" name="discount:int" value="<?= $_POST['discount:int'] ?  $_POST['discount:int'] : $this->UserInfo['discount'] ?>" /></td>
					</tr> */?>
					<?/* <tr>
						<?
							if($_POST) {
								$checked = $_POST['subscribe:int'];
							}
							elseif($this->UserInfo) {
								$checked = $this->UserInfo['subscribe'];
							}
						?>
						<td class="min-width"><label for="subscribe">Согласие на получение информационной рассылки:</label></td>
						<td class="input publish">
							<input type="hidden" name="subscribe:int" value="0" />
							<input type="checkbox" id="subscribe" name="subscribe:int" value="1" <?= $checked ? 'checked="checked"' : ''?> />
							<?//= $checked == '1' ? 'Подтверждено' : 'Не подтверждено'?>
						</td>
					</tr> */?>
					<?
						if($_POST) {
							$state = $_POST['active:int'];
						}
						else {
							$state = $this->UserInfo['active'];
						}
					?>
					<tr>
						<td class="min-width"><label for="state">Активен:</label></td>
						<td class="input">
							<select name="active:int">
								<option value="1" <?= $state=='1' ? 'selected="selected"' : '' ?>>Да</option>
								<option value="0" <?= $state=='0' ? 'selected="selected"' : '' ?>>Нет</option>
							</select>
						</td>
					</tr>
					<?
						if($_POST) {
							$pricenamber = $_POST['pricenamber:int'];
						}
						else {
							$pricenamber = $this->UserInfo['pricenamber'];
						}
					?>
					<tr>
						<td class="min-width"><label for="state">Прайс:</label></td>
						<td class="input">
							<select name="pricenamber:int">
								<option value="0" <?= $pricenamber=='0' ? 'selected="selected"' : '' ?>>Выберите прайс</option>
								<option value="1" <?= $pricenamber=='1' ? 'selected="selected"' : '' ?>>1</option>
								<option value="2" <?= $pricenamber=='2' ? 'selected="selected"' : '' ?>>2</option>
								<option value="3" <?= $pricenamber=='3' ? 'selected="selected"' : '' ?>>3</option>
								<option value="4" <?= $pricenamber=='4' ? 'selected="selected"' : '' ?>>4</option>
								<option value="5" <?= $pricenamber=='5' ? 'selected="selected"' : '' ?>>5</option>
								<option value="6" <?= $pricenamber=='6' ? 'selected="selected"' : '' ?>>6</option>
								<option value="7" <?= $pricenamber=='7' ? 'selected="selected"' : '' ?>>7</option>
								<option value="8" <?= $pricenamber=='8' ? 'selected="selected"' : '' ?>>8</option>
							</select>
						</td>
					</tr>
					 <tr>
						<?
							if($_POST) {
								$checked = $_POST['profi:int'];
							}
							elseif($this->UserInfo) {
								$checked = $this->UserInfo['profi'];
							}
						?>
						<td class="min-width"><label for="profi">Профи:</label></td>
						<td class="input publish">
							<input type="hidden" name="profi:int" value="0" />
							<input type="checkbox" id="profi" name="profi:int" value="1" <?= $checked ? 'checked="checked"' : ''?> />
							<?//= $checked == '1' ? 'Подтверждено' : 'Не подтверждено'?>
						</td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['deliv_cour'] ? 'error' : '' ?>"><label for="deliv_cour">Доставка курьером:</label></td>
						<td class="input"><input type="text" id="deliv_cour" name="deliv_cour:int" value="<?= $_POST['deliv_cour:int'] ?  $_POST['deliv_cour:int'] : $this->UserInfo['deliv_cour'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['deliv_np'] ? 'error' : '' ?>"><label for="deliv_np">Доставка "Новой Почтой":</label></td>
						<td class="input"><input type="text" id="deliv_np" name="deliv_np:int" value="<?= $_POST['deliv_np:int'] ?  $_POST['deliv_np:int'] : $this->UserInfo['deliv_np'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width "><label for="note">Примечания:</label></td>
						<td class="input">
							<textarea rows="5" name="note:str" id="note" cols="10"><?= $_POST['note:str'] ? $_POST['note:str'] : $this->UserInfo['note']?></textarea>
						</td>
					</tr>
					<tr>
						<? // было для историй заказов без привязки ко времени
							/*
							$steyt_del=$this->UserInfo['product_name'];
							$steyt_del_arr=explode(';',$steyt_del);
							if(is_array($steyt_del_arr) && $steyt_del_arr[0] ){
								foreach($steyt_del_arr  as $key=>$val){
									$v=array();
									$v=explode('/',$val);
									$steyt_del_arr_sort[$v[0]]=$v[1];
								}
							}
							$orders=array();
							foreach($this->UserOrderInfo as $val){
								if($orders[$val['state']]){
									$v=array();
									$v=explode(':',$orders[$val['state']]);
									$orders[$val['state']]=($v[0]+1).':'.($v[1]+$val['total']);
								}else{
									$orders[$val['state']]='1:'.$val['total'];
								}							
							}
							$gg=$orders;
							foreach($orders as $key=>$val){
								if($steyt_del_arr_sort[$key]){
									$v=array();
									$v=explode(':',$steyt_del_arr_sort[$key]);
									$vv=array();
									$vv=explode(':',$orders[$key]);
									$orders[$key]=($v[0]+$vv[0]).':'.($v[1]+$vv[1]);
									unset ($steyt_del_arr_sort[$key]);
								}
							}
							if( is_array($steyt_del_arr_sort) && $steyt_del_arr_sort){
								foreach($steyt_del_arr_sort as $key=>$val){
									$orders[$key]=$val;
								}
							}
						*/
						// с привязкой ко времени
						$orders=array();
						$dva=array();
						$dva=$this->UserOrderInfo;
						
						array_splice($dva, count($dva), 0, $this->UserOrderInfoDel);
						
							foreach($dva as $val){
								if($orders[$val['state']]){
									$v=array();
									$v=explode(':',$orders[$val['state']]);
									$orders[$val['state']]=($v[0]+1).':'.($v[1]+$val['total']);
								}else{
									$orders[$val['state']]='1:'.$val['total'];
								}							
							}
						$data_author=array();
						foreach($dva as $key=>$arr){
							$data_author[$key]=$arr['ts'];
						}
						 
												 
						array_multisort($data_author, SORT_DESC,SORT_NUMERIC, $dva);
					
						?>
						<td colspan="2">
						
							<? if(is_array ($orders) ){  ?>
							<br/>
							<div class="hr"> </div>
								<table width="100%" cellspacing="0" cellpadding="0" class="c_table">
									<tbody>
										<tr><th>Статус </th><th>Количество заказов </th> <th>Сумма </th></tr> 
										<? $vsego=array(); foreach($orders as $key=>$val){ 
										$v=array();
										$v=explode(':',$val);
										$vsego['total']+=$v['1'];
										$vsego['cnt']+=$v['0'];
										?>
										<tr><td><?= $this->UsersOrderName[$key] ?> </td><td><?= $v[0]?> </td> <td> <?= $v[1]?> грн.</td></tr> 
										<? } ?>
										
										<tr><td>Всего </td><td><?= $vsego['cnt']?> </td> <td>  <?= $vsego['total']?> грн.</td></tr> 
									</tbody>
								</table>
							
							<? } ?>
						</td>
						
					</tr>
					<tr>
						<td colspan="2">
								<? if(is_array ($orders) ){  ?>
								<div class="hr"> </div>
									<table width="100%" cellspacing="0" cellpadding="0" class="c_table">
										<tbody>
											<tr><th>Статус </th><th>Дата </th> <th>Сумма </th></tr> 
											<?  foreach($dva as $key=>$val){ 
											
											?>
											<tr><td><?= $this->UsersOrderName[$val['state']] ?> </td><td><?= date('Y.m.d H:i' ,$val['ts'])?> </td> <td> <?= $val['total']?> грн.</td></tr> 
											<? } ?>
											
											<tr><td>Всего </td><td><?= $vsego['cnt']?> </td> <td>  <?= $vsego['total']?> грн.</td></tr> 
										</tbody>
									</table>
								<div class="hr"> </div>
								<br/>
								<?}?>
							</td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?><?= $this->ModuleInfo['name']?>/?page=<?= $_GET['page']?>'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>