<?//= getFilterGET('cat')?>
<?//_debug($this->Cities)?>
<div class="AzUsers">
	<div class="top-panel" style="height:50px;"><div class="tp-right">
		<div class="module-title"><?= $this->ModuleInfo['title']?> (Кол-во: <?= $this->CntItems?>) </div>
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<!-- serch -->
		
		<form style="margin:20px" action="" method="get">
			<label for="email"> E-mail</label>
			<input type="text" id="email" name="email" value="<?= $_GET['email']?>" />
			<label for="phone"> Телефон</label>
			<input type="text" id="phone" name="phone" value="<?= $_GET['phone']?>" />
			<label for="name">Имя </label>
			<input type="text" id="name" name="name" value="<?= $_GET['name']?>"/>
			<label for="surname">Фамилия</label>
			<input type="text" id="surname" name="surname" value="<?= $_GET['surname']?>"/>
			<label for="patronymic">Отчество</label>
			<input type="text" id="patronymic" name="patronymic" value="<?= $_GET['patronymic']?>"/>
			<input type="submit" class="sbt-search" value="Поиск">
		</form>			
		<!--  end serch -->		
		<?/* <?if($this->Perm['edit']){?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<?}?> */?>
		<?/* <div class="filter">
			<?// <select onchange="window.location='<?= $this->RootUrl?><?= $this->ModuleInfo['name']?>/?cat='+this.value+'&els=<?= $_GET['els']?>'"> ?>
			<select onchange="window.location='<?= $this->RootUrl?><?= $this->ModuleInfo['name']?>/?cat='+this.value+'<?= getFilterGET('cat')?>'">
				<option value="0">--Все категории--</option>
				<?for($i = 0; $i < $this->Categories_sz; $i++){?>
					<option value="<?= $this->Categories[$i]['id']?>" <?= $this->Categories[$i]['id'] == $_GET['cat'] ? 'selected="selected"' : '' ?>><?= $this->Categories[$i]['display_name']?></option>
				<?}?>
			</select>
		</div> */?>
		<?/* 
		<div class="filter">
			<?
				$filter_name = 'city';
				$items = $this->Cities;
			?>
			<select onchange="window.location='<?= $this->RootUrl?><?= $this->ModuleInfo['name']?>/?<?= $filter_name?>='+this.value+'<?= getFilterGET($filter_name)?>'">
				<option value="">--Все города--</option>
				<?foreach($items as $item){?>
					<option value="<?= $item['title']?>" <?= $item['title'] == $_GET[$filter_name] ? 'selected="selected"' : '' ?>><?= $item['title']?></option>
				<?}?>
			</select>
		</div>
		 */?>
		<?/* 
		<div class="filter">
			<?
				$filter_name = 'date_purchase';
			?>
			<form>
				Дата покупки
				<input type="text" value="<?= $_GET[$filter_name]?>" name="<?= $filter_name?>" class="NewsCalendarContainer" id="<?= $filter_name?>" onchange="window.location='<?= $this->RootUrl?><?= $this->ModuleInfo['name']?>/?<?= $filter_name?>='+this.value+'<?= getFilterGET($filter_name)?>'">
				<input type="button" onclick="displayCalendar(document.forms[0].<?= $filter_name?>,'dd.mm.yyyy',this,true)" value="Календарь" class="NewsCalendar">
			</form>
		</div>
		 */?>
		<?/* 
		<div class="filter">
			<?
				$filter_name = 'create_ts_from';
				/*$items = array();
				$i = 1;
				foreach($this->MonthNow as $item){
					$items[] = array('id' => $i, 'title' => $item);
					$i++;
				}*-/
			?>
			<form>
				Дата регистрации от
				<?/* <select onchange="window.location='<?= $this->RootUrl?><?= $this->ModuleInfo['name']?>/?<?= $filter_name?>='+this.value+'<?= getFilterGET($filter_name)?>'">
					<option value="">--Месяц--</option>
					<?foreach($items as $item){?>
						<option value="<?= $item['id']?>" <?= $item['title'] == $_GET[$filter_name] ? 'selected="selected"' : '' ?>><?= $item['title']?></option>
					<?}?>
				</select> */?>
				<?/* <input type="text" id="birthday" class="NewsCalendarContainer" name="birthday:str" value="<?= $_POST['birthday:str'] ?  date("d.m.Y H:i",$_POST['birthday:str']) : date("d.m.Y H:i",($this->UserInfo['birthday'] ? $this->UserInfo['birthday'] : time())) ?>" />
				<input type="button" class="NewsCalendar" value="Календарь" onclick="displayCalendar(document.forms[0].birthday,'dd.mm.yyyy hh:ii',this,true)"> *-/?>
				<input type="text" value="<?= $_GET[$filter_name]?>" name="<?= $filter_name?>" class="NewsCalendarContainer" id="<?= $filter_name?>" onchange="window.location='<?= $this->RootUrl?><?= $this->ModuleInfo['name']?>/?<?= $filter_name?>='+this.value+'<?= getFilterGET($filter_name)?>'">
				<input type="button" onclick="displayCalendar(document.forms[1].<?= $filter_name?>,'dd.mm.yyyy',this,true)" value="Календарь" class="NewsCalendar">
			</form>
		</div>
		 */?>
		<?/* 
		<div class="filter">
			<?
				$filter_name = 'create_ts_to';
				/*$items = array();
				$i = 1;
				foreach($this->MonthNow as $item){
					$items[] = array('id' => $i, 'title' => $item);
					$i++;
				}*-/
			?>
			<form>
				до 
				<input type="text" value="<?= $_GET[$filter_name]?>" name="<?= $filter_name?>" class="NewsCalendarContainer" id="<?= $filter_name?>" onchange="window.location='<?= $this->RootUrl?><?= $this->ModuleInfo['name']?>/?<?= $filter_name?>='+this.value+'<?= getFilterGET($filter_name)?>'">
				<input type="button" onclick="displayCalendar(document.forms[2].<?= $filter_name?>,'dd.mm.yyyy',this,true)" value="Календарь" class="NewsCalendar">
			</form>
		</div>
		 */?>
		<?/* 
		<div class="filter">
			<?
				$filter_name = 'shop';
				$items = $this->Shops;
			?>
			<select onchange="window.location='<?= $this->RootUrl?><?= $this->ModuleInfo['name']?>/?<?= $filter_name?>='+this.value+'<?= getFilterGET($filter_name)?>'">
				<option value="">--Все магазины--</option>
				<?foreach($items as $item){?>
					<option value="<?= $item['title']?>" <?= $item['title'] == $_GET[$filter_name] ? 'selected="selected"' : '' ?>><?= $item['title']?></option>
				<?}?>
			</select>
		</div>
		 */?>
	</div></div>
	
	<? $this->BList->Display() ?>
	
	<? $this->PageNavigator->Run() ?>
</div>
<?
	function getFilterGET($filter_name){
	
		//_debug($_GET);
		
		/*if($_GET[$filter_name]){
			unset($_GET[$filter_name]);
		}*/
		
		$GET = '';
		foreach($_GET as $key => $item){
			if($key !== $filter_name) $GET .= '&'.$key.'='.$item;
		}
		
		//_debug($_GET);
		
		return $GET;
	}
?>