<div class="btn">
<? /* <a class="button orange pie" href="#"><span>загрузить фото</span></a> */  ?>
<?if($_SESSION['user_account']){?>
					<a class="button orange pie"  href="/user-account/upload.html" title=""><span>{[UPLOAD_PHOTO]}</span></a>
				<?} else{ ?>				
					<a class="button orange pie"  href="#login-form" title="" rel="fb"><span>{[UPLOAD_PHOTO]}</span></a>
				<?}?>
</div>
