<div class="contact-form">
	<div class="page-wrap">
		<form class="validation-formm" action="/contacts.html" method="post" >
			<? /* <div class="mobile clearfix" <?if( $this->UrlParts[0]!='contacts'){?> style="background:none" <?}?>>  */ ?>
			<div class="mobile clearfix" <?if( $this->UrlParts[0]!='contacts'){?> style="background:none" <?}?>>
				<ul>
					<li><img src="<?= $this->RootUrl?>public/images/icons/f-tube.png" alt="#" /><span>{[PHONE]}</span></li>
					<? /* <li><img src="<?= $this->RootUrl?>public/images/icons/MTS.png" alt="#" /><span>{[PHONE1]}</span></li>
					<li><img src="<?= $this->RootUrl?>public/images/icons/kyivstar.png" alt="#" /><span>{[PHONE2]}</span></li>
					<li><img src="<?= $this->RootUrl?>public/images/icons/life.png" alt="#" /><span>{[PHONE3]}</span></li> */?>
				</ul>
			</div>
			 
			<? if ($this->UrlParts[0]=='contacts'){?> 
			<?// if (false){?> 
			<div class="f-wr clearfix">
				<p style="margin-top:10px;color: #A1A1A1; font-size: 20px;">{[CONT_SUPORT]}</p>
				<div class="f-left">
					<p><input name='name' class=' valid' type="text" value="Имя" /></p>
					<p><input name='email'  class=' email valid' type="text" value="email" /></p>
				</div>							
				<div class="f-right">
					<textarea name='message' class='valid' cols="50" rows="5">Сообщение</textarea>
				</div>
			</div>
			<div class="btn-wr">
				<input class="button yellow pie" type="submit" value="отправить" />
			</div>
			<input  name="Event" type="hidden" value="SendMessageFoot" />
			<?}?>
		</form>
	</div>
</div>