<div class="SortPaginator">
									<ul>
<? if($this->Pages_sz > 1){ ?>
		<?if($this->FirstLast){?>
			<? if($this->FirstHref){?><a href="<?= $this->FirstHref ?>" ><span>&lt;&lt;</span></a><?}?>					
		<?}?>

		<?if($this->PrevNext){?>
			<? if($this->PrevHref){?><a href="<?= $this->PrevHref ?>" ><span>&lt;</span></a><?}?>					
		<?}?>

		<? for($i = 0; $i < $this->Pages_sz; $i++){ ?>
			<? if($this->Pages[$i]['href']){ ?>
				<li><div class="pie"><a title="" href="<?= $this->Pages[$i]['href'] ?>"><?= $this->Pages[$i]['title'] ?></a></div></li>
			<? } else { ?>
				<li class="active"><div class="pie"><span><?= $this->Pages[$i]['title'] ?></span></div></li>
			<? } ?>
		<? } ?>

		<?if($this->PrevNext){?>
			<? if($this->NextHref){?><a href="<?= $this->NextHref ?>" ><span>&gt;</span></a><?}?>
		<?}?>

		<?if($this->FirstLast){?>
			<? if($this->LastHref){?><a href="<?= $this->LastHref ?>" ><span>&gt;&gt;</span></a><?}?>					
		<?}?>
<? } ?>

	</ul>
</div>