<div class="AzUsers">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		
	</div></div>
		<div class="form-container">
			<div style="width: 300px;" class="form"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div style="height:133px;" class="cbl">
				<p>
					В этом разделе вы можете экспортировать товары из магазина в CSV (Comma Separated Values) файл.
				</p><br />
				<?if(!$this->FileName){?>
					<form method="post" action="" enctype="multipart/form-data">
						<input type="hidden" name="Event" value="Export" /><br /><br />
						<input type="submit" value="Экспортировать" />
					</form>
				<?}else{?>
					Скачать по ссылке:<br /><br />
					<a href="/temp/catalog.xls" >Скачать файл</a>
					<br />
					<button type="button" onclick="window.location='<?= $this->RootUrl ?>export/'" class="cancel"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
				<?}?>
				<br />
			</div></div></div></div></div></div></div></div></div>
		</div>
</div>
