<div class="categories">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<? } ?>
	</div></div>
	
	<div class="form-container">
		<div class="form"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<? if($this->DisplayError){ ?>
				<p class="error">Ошибка, проверте выделенные поля</p>
			<? } ?>
			
			<form action="" method="post">
			
				<table cellpadding="0" cellspacing="0">
					
					<tr>
						<td class="min-width <?= $this->Errors['title'] ? 'error' : '' ?>"><label for="title">Заголовок:</label></td>
						<td class="input"><input type="text" id="title" name="title" value="<?= $_POST['title'] ?  $_POST['title'] : $this->CategoryInfo['title'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width"><label for="filename">Изображение:</label></td>
						<td class="input">
							<table cellpadding="0" cellspacing="0">
								<tr>
									<td style="width: 260px;"><input style="width:170px; margin: 0;" type="input" id="xImagePath" name="img" value="<?= $_POST['img'] ?  $_POST['img'] : $this->CategoryInfo['img'] ?>" /></td> 
									<td align="left"><img onclick="BrowseServer( 'Images:/', 'xImagePath' );" src="<?= $this->RootUrl ?>public/images/buttons/view.gif" /></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>categories/<?=$_REQUEST['lang']?'?lang='.$_REQUEST['lang']:''?>'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>