<div class="AzUsers">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		
	</div></div>
		<div class="form-container">
			<div style="width: 800px;" class="form"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
				<p>
					В этом разделе вы можете импортировать товары магазина из файла CSV (Comma Separated Values).
					<? //_debug($_POST);?>
				</p>
				<br />
				<form method="post" action="" id="importform" enctype="multipart/form-data">
					<input type="file" name="csv"/>
					<br /><br />
<!--					<input type="text" class="valid" value="<?=$_POST['makercode']?>" name="makercode" id="makercode" style="background: #EDECEB; width: 50px;" /> Код поставщика(поле обязательное для заполнения, только цифры)<br /><br />-->
<!--					<input type="radio" name="update" value="qty" id="update" /><label for="update_qty" >Обновлять только кол-во</label>-->
<!--						<input type="checkbox"  name="delfiles" value="1" <?=($_POST['delfiles'] == 1) ? 'checked="checked"' : '' ?> >Удалять файлы картинок товара после импорта-->

						<input type="radio" name="update" value="" id="update" checked="checked" /><label for="update" >Обычный импорт</label><br />
						<input type="radio" name="update" value="remove" id="update" /><label for="update" >Удалить продукты указанные в прайсе</label><br />
					<input type="hidden" name="Event" value="Import" /><br /><br />
					<input type="submit" value="Ok" />
				</form>
				<br />
				<?if($this->ImpCnt['ins']){?>
					<p>
						Было добавлено <?= $this->ImpCnt['ins']?> позиций.
					</p><br/>
				<?}?>
				<?if($this->ImpCnt['upd']){?>
					<p>
						Было обновлено <?= $this->ImpCnt['upd']?> позиций.
					</p><br/>
				<?}?>
				<?if($this->ImpCnt['remove']){?>
					<p>
						Было удалено <?= $this->ImpCnt['remove']?> позиций.
					</p><br/>
				<?}?>
				<?if(sizeof($this->FatalErrors) > 0) {?>
					<p style="color: red">Произошли следующие ошибки: </p>
					<?foreach($this->FatalErrors as $val) {?>
					<p><?=$val?></p>
					 <?}?>
					 <br/>
				<?}?>
				<?if(is_array($this->ImpCnt['duplicate'])){?>
					<?foreach($this->ImpCnt['duplicate'] as $d){?>
						<?= $d?>
					<?}?>
					<br/>
				<?}?>
				<?if(sizeof($this->ErLog) > 0) {?>
					<p>При импорте найдены строки с ошибками: </p><br>
					<?foreach($this->ErLog as $val) {?>
					<p><?=$val?></p>
					 <?}?>
				<?}?>
				</div></div></div></div></div></div></div></div></div>
		</div>
		
</div>

