	<div class="PageTitle">
		<ul class="breadcrumbs">
			<li><a href="/" title="" class="arrow">Главная</a></li>
			<li><p>Восстановление пароля</p></li>
		</ul>
	</div>
	<div class="SingleText">
			 <form action="" method="post" class="registration_form">
					<? if(!$this->Success){ ?>
						<p>Введите E-mail, указанный при регистрации</p>
					<?}?>	
						<? if($this->Error){ ?>
							<p><?= $this->Error ?></p>
						<? } ?>
						<? if($this->Success){ ?>
							<p class="msg success">
								<?= $this->Success?>
							</p>
						<? }else{ ?>
							<table class="input-form">
								<tr>
								<td>Email:</td>
				                <td><input type="text" name="email" value="" class="text-field input ui-widget-content ui-corner-all"/></td>
				                </tr>
								<tr>
									<td></td>
									<td>
									<?if(!$this->Success){?>
						<input type="image" src="<?=$this->RootUrl?>public/images/recovery.jpg" value="Восстановить" />
					<?}?>	
									</td>
								</tr>
							</table>
						<?}?>	
					
				<input type="hidden" value="Recover" name="Event" />
			</form>
	</div>