<? if($this->Pages_sz > 1){ ?>
	<b>Страница:</b>
	<?if($this->FirstLast){?>
		<? if($this->FirstHref){?><a href="javascript:void(null);" onclick="SearchPager(<?= $this->FirstHref ?>);" ><span>&lt;&lt;</span></a><?}?>					
	<?}?>
	<?if($this->PrevNext){?>
			<? if($this->PrevHref){?><a href="javascript:void(null);" onclick="SearchPager(<?= $this->PrevHref ?>);" ><span>&lt;</span></a><?}?>					
	<?}?>
	<? for($i = 0; $i < $this->Pages_sz; $i++){ ?>
		<? if($this->Pages[$i]['href']){ ?>
			<a href="javascript:void(null);" onclick="SearchPager(<?= $this->Pages[$i]['href'] ?>);"><?= $this->Pages[$i]['title'] ?></a>
		<? } else { ?>
			<a href="javascript:;" class="current"><span><?= $this->Pages[$i]['title'] ?></span></a>
		<? } ?>
	<? } ?>
				
	<?if($this->PrevNext){?>
		<? if($this->NextHref){?><a href="javascript:void(null);" onclick="SearchPager(<?= $this->NextHref ?>);" ><span>&gt;</span></a><?}?>
	<?}?>

	<?if($this->FirstLast){?>
		<? if($this->LastHref){?><a href="javascript:void(null);" onclick="SearchPager(<?= $this->LastHref ?>);" ><span>&gt;&gt;</span></a><?}?>					
	<?}?>		
<? } ?>