<?//_debug($_POST, 1)?>
<?if($this->Success){?>
		
		<?/* <script src="<?=$this->RootUrl?>public/js/jquery.alerts.js?<?=time()?>" type="text/javascript"></script>
  		<link href="<?=$this->RootUrl?>public/css/jquery.alerts.css?<?=time()?>" rel="stylesheet" type="text/css" media="screen" />
		
		<script type="text/javascript">
			jAlert('Ваше сообщение отправлено!');
		</script> */?>
		
		<script type="text/javascript" src="<?=$this->RootUrl?>public/js/jquery.scrollTo-1.4.2-min.js"></script>
		
		<script type="text/javascript">
			$(document).ready(function(){
				jQuery.scrollTo("#ContactForm", {offset: {top:-30}});
				jQuery("#ContactForm").val('');

			});
		</script>
		
<?}elseif($this->Error){?>
	
	<script type="text/javascript" src="<?=$this->RootUrl?>public/js/jquery.scrollTo-1.4.2-min.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function(){
			jQuery.scrollTo("#ContactForm", {offset: {top:-30}});
		});
	</script>
<?}?>

<ul class="cont-acts">
	<li>{[FORM_REVIEWS]}</li>
</ul>
<form id="ContactForm" action="" method="post" enctype="multipart/form-data" style="float:left;">
	<div class="lineForm">
		<input name="name" type="text" class="name-field valid <?= $this->Error['name'] ? 'error-ico' : ''?>" value="<?= $_POST['name'] ? $_POST['name'] : '{[FORM_NAME_REVIEWS]}' ?>" title="{[FORM_NAME_REVIEWS]}" onclick="if(this.value == '{[FORM_NAME_REVIEWS]}') this.value=''" onblur="if(this.value =='') this.value='{[FORM_NAME_REVIEWS]}'" />
		<? /*<input name="email" type="text" class="mail-field valid <?= $this->Error['email'] ? 'error-ico' : ''?>" value="<?= $_POST['email'] ? $_POST['email'] : '{[FORM_EMAIL]}' ?>" title="{[FORM_EMAIL]}" onclick="if(this.value == '{[FORM_EMAIL]}') this.value=''" onblur="if(this.value =='') this.value='{[FORM_EMAIL]}'" /> */ ?>
		<div class="clear"></div>
		<?/* <?
			$departments = $this->_get_lang_constant('DEPARTMENTS');
			$departments = explode(';', $departments);
			//_debug($departments, 1);
		?><?//= $_POST['department']; _debug($departments)?>
		<select class="noFocus div-select" id="divIndex" name="department" tabindex="2">
			<option value="0"<?/*  selected="selected" *-/?>>{[FORM_DEPARTMENT]}</option>
			<?foreach($departments as $department){?>
				<option value="<?= $department?>"<?= $_POST['department'] == $department ? 'selected="selected"' : ''?>><?= $department?></option>
			<?//$i++?>
			<?}?>
		</select> */?>
		<textarea name="message" class="valid <?= $this->Error['message'] ? 'error-ico' : ''?>" rows="" cols="" title="{[FORM_MESSAGE_REVIEWS]}" onclick="if(this.value == '{[FORM_MESSAGE_REVIEWS]}') this.value=''" onblur="if(this.value =='') this.value='{[FORM_MESSAGE_REVIEWS]}'" ><?= $_POST['message'] ? $_POST['message'] : '{[FORM_MESSAGE_REVIEWS]}' ?></textarea>
		<div class="clear"></div>
		<input class="button" type="submit" value="{[SEND]}"/>
		<?/* <div class="fileinputs">
			<input name="file" type="file" class="file" value="" onchange="getElementById('ffl').value = encodeURI(this.value).replace('C:%5Cfakepath%5C','')" />
			<div class="fakefile">
				<span class="file-in">{[FORM_ATTACH]}</span>
				<input id="ffl" class="ffile"/>
			</div>
		</div> */?>
		<?/* <input type="file" id="attFile" name="attFile" value="" /> */?>
	</div>
	<input  name="Event" type="hidden" value="SendReviews" />
</form>
<?/*if($this->Error){?>
	<div style="float:left; padding:20px 50px;">
		<?if($this->Error['name']){?><p style="color:red;">Введите Ваше имя</p><?}?>
		<?if($this->Error['name']){?><p style="color:red;">Введите адрес электронной почты</p><?}?>
		<?if($this->Error['name']){?><p style="color:red;">Выберите отдел</p><?}?>
		<?if($this->Error['name']){?><p style="color:red;">Введите сообщение</p><?}?>
	</div>
<?}*/?>
<?if($this->Success || $this->Error){?>
	<div class="contacts-info">
		<?if($this->Success){?>
			<p>Спасибо!</p>
			<p>Ваше отзыв отправлен!</p>
			
		<?}?>
		<?if($this->Error){?>
			<?if($this->Error['name']){?><p style="color:red;">Введите Ваше имя</p><?}?>
			<?if($this->Error['email']){?><p style="color:red;">Введите адрес электронной почты</p><?}?>
			<?/* <?if($this->Error['department']){?><p style="color:red;">Выберите отдел</p><?}?> */?>
			<?if($this->Error['message']){?><p style="color:red;">Введите сообщение</p><?}?>
		<?}?>
	</div>
<?}?>
<div class="clear"></div>
<!--<div class="afterform">{[FORM_AFTER]}</div>-->