<?
	global $server;

	$news_list = $this->_load_content_translation('news',
														't.published = 1 AND 
														t.news = 0 AND 
														t.publish_ts <= '.time(),
														't.publish_ts DESC',
														'','',
														($server?$this->_get_system_variable('news_left_limit')-1:$this->_get_system_variable('news_left_limit')));
	//print_r($news_list);
	$DB->debug= false;
	if($news_list){
		
	
		//print_r($news_list);
		
?>

<div class="newsfish">
	<?foreach($news_list as $el=>$news_item){?>
	<div class="fishrow">
		<?$month = date('n',$news_item['publish_ts']) - 1;?>
		<div class="fishcell datecell"><span class="ntrnewsday cufon"><?=date('d',$news_item['publish_ts'])?></span><span class="ntrnewsmonth cufon"><?=$this->MonthS[$month]?></span></div>
		<div class="fishcell">
			<div><span class="ntrnewsdateheader"><a href="<?=($this->SiteLang == 'ua'?'/ua/':'/').'news/view/'.($news_item['url']).'.html'?>" title=""><?=$news_item['title']?></a></span></div>
			<div><span class="ntrnewsdatetext"><?=strip_tags( $news_item['introtext'])?></span></div>
		</div>
	</div>
	<?}?>	
</div>

<?}?>
<?	$news_list = $this->_load_content_translation('news',
														't.published = 1 AND 
														t.news = 1 AND 
														t.publish_ts <= '.time(),
														't.publish_ts DESC',
														'','',
														($server?$this->_get_system_variable('info_left_limit')-1:$this->_get_system_variable('info_left_limit')));
	//print_r($news_list);	
	if($news_list){
		//print_r($news_list);
?>
<div class="tipsfish">
	<?foreach($news_list as $el=>$news_item){?>
	<div class="fishrow">
		<div class="fishrow">
			<div class="fishcell numcell"><span class="ntrnewsday cufon">№<?=$el+1?></span></div>
			<div class="fishcell"><span class="ntrnewsdateheader"><a href="<?=($this->SiteLang == 'ua'?'/ua/':'/').'news/view/'.($news_item['url']).'.html'?>" title=""><?=$news_item['title']?></a></span></div>
		</div>
		<div>
			<span class="ntrnewsdatetext"><?=strip_tags( $news_item['introtext'])?></span>
		</div>
	</div>
	<?}?>
</div>
<?}?>