<? if($this->Pages_sz > 1){ ?>
<div class="pagenumbers">
	<?/* <ul style="width: 83px"> */?>
	<ul>
		<? for($i = 0; $i < $this->Pages_sz ; $i++){ ?>
			<li class="page<?=$i+1?>" >
				<? if($this->Pages[$i]['href']){ ?>
					<a href="<?= $this->Pages[$i]['href'] ?>" ><?= $this->Pages[$i]['title'] ?></a>
				<? } else { ?>
					<a class="activepage" href="<?= $this->Pages[$i]['href'] ?>" ><?= $this->Pages[$i]['title'] ?></a>
				<? } ?>
			</li>
		<? } ?>
	</ul>
</div>
<? } ?>