<div class="categories">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit'] && !$this->Perm['moderate']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<? } ?>
	</div></div>
	
	<div class="form-container">
		<div class="form"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<? if($this->DisplayError){ ?>
				<p class="error">Ошибка, проверте выделенные поля</p>
			<? } ?>
			<?if($this->FileError){?>
				<p class="error"><?=$this->FileError?></p>
			<?}?>
			
			<form action="" method="post" enctype="multipart/form-data">
			
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td class="min-width <?= $this->Errors['title'] ? 'error' : '' ?>"><label for="title">Название:</label></td>
						<td class="input"><input type="text" id="title" name="title:str" value="<?= $_POST['title:str'] ?  $_POST['title:str'] : $this->BrandInfo['title'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['url'] ? 'error' : '' ?>"><label for="url">Ссылка:</label></td>
						<td class="input"><input type="text" id="url" name="url:str" value="<?= $_POST['url:str'] ?  $_POST['url:str'] : $this->BrandInfo['url'] ?>" /></td>
					</tr>
					<tr>
						<td class="min-width"><label for="filename">Изображение:</label></td>
						<td class="input">
							<table cellpadding="0" cellspacing="0">
								<tr><td colspan="2"><?if($this->BrandInfo['image']){?><img src="<?= $this->BrandInfo['image']?>" /><?}?></td></tr>
								<tr>
									<td style="width: 260px;">
										<input style="width:170px; margin: 0;" type="input" id="xImagePath" name="image:str" value="<?= $_POST['image:str'] ?  $_POST['image:str'] : $this->BrandInfo['image'] ?>" />
									</td> 
									<td align="left"><img onclick="BrowseServer( 'Images:/', 'xImagePath' );"  src="<?= $this->RootUrl ?>public/images/buttons/view.gif" /></td>
								</tr>
							</table>
						</td>
					</tr>
					<!--
					<tr>
						<td class="min-width"><label for="filename">Прайс-лист:</label></td>
						<td class="input">
							<table cellpadding="0" cellspacing="0">
								<tr><td colspan="2"><?if($this->BrandInfo['filename']){?><?= $this->BrandInfo['filename']?><?}?></td></tr>
								<tr>
									<td style="width: 260px;">
										<input style="width:170px; margin: 0;" type="input" id="xFilePath" name="filename:str" value="<?= $_POST['filename:str'] ?  $_POST['filename:str'] : $this->BrandInfo['filename'] ?>" />
									</td> 
									<td align="left"><img onclick="BrowseServer( 'Files:/', 'xFilePath' );" src="<?= $this->RootUrl ?>public/images/buttons/view.gif" /></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<?
							if($_POST['show:int']) {
								$checked = $_POST['show:int'];
							}
							elseif($this->BrandInfo) {
								$checked = $this->BrandInfo['show:int'];
							}
						?>
						<td style="width: 1%; white-space: nowrap"><label for="show">Показывать прайс:</label></td>
						<td style="width: 99%">
							<input type="hidden" name="show:int" value="0" />
							<input type="checkbox" id="show" name="show:int" value="1" <?= $checked ? 'checked="checked"' : '' ?> />
						</td>
					</tr>
					-->
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>banners/'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>