<div class="s-center">

	<div class="text-title">
		<?if($this->ViewEvent == 'AllNews'){?>
		<h2>{[REVIEWS_TITLE]}</h2>
		<?}else{?>
		<h1><?= $this->OneNews['title']?></h1>
		<h2><span class="date">от <?= $this->OneNews['date']?></span></h2>
		<?}?>
	</div>
	<div class="inside">
		<div class="main-left-box">
				<?//include PATH_SNIPPETS.'breadcrumbs.php'?>
				<?if($this->ViewEvent == 'AllNews'){?>
				
				<?if($this->News){?>
					
						<?foreach($this->News as $news){?>
							<div class="news-sect">
								<div class="news-text">
									<h2><? /*<a href="<?= $this->LN_url?>news/view/<?= $news['url']?>.html"> */?><?= $news['title']?> <? /*</a> */?>
									<span class="date">от <?= date($this->_get_system_variable('date_format'), $news['publish_ts'])?></span></h2>
									<p><?= $news['fulltext']?></p>
								</div>
								
							</div>
						<?}?>
						<? echo $this->PageNavigator->Run();
						
						?>
						<?if ( isset($_SESSION['user_account'])){?>
							<?$sql = "SELECT * FROM `orders` WHERE buyer_id='".$_SESSION['user_account']['id']."' AND
							( `state`='took' || `state`='sentnpost' || `state`='sent_courier' 
							|| `state_issuing`='took' || `state_issuing`='sentnpost' || `state_issuing`='sent_courier') ";?>
							<? //_debug($sql,1); ?>
							<?$pr= GetRow($sql);?>
							<?if(isset($pr) && $pr){?>
								<?= $this->PageInfo['content']?>
							<?}?>
						<?}?>
					
				<?}else{?>
					
					
						<p class="info-text">{[NO_NEWS]}</p>
					
		<?}?>
		<?}else{?>
		<?= $this->OneNews['fulltext']?>
		<?}?>
		</div>
		
	</div>
</div>
<div class="clear"></div>
