<div class="categories">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<? } ?>
	</div></div>
	
	<div class="form-container">
		<div class="form" style="width: 600px"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<? if($this->DisplayError){ ?>
				<p class="error">Ошибка, проверьте выделенные поля</p>
			<? } ?>
			
			<form action="" method="post">
			
				<table cellpadding="0" cellspacing="0">
					<tr>
						<td class="min-width"><label for="lang">Язык:</label></td>
						<td class="input">
							<?
							
								function SelectLangOpion($option, $data){
									$res = '';
									if($data['lang']){
										$res = $data['lang'] == $option ? 'selected':'';
									}else{
										$res = $_REQUEST['lang'] == $option ? 'selected':'';
									}
									return $res;
								}
							
							?>
							<select class="small-width" <?= $_GET['Event'] == 'Edit' ? 'disabled' : '' ?> name="lang" id="lang">
								<option value="ru" <?=SelectLangOpion('ru', $this->Record)?>>Рус</option>
								<option value="ua" <?=SelectLangOpion('ua', $this->Record)?>>Укр</option>
								<option value="en"  <?=SelectLangOpion('en', $this->Record)?>>Англ.</option>
							</select>
													
						</td>
					</tr>
					
					<tr>
						<td class="min-width <?= $this->Errors['name'] ? 'error' : '' ?>">
							<label for="name">Название:</label>
						</td>
						<td class="input">
							<input type="text" id="name" name="name" value="<?= $_POST['name'] ?  $_POST['name'] : $this->Record['name'] ?>" />
						</td>
					</tr>
					<?	
						$checked = 0;
						$html = '';
						$val = '';
						if($_POST){
							if($_POST['html'] == 1){ 
								$checked  = 1;
								$html = $_POST['html_value'];
							}else{
								$checked  = 0;
								$val = $_POST['value'];
							}
						}else{
							if($this->Record['html'] == 1){ 
								$checked  = 1;
								$html = $this->Record['value'];
							}else{
								$checked  = 0;
								$val = $this->Record['value'];
							}
						}
					?>
					<tr>
						<td class="min-width <?= $this->Errors['value'] ? 'error' : '' ?>">
							<label for="html_no">Текстовое поле:</label>
							<input style="margin-left:-28px;" type="radio" name="html" id="html_no" <?=( $checked == 0 ) ? 'checked="checked"':'' ?> value="1" />
						</td>
						<td class="input">
							<input type="text" id="value" name="value" value="<?= $_POST['value'] ?  $_POST['value'] : $val ?>" />
						</td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['html_name'] ? 'error' : '' ?>">
							<label for="html">HTML поле:</label>
							<input type="radio" name="html" id="html" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> value="0" />
						</td>
						<td class="input publish">
							<textarea rows="10" name="html_value" id="fulltext" cols="10"><?= $_POST ? $_POST['html_value']: $html ?></textarea>							
						</td>
					</tr>
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>language-constants/?page=<?= $_GET['page']?>&keyword=<?= $_GET['keyword']?>&sort=<?= $_GET['sort']?>&direct=<?= $_GET['direct']?>&lang_id=<?= $_GET['lang_id']?>'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>