<div class="intro-content">
			
				<div class="page-padding">
					<div class="border-container">
						<div class="t"><div class="r"><div class="b"><div class="l"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
							<table cellpadding="0" class="content-table" cellspacing="0">
								<tr>
									<td class="left-column">
							
										<div class="text">
											<div class="breadcrumbs">
												<?=$this->getBredcrumbs($this->PageInfo['id'],'page')?>
											</div>
											<div class="clear"></div>
											
											<div class="text-container faq">
<?if( $this->PageInfo['content']){?>
	
												
	<a name="top"></a>

	<?= $this->PageInfo['content'] ?>


	<?for($i=0; $i<$this->Faq_sz; $i++){?>
		<h2 class="faq-title" id="Up_<?= $this->Faq[$i]['id']?>" ><?= $this->Faq[$i]['question']?></h2>
		<ul>
			<?for($k=0; $k < count($this->Faq[$i]['questions']); $k++){?>
				<li class="faq-li">
					<a href="#Down_<?= $this->Faq[$i]['questions'][$k]['id']?>">
						<?= $this->Faq[$i]['questions'][$k]['question']?>
					</a>
				</li>
			<?}?>
		</ul>
	<?}?>
	<?for($i=0; $i<$this->Faq_sz; $i++){?>
		<ul style="margin-top:40px;" >
			<?for($k=0; $k < count($this->Faq[$i]['questions']); $k++){?>
				<li  class="faq-li" id="Down_<?= $this->Faq[$i]['questions'][$k]['id']?>">
					<a href="#Up_<?= $this->Faq[$i]['questions'][$k]['p_id']?>">
						<?= $this->Faq[$i]['questions'][$k]['question']?>
					</a><a href="#top">{[_LNG_UP]}</a>
					<p><?= $this->Faq[$i]['questions'][$k]['answer']?></p>
				</li>
			<?}?>
		</ul>	
	<?}?>


<hr />
<div class="contact-form">
	<h1>Задайте вопрос</h1>
	<form action="" id="faq" method="post">
		<table cellpadding="3" cellspacing="3">	
			<?if($this->Error){?>
				<tr>
					<td colspan="2"><p class="msg error"><?=$this->Error?></p></td>
				</tr>
			<?}?>
			<?if($_REQUEST['Event'] == 'SendMessageSuccess'){?>
				<tr>
					<td colspan="2"><p class="msg success">Ваш вопрос был отправлен. Ответ вы сможете увидеть на нашем сайте или с вами свяжется наш менеджер.</p></td>
				</tr>
			<?}?>
			<tr>
				<td colspan="2">Поля отмеченные <span class="star">*</span> обезательны для заполнения</td>
			</tr>
			<tr>
				<td>ФИО <span class="star">*</span></td>
				<td><input class="text-field"  type="text" name="fio" style="width:250px;" value="<?=$this->Fio?>"/></td>
			</tr>
			
			<tr>
				<td>E-mail <span class="star">*</span></td>
				<td><input class="text-field"  type="text" name="email" style="width:250px;" value="<?=$this->Email?>"/></td>
			</tr>
			
			<tr>
				<td>Вопрос <span class="star">*</span></td>
				<td>
					<textarea cols="10" style="width:250px;height:150px;" name="message" rows="5"><?=$this->Message?></textarea>
				</td>
			</tr>
			<tr>
				<td>Код <span class="star">*</span></td>
				<td>
					<img src="<?=$this->RootUrl?>captcha/index.php" alt=""/><br />
					<input  class="text-field" style="width: 120px;" type="text" name="captcha" class="captcha" value=""/>
				</td>
			</tr>
			<tr>
				<td></td>
				<td><input type="image" src="<?=$this->RootUrl?>public/images/send.gif" value="Отправить" />
					<input type="image" onclick="document.getElementById('faq').reset(); return false;" src="<?=$this->RootUrl?>public/images/clear.gif" value="Очистить" />
					<input type="hidden" value="SendFaqMessage" name="Event" />
				</td>
			</tr>
		</table>
	</form>
</div>
			
<?}else{?>
	<p>
		Страница находится на стадии наполнения. 
		Приносим свои извинения. 
		Попробуйте обновить страницу (F5) или перейти на <a href="<?= $this->RootUrl?>">главную</a> и там поискать то что требуется.
	</p>
<?}?>
												
											</div>
											
										</div>
						
									
									
									</td>
									<td class="right-block">
										<div class="right-panel">
											<?if($this->PageInfo['show_form']){?>
											<? include PATH_SNIPPETS.'manager.html' ?> 
											<?}?>
											

											<?if($this->PageInfo['show_links']){?>
											<? include PATH_SNIPPETS.'menu-links.html' ?> 
											<?}?>
											
											<? include PATH_SNIPPETS.'links.html' ?> 
																								
											
										</div>
									</td>
								</tr>
							</table>
							 	
							<div class="clear"></div>
						</div></div></div></div></div></div></div></div>
					</div>
				
				</div>
			
			</div>