<? if($this->Pages_sz > 1){ ?>
	<div class="page-navigator">
		
		<div class="pn-pages">
			<?if($this->FirstLast){?>
				<? if($this->FirstHref){?><a href="<?= $this->FirstHref ?>" ><span>&lt;&lt;</span></a><?}?>					
			<?}?>
	
			<?if($this->PrevNext){?>
				<? if($this->PrevHref){?><a href="<?= $this->PrevHref ?>" ><span>&lt;</span></a><?}?>					
			<?}?>
			<? for($i = 0; $i < $this->Pages_sz; $i++){ ?>
				<? if($this->Pages[$i]['href']){ ?>
					<a href="<?= $this->Pages[$i]['href'] ?>" class="info"><?= $this->Pages[$i]['title'] ?></a>
				<? } else { ?>
					<span><?= $this->Pages[$i]['title'] ?></span>
				<? } ?>
			<? } ?>
			<?if($this->PrevNext){?>
				<? if($this->NextHref){?><a href="<?= $this->NextHref ?>" ><span>&gt;</span></a><?}?>
			<?}?>
	
			<?if($this->FirstLast){?>
				<? if($this->LastHref){?><a href="<?= $this->LastHref ?>" ><span>&gt;&gt;</span></a><?}?>					
			<?}?>
		</div>
		
	</div>
<? } ?>