<div class="categories">
	<div class="top-panel"><div class="tp-right">
		<a href="<?= $this->RootUrl ?>"><img class="close" src="<?= $this->RootUrl ?>public/images/top-panel/close.gif" alt="" /></a>
		<? if($this->Perm['edit']){ ?>
			<a class="create-item" href="<?= $this->ModuleInfo['href'] ?>?Event=New">Создать</a>
		<? } ?>
	</div></div>
	
	<div class="form-container">
		<div class="form" style="width:100%;"><div class="bt"><div class="br"><div class="bb"><div class="bl"><div class="ctl"><div class="ctr"><div class="cbr"><div class="cbl">
			
			<? if($this->DisplayError){ ?>
				<p class="error">Ошибка, проверте выделенные поля</p>
			<? } ?>
			
			<form action="" method="post">
			
				<table cellpadding="0" cellspacing="0">
					
					<tr>
						<td class="min-width <?= $this->Errors['title'] ? 'error' : '' ?>"><label for="title">Имя:</label></td>
						<td class="input"><input type="text" id="title" name="title:str" value="<?= $_POST['title:str'] ?  $_POST['title:str'] : $this->ExpertInfo['title'] ?>" /></td>
					</tr>
					<?/* <tr>
						<td class="min-width <?= $this->Errors['ua_title'] ? 'error' : '' ?>"><label for="en_title">Заголовок (укр.):</label></td>
						<td class="input"><input type="text" id="ua_title" name="ua_title:str" value="<?= $_POST['ua_title:str'] ?  $_POST['ua_title:str'] : $this->ExpertInfo['ua_title'] ?>" /></td>
					</tr> */?>
					<?/* <tr>
						<td class="min-width <?= $this->Errors['en_title'] ? 'error' : '' ?>"><label for="en_title">Имя (English):</label></td>
						<td class="input"><input type="text" id="en_title" name="en_title:str" value="<?= $_POST['en_title:str'] ?  $_POST['en_title:str'] : $this->ExpertInfo['en_title'] ?>" /></td>
					</tr> */?>
					<? /* ?>
					<tr>
						<td class="min-width <?= $this->Errors['group'] ? 'error' : '' ?>"><label for="group">Группа:</label></td>
						<td class="input"><input type="text" id="group" name="group:int" value="<?= $_POST['group:int'] ?  $_POST['group:int'] : $this->ExpertInfo['group'] ?>" /></td>
					</tr>
					<? */ ?>
					<tr>
						<td class="min-width <?= $this->Errors['order_by'] ? 'error' : '' ?>"><label for="order_by">Сортировка:</label></td>
						<td class="input"><input type="text" id="order_by" name="order_by:int" value="<?= $_POST['order_by:int'] ?  $_POST['order_by:int'] : $this->ExpertInfo['order_by'] ?>" /></td>
					</tr>
					
					<tr>
						<td class="min-width <?= $this->Errors['url'] ? 'error' : '' ?>"><label for="url">URL:</label></td>
						<td class="input"><input type="text" id="url" name="url:str" value="<?= $_POST['url:str'] ?  $_POST['url:str'] : $this->ExpertInfo['url'] ?>" /></td>
					</tr>
					<tr>
						<?	
							$checked = 0;
							if($_POST){
								if($_POST['publish:int'] == 1){ 
									$checked  = 1;
								}else{
									$checked  = 0;
								}
							}else{
								if($this->ExpertInfo){
									if($this->ExpertInfo['publish'] == 1){ 
										$checked  = 1;										
									}else{
										$checked  = 0;										
									}
								}
							}
						?>
						<td class="min-width"><label for="publish">Опубликован:</label></td>
						<td class="input publish">
							<input type="radio" style="width: auto;" name="publish:int" id="publish" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="publish">Да</label><br />
							<input type="radio" style="width: auto;" name="publish:int" id="publish_no" <?=( $checked == 0 ) ? 'checked="checked"':'' ?> value="0" /><label for="publish_no">Нет</label>
						</td>
					</tr>
					<tr>
						<td class="min-width"><label for="filename">Изображение (имя):</label></td>
						<td class="input">
							<table cellpadding="0" cellspacing="0">
								<tr><td colspan="2"><?if($this->ExpertInfo['filename']){?><img src="<?= $this->ExpertInfo['filename']?>" /><?}?></td></tr>
								<tr>
									<td style="width: 260px;">
										<input style="width:170px; margin: 0;" type="input" id="xImagePath" name="filename:str" value="<?= $_POST['filename:str'] ?  $_POST['filename:str'] : $this->ExpertInfo['filename'] ?>" />
									</td> 
									<td align="left"><img onclick="BrowseServer( 'Images:/', 'xImagePath' );" src="<?= $this->RootUrl ?>public/images/buttons/view.gif" /></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="min-width"><label for="img">Изображение (фото):</label></td>
						<td class="input">
							<table cellpadding="0" cellspacing="0">
								<tr><td colspan="2"><?if($this->ExpertInfo['img']){?><img src="<?= $this->ExpertInfo['img']?>" /><?}?></td></tr>
								<tr>
									<td style="width: 260px;">
										<input style="width:170px; margin: 0;" type="input" id="xImagePath2" name="img:str" value="<?= $_POST['img:str'] ?  $_POST['img:str'] : $this->ExpertInfo['img'] ?>" />
									</td> 
									<td align="left"><img onclick="BrowseServer( 'Images:/', 'xImagePath2' );" src="<?= $this->RootUrl ?>public/images/buttons/view.gif" /></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="min-width <?= $this->Errors['profession'] ? 'error' : '' ?>"><label for="profession">Профессия:</label></td>
						<td class="input"><input type="text" id="profession" name="profession:str" value="<?= $_POST['profession:str'] ?  $_POST['profession:str'] : $this->ExpertInfo['profession'] ?>" /></td>
					</tr>
					<?/* <tr>
						<td class="min-width <?= $this->Errors['en_profession'] ? 'error' : '' ?>"><label for="en_profession">Профессия (English):</label></td>
						<td class="input"><input type="text" id="en_profession" name="en_profession:str" value="<?= $_POST['en_profession:str'] ?  $_POST['en_profession:str'] : $this->ExpertInfo['en_profession'] ?>" /></td>
					</tr> */?>
					<tr>
						<td class="min-width <?= $this->Errors['experience'] ? 'error' : '' ?>"><label for="experience">Стаж:</label></td>
						<td class="input"><input type="text" id="experience" name="experience:str" value="<?= $_POST['experience:str'] ?  $_POST['experience:str'] : $this->ExpertInfo['experience'] ?>" /></td>
					</tr>
					<?/* <tr>
						<td class="min-width <?= $this->Errors['en_experience'] ? 'error' : '' ?>"><label for="en_experience">Стаж (English):</label></td>
						<td class="input"><input type="text" id="en_experience" name="en_experience:str" value="<?= $_POST['en_experience:str'] ?  $_POST['en_experience:str'] : $this->ExpertInfo['en_experience'] ?>" /></td>
					</tr> */?>
					<tr>
						<td class="min-width <?= $this->Errors['blog_title'] ? 'error' : '' ?>"><label for="blog_title">Название блога:</label></td>
						<td class="input"><input type="text" id="blog_title" name="blog_title:str" value="<?= $_POST['blog_title:str'] ?  $_POST['blog_title:str'] : $this->ExpertInfo['blog_title'] ?>" /></td>
					</tr>
					<?/* <tr>
						<td class="min-width <?= $this->Errors['en_blog_title'] ? 'error' : '' ?>"><label for="en_blog_title">Название блога (English):</label></td>
						<td class="input"><input type="text" id="en_blog_title" name="en_blog_title:str" value="<?= $_POST['en_blog_title:str'] ?  $_POST['en_blog_title:str'] : $this->ExpertInfo['en_blog_title'] ?>" /></td>
					</tr> */?>
					<tr>
						<td class="min-width <?= $this->Errors['blog_index'] ? 'error' : '' ?>"><label for="blog_title">Оглавление блога:</label></td>
						<td class="input"><input type="text" id="blog_index" name="blog_index:str" value="<?= $_POST['blog_index:str'] ?  $_POST['blog_index:str'] : $this->ExpertInfo['blog_index'] ?>" /></td>
					</tr>
					<?/* <tr>
						<td class="min-width <?= $this->Errors['en_blog_index'] ? 'error' : '' ?>"><label for="en_blog_index">Оглавление блога (English):</label></td>
						<td class="input"><input type="text" id="en_blog_index" name="en_blog_index:str" value="<?= $_POST['en_blog_index:str'] ?  $_POST['en_blog_index:str'] : $this->ExpertInfo['en_blog_index'] ?>" /></td>
					</tr> */?>
					<tr>
						<td class="min-width va-top <?= $this->Errors['content'] ? 'error' : '' ?>"><label for="body_<?= $this->Lang; ?>">Биография:</label></td>
						<td class="input"><textarea cols="29" rows="7" name="content:str" id="content"><?= $_POST['content:str'] ?  $_POST['content:str'] : $this->ExpertInfo['content'] ?></textarea></td>
					</tr>
					<?/* <tr>
						<td class="min-width va-top <?= $this->Errors['content'] ? 'error' : '' ?>"><label for="body_<?= $this->Lang; ?>">Содержание (укр.):</label></td>
						<td class="input"><textarea cols="29" rows="7" name="ua_content:str" id="content_ua"><?= $_POST['ua_content:str'] ?  $_POST['ua_content:str'] : $this->ExpertInfo['ua_content'] ?></textarea></td>
					</tr> */?>
					<?/* <tr>
						<td class="min-width va-top <?= $this->Errors['content'] ? 'error' : '' ?>"><label for="body_<?= $this->Lang; ?>">Биография (English):</label></td>
						<td class="input"><textarea cols="29" rows="7" name="en_content:str" id="content_ua"><?= $_POST['en_content:str'] ?  $_POST['en_content:str'] : $this->ExpertInfo['en_content'] ?></textarea></td>
					</tr> */?>
					<!-- 
					<tr>
						<td class="min-width"><label for="filename">Прайс-лист:</label></td>
						<td class="input">
							<table cellpadding="0" cellspacing="0">
								<tr><td colspan="2"><?if($this->ExpertInfo['price_list']){?><a href="<?= $this->ExpertInfo['price_list']?>">Скачать прайс-лист</a><?}?></td></tr>
								<tr>
									<td style="width: 260px;">
										<input style="width:170px; margin: 0;" type="input" id="xFilePath" name="price_list:str" value="<?= $_POST['price_list:str'] ?  $_POST['price_list:str'] : $this->ExpertInfo['price_list'] ?>" />
									</td> 
									<td align="left"><img onclick="BrowseServer( 'Files:/', 'xFilePath' );" src="<?= $this->RootUrl ?>public/images/buttons/view.gif" /></td>
								</tr>
							</table>
						</td>
					</tr>
					<tr>
						<td class="min-width"><label for="category">Страница:</label></td>
						<td class="input">
							<?
								$selected = 0;
								if($_POST['page_id:int']){
									$selected = $_POST['page_id:int'];	
								}elseif($this->ExpertInfo['page_id']){
									$selected = $this->ExpertInfo['page_id'];
								}
								echo _generate_SELECT(array(
									'name' 			=> 'page_id:int',
									'class'			=> '',
									'first_val' 	=> 0, 
									'first_title' 	=> 'Выберите страницу',
									'elements' 		=> $this->Pages, 
									'selected' 		=> $selected, 
									'val' 			=> array('val' => 'id', 'title' => 'title')
								));
							?>
						</td>
					</tr>
					-->
					<?/* <tr>
						<td class="min-width <?= $this->Errors['parent_id'] ? 'error' : '' ?>"><label for="parent_id">Родительская категория:</label></td>
						<td class="input">
							<select name="parent_id:int">
								<option value="0">-- Верхний уровень --</option>
								<? 
									$parent_id = $_POST['parent_id:int'] ? $_POST['parent_id:int'] : $this->ExpertInfo['parent_id'];
									for($i = 0; $i < $this->Categories_sz; $i++){ ?>
									<option value="<?= $this->Categories[$i]['id'] ?>" <?= $parent_id == $this->Categories[$i]['id'] ? 'selected="selected"' : '' ?>><?= $this->Categories[$i]['display_title'] ?></option>
								<? } ?>
							</select>
						</td>
					</tr> */?>
					
					<?	
						$checked = 0;
						if($_POST){
							
							if($_POST['onFront:int'] == 1){ 
								$checked  = 1;
							}else{
								$checked  = 0;
							}
						}else{
							if($this->ExpertInfo){
								if($this->ExpertInfo['onFront'] == 1){ 
									$checked  = 1;										
								}else{
									$checked  = 0;										
								}
							}
						}
					?>
					<?/*
					<tr>
						<td class="min-width"><label for="onFront">На главной:</label></td>
						<td class="input publish">
							<input type="radio" style="width: auto;" name="onFront:int" id="onFront" <?=( $checked == 1 ) ? 'checked="checked"':'' ?> value="1" /><label for="onFront">Да</label><br />
							<input type="radio" style="width: auto;" name="onFront:int" id="onFront_no" <?=( $checked == 0 ) ? 'checked="checked"':'' ?> value="0" /><label for="onFront_no">Нет</label>
						</td>
					</tr>
					*/?>
					<!--<tr>
						<td class="min-width <?= $this->Errors['discount'] ? 'error' : '' ?>"><label for="discount">Скидка %:</label></td>
						<td class="input"><input type="text" id="discount" name="discount:int" value="<?= $_POST['discount:int'] ?  $_POST['discount:int'] : $this->ExpertInfo['discount'] ?>" /></td>
					</tr>-->
					<?/* <tr>
						<td class="min-width <?= $this->Errors['count_in_row'] ? 'error' : '' ?>"><label for="count_in_row">Продуктов в ряду:</label></td>
						<td class="input"><input type="text" id="count_in_row" name="count_in_row:int" value="<?= $_POST['count_in_row:int'] ?  $_POST['count_in_row:int'] : $this->ExpertInfo['count_in_row'] ?>" /></td>
					</tr> */?>
					<tr>
						<td colspan="2"><div class="hr">&nbsp;</div></td>
					</tr>
					<tr>	
						<td colspan="2">
							<button type="submit" class="save"><img src="<?= $this->RootUrl ?>public/images/buttons/save.gif" alt="" /></button>
							<button type="button" class="cancel" onclick="window.location='<?= $this->RootUrl ?>categories/'"><img src="<?= $this->RootUrl ?>public/images/buttons/cancel.gif" alt="" /></button>
							<? if($_GET['Event'] == 'New'){ ?>
								<input type="hidden" name="Event" value="Insert" />
							<? } ?>
							<? if($_GET['Event'] == 'Edit'){ ?>
								<input type="hidden" name="Event" value="Update" />
							<? } ?>
						</td>
					</tr>
				</table>
			
			</form>
		</div></div></div></div></div></div></div></div></div>
	</div>
</div>